[2021-04-06 11:09] tallamtharunsai opened #2277 "For openvino modle zoo. Error while loading the model"
I am using openvino model zoo vehicle-license-plate-detection-barrier-0106 model.

For this I am trying to get this [xml file](https://storage.openvinotoolkit.org/repositories/open_model_zoo/2021.3/models_bin/2/vehicle-license-plate-detection-barrier-0106/FP16-INT8/vehicle-license-plate-detection-barrier-0106.xml) and [.bin file](https://storage.openvinotoolkit.org/repositories/open_model_zoo/2021

[2021-04-06 11:41] vladimir-dudnik commented on #2277
Hello,

first of all, the recommended way to download Open Model Zoo models is using a dedicated [downloader](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/downloader/README.md) tool.

The second, once you download model by recommended way, make sure your application is using OpenVINO runtime of the same version, to avoid situation when you take model from OpenVINO 2021.3 rel

[2021-04-06 11:50] tallamtharunsai commented on #2277
Yes. I have downloaded this today. And also tried different .xml and .bin files to load the model. But it stops with the error when it encounter "SSD/concat_reshape_softmax/Shape_1" this layer. I have my openvino installation done in my system. It's perfectly alright.

[2021-04-06 13:41] vladimir-dudnik commented on #2277
@tallamtharunsai could you test this with some of OpenVINO demo? You should be able to use either object_detection_demo (for only vehicle-license-plate-detection-barrier-0106 model) or security_barrier_camera_demo (this demo might also use additional models).
Below is screenshot from run security_barrier_camera_demo with vehicle-license-plate-detection-barrier-0106 (FP16-INT8) and vehicle-attribut

[2021-04-07 03:21] tallamtharunsai commented on #2277
I am testing it one of the demo images. Can you please give me some code and requirements.txt to run it? Because my code is not working.

[2021-04-07 07:48] tallamtharunsai opened #2282 "Error: while using opencv with inference engine"
I am Trying to use this code with opencv
[code]

but I am getting this error:
[code]

Any Suggestion?

[2021-04-07 07:55] vladimir-dudnik commented on #2277
@tallamtharunsai I do not understand what you are saying. What is your target system, what inference device you are trying to use, how did you prepare working environment, what application do you use to run your "test one demo images"?

Have you reviewed OpenVINO documentation, like [installation guides](https://docs.openvinotoolkit.org/latest/installation_guides.html), [get started guides](https:

[2021-04-07 08:02] tallamtharunsai commented on #2277
![image](https://user-images.githubusercontent.com/64833322/113831644-74359a00-97a5-11eb-9681-f0879cb58491.png)
I have installed openvino setup.
But this issue here is this while using this code:
[code]

Error is:
[code]

[2021-04-07 08:09] vladimir-dudnik commented on #2282
please describe first how did you get into this environment. What OpenVINO version have you installed, how do you build execution environment to run your test. Have you try Open Model Zoo demo?

[2021-04-07 08:14] vladimir-dudnik commented on #2277
you did not answer all the questions. have you try to run Open Model Zoo demos, which are intended to demonstrate how OpenVINO work with different models?

From your second thread I can see that model's XML and BIN file are differs in names, so it is definitely not a model you downloaded from OMZ, is not it?

[2021-04-07 09:35] vladimir-dudnik commented on #391
fix merged

[2021-04-07 09:35] #391 closed

[2021-04-07 10:14] tallamtharunsai commented on #2277
The .xml and .bin files are same.

[code]

From the above I have used the last 2 files.

The version of openvino is 2020.1
I have used the docs of openvino [https://docs.openvinotoolkit.org/latest/openvino_docs_install_guides_installing_openvino_linux.html](doc)

[2021-04-07 11:37] vladimir-dudnik commented on #2277
@tallamtharunsai in your original message you pointed out that you downloaded files from OpenVINO 2021.3 release (this easy to check if you follow by links which you were used)

If this still be true, then you need to use OpenVINO 2021.3 runtime to run inference on these models

Is there any reason you try a year old version of OpenVINO? Could you try the latest one, which is 2021.3 (released a co

[2021-04-07 23:08] mhamdan91 opened #2286 "Machine Translation Source Code Issue"
Hi, I am a developer with the devCloud team and I am currently developing a sample that uses the machine_translation_demo.py
I ran into several issues:

`
parser.add_argument('--output-name', type=str, default='pred/Squeeze',
                        help='Optional. Name of the models output node.')
`

the default argument is invalid as the output node name is not that. For English <--> Deutsch mod

[2021-04-07 23:18] vladimir-dudnik commented on #2286
@bes-dev could you please review this comment?

[2021-04-12 13:04] bes-dev commented on #2286
@mhamdan91 Hey, thanks for your feedback. I agree with you. We will fix it.

[2021-04-12 14:53] thiagortk commented on #1852
Hey guys,

Any news about that?

[2021-04-13 20:18] ikeaney opened #2300 "UNet Segmentation Model"
Is there any examples of the unet_camvid_onnx_0001 model working? When I run inference on the model the results are not representative of what's in the image. See examples below

![camvid_openvino_1](https://user-images.githubusercontent.com/25864143/114615448-9fd0ec80-9c9d-11eb-9926-63bc14098f44.png)

![camvid_openvino_0](https://user-images.githubusercontent.com/25864143/114615533-b9723400-9c9d-

[2021-04-13 22:00] vladimir-dudnik commented on #2300
Hello, below is screenshot of running Open Model Zoo Python segmentation demo from OpenVINO 2021.3 release, launched on Windows by following command:
python <demo_dir>\segmentation_demo.py -d CPU -i image.jpg -m <path_to_models>\unet-camvid-onnx-0001\FP16\unet-camvid-onnx-0001.xml -at segmentation -c <omz_dir>\data\palettes\camvid_12cl_colors.txt
![image](https://user-images.githubusercontent.com/

[2021-04-14 04:18] tallamtharunsai commented on #2277
I have run text spotting demo with openvino 2020.1 version. Its's working fine for me.

[2021-04-14 04:18] #2277 closed

[2021-04-14 04:20] tallamtharunsai commented on #2277
Thank you @vladimir-dudnik for helping me out through this conversation.

[2021-04-14 04:21] #2282 closed

[2021-04-14 07:20] dkurt commented on #1852
Hi! Please add compilation instructions. Have you added `-DCMAKE_CXX_FLAGS="-march=armv7-a"` flag?

[2021-04-14 07:52] MiaoRain opened #2302 "yolact_issues"
HI
I used the yolact model to predict，the mask distributes scatterly and dispersely. How to deal with this?
![bileiqi](https://user-images.githubusercontent.com/47746159/114673983-5a61fd00-9d39-11eb-998b-9188c378b99b.png)

[2021-04-14 07:53] MiaoRain commented on #2302
`#include <gflags/gflags.h>
#include <inference_engine.hpp>
#include <samples/common.hpp>
#include <samples/ocv_common.hpp>
#include <samples/slog.hpp>
#include <opencv2/opencv.hpp>
#include <algorithm>
#include <iostream>
#include <string>
#include <vector>
#include <memory>
#include <chrono>

using namespace InferenceEngine;

const int num_class = 2;
const int num_priors = 19248;
const float sco

[2021-04-14 07:54] MiaoRain commented on #2302
Any suggestions would be appreciated.

[2021-04-14 14:09] vladimir-dudnik commented on #2302
it seems you use your own yolact model, We do not know the implementation details of it or how it was trained, what pre- or post- processing is needed, so I'm not sure how we can help with this particular model.

As you probably know, Open Model Zoo include [yolact-resnet50-fpn-pytorch](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/yolact-resnet50-fpn-pytorch/yolact-r

[2021-04-15 01:17] MiaoRain commented on #2302
Thanks for your valuable suggestion. For the **yolact-resnet50-fpn-pytorch model**, could I replace the resnet50 with my own trained model?

[2021-04-15 06:18] vladimir-dudnik commented on #2302
@MiaoRain OMZ instance segmentation demo designed and tested with OMZ models, obviously. Of course you may try demo with your model, but it may not work if model inputs/outputs, pre-/post-processing is different, so require some modification of demo, depending on your model specifics.

[2021-04-15 11:55] MiaoRain commented on #2302
Hi, my model works in OMZ, but  I went through all code, still failed to find the setting on the anchor ratio,  like "const float aspect_ratios = { 1.f, 0.5f, 2.f }; "  Where could I set them? Thanks a lot

[2021-04-15 16:08] eaidova commented on #2302
@MiaoRain as I can see you try to generate prior outside the model, while our OMZ model was exported to ONNX with inclusion prior boxes calculation in the model. so we do not use aspect ratios in the code as it is the part of model and so I think such info should be found in your training repo configuration, also I think it is better place for understanding your model postprocessing then our.

[2021-04-15 18:45] Bahramudin opened #2314 "Where is the new link of the OpenVINO-Toolkit Model-Zoo"
Before I found the models [here](https://download.01.org/opencv/2021/openvinotoolkit/), but now OpenVINO Toolkit already updated to 2021.3, but I cannot see the update in the mentioned link.
So now where I can find the model-zoo?
Thanks!

[2021-04-15 21:35] vladimir-dudnik commented on #2314
Hi @Bahramudin we do recommend to use Open Model Zoo [Model Downloader](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/downloader/README.md) instead of access models by direct link. Note, Model Downloader from particular OpenVINO release will download models which where built and validated for this release. For your information, Model Downloader use configuration files, locate

[2021-04-16 10:08] edward9112 commented on #1729
@snosov1 @yssemaev
Hi again, just a follow-up regarding the agreement.
We spent a lot of time and resources collecting the data, so it would be unfortunate to just leave it behind.

[2021-04-16 10:36] Bahramudin commented on #2314
Thanks, @vladimir-dudnik! I got my answer.

[2021-04-16 12:01] vladimir-dudnik commented on #2314
ok, then I'll close this

[2021-04-16 12:01] #2314 closed

[2021-04-21 06:43] cosmos1982 opened #2331 "'object detection demo' error with parameter '-o'"
Enviroment:  OpenVINO2021.3.394, win10, cmake version 3.14.7
Description:
run following cmd in administrator privileges
[code]
will get this error:
[code]
No '-o' specification is OK.
How can I save my detection result?

[2021-04-21 09:16] anzhella-pankratova commented on #2331
Hello @cosmos1982,
The OpenCV documentation says "**Use uncompressed image format (eg. img_%02d.BMP) to save raw frames.**"
So you can modify the command-line parameter like this: `-o C:\Work\tmp\car_result_%d.bmp`
The same way you can save the results for folder of images.

[2021-04-22 01:59] cosmos1982 commented on #2331
@anzhella-pankratova , pefect, that resolve my problem! I strongly suggest adding this description in help messages so that we can find the '-o' usage easily.

[2021-04-22 07:57] anzhella-pankratova commented on #2331
Thank you for your feedback, @cosmos1982! The description of `--output` is actually not clear enough and does not cover usage cases, so we are going to expand it.

[2021-04-22 09:00] cosmos1982 commented on #1852
@dkurt , Hi, I have the same error with @engineer0204 , I have tried -DCMAKE_CXX_FLAGS="-march=armv7-a", still same error....

[2021-04-22 09:11] cosmos1982 commented on #2135
@jomoengineer , could you tell me what version of openvino raspbian package do you use?

[2021-04-22 15:13] jomoengineer commented on #2135
@cosmos1982 I would suspect it was with 2021.2 considering that is what I was testing with at that time.

[2021-04-23 02:46] cosmos1982 commented on #2135
@jomoengineer Thanks, and did you solve your problem if comment out "import ngraph" as suggested?

[2021-04-23 04:26] jomoengineer commented on #2135
@cosmos1982 Yeah, I believe I was able to get some of the Python examples to work after commenting out the import of ngraph.

I suppose this can be closed since I am not working on this at this time.

Thanks.

[2021-04-27 12:46] edward9112 commented on #1729
@vladimir-dudnik @eaidova
Any suggestions?

[2021-04-27 14:20] bes-dev commented on #2286
updates related to this issue: https://github.com/openvinotoolkit/open_model_zoo/issues/2286

[2021-04-28 21:30] vladimir-dudnik commented on #1729
@edward9112 can you publish your data under permissive license on some public resource, like @snosov1 suggested in his [comment](https://github.com/openvinotoolkit/open_model_zoo/issues/1729#issuecomment-722831898)?

[2021-04-29 02:16] dengyoyo opened #2359 "How to change the window size"
<img width="546" alt="超出" src="https://user-images.githubusercontent.com/83382997/116494608-bc8f3600-a8d3-11eb-85dc-f5c9dcd1becb.png">

How to modify the window size?
please help me

[2021-04-29 13:39] saifvazir opened #2364 "Issue with releasing Neural Compute Stick 2 (MYRIAD) resources programmatically while using async_pipeline.h"
Environment: OpenVINO 2021.2.185
Device: Neural Compute Stick 2
I'm trying to create an application in C++ using the async pipeline-based code followed in object_detection_demo.exe. I'm facing an issue where the NCS2 resource is not being released correctly which results in `Can not init Myriad device: NC_ERROR` when I try to use NCS2 in the same process but for a different model configuration. I'

[2021-04-29 13:41] vladimir-dudnik commented on #2359
@dengyoyo we introduce `--output_resolution` option for demos in this [PR-2315](https://github.com/openvinotoolkit/open_model_zoo/pull/2315), which is merged to `develop` branch. This option was not implemented in 2021.3 release

[2021-04-29 13:42] vladimir-dudnik commented on #2364
@saifvazir thanks for submitting, we are working on this

[2021-05-04 20:41] vladimir-dudnik commented on #2364
@saifvazir We've created PR https://github.com/openvinotoolkit/open_model_zoo/pull/2375 to work on solution

[2021-05-05 17:49] camlytics-admin commented on #1729
@vladimir-dudnik is it ok if we publish it on kaggle.com ?

[2021-05-05 17:52] edward9112 commented on #1729
@vladimir-dudnik is it ok if we publish it on Kaggle.com ?

[2021-05-06 23:07] vladimir-dudnik commented on #1729
@edward9112 I think it should be OK if dataset is available on public resource under permissive license

[2021-05-07 09:30] edward9112 commented on #1729
@snosov1 @vladimir-dudnik it looks like the agreement has been signed today. I will proceed with uploading the data for sharing.

[2021-05-12 00:39] saifvazir commented on #2364
Hey @vladimir-dudnik, I tried using the solution posted in PR #2375 , but now the demos won't work at all. I'm trying this with openvino 2021.2.185. Can you confirm the same?

[2021-05-12 00:46] saifvazir commented on #2364
Hey @vladimir-dudnik, I tried using the solution posted in PR #2375, but that doesn't seem to solve the problem, instead now the demos won't work at all. ^tested with openvino 2021.2.185, can you confirm this?

[2021-05-13 00:37] vladimir-dudnik commented on #2364
@saifvazir what are the symptoms?

[2021-05-14 14:39] saifvazir commented on #2364
@vladimir-dudnik  Sorry for not including the logs before: ```C:\Users\saif\Documents\Intel\OpenVINO\omz_demos_build\intel64\Release>object_detection_demo.exe -i "C:\Users\saif\Downloads\test.mp4" -m "C:\Users\saif\Downloads\person-detection-0200.xml" -at ssd -d MYRIAD
[ INFO ] InferenceEngine:       API version ......... 2.1
        Build ........... 2021.2.0-1877-176bdf51370-releases/2021/2
[ IN

[2021-05-14 20:48] vladimir-dudnik commented on #2364
@saifvazir I'm worrying how do you get this build of demo with our latest fix? The develop branch from OMZ should not be able to build with OpenVINO 2021.2 environment, due to incompatible changes in API, introduced in develop branch and targeted for 2021.4 release. Have you back-ported these changes to 2021.2 version of demo?

[2021-05-17 10:31] edward9112 commented on #1729
@vladimir-dudnik @snosov1 @yssemaev data has been shared with via Google Drive

[2021-05-18 12:55] wonkydog opened #2406 "OpenVino 2021.3 - Raspberry Pi 3B+ -"
Hey,

Wondering if anyone would be so kind as to provide me with a little direction - I have spent a few weeks now trying to progress my understanding on OpenVino on the Rpi however seem to be missing something.

I have a very quick .py script working with the person-detection-retail-0013 model that is available within the open model zoo - However if I try and change the model (in this example a s

[2021-05-18 15:35] vladimir-dudnik commented on #2406
@wonkydog do not worry, you posted at right place. Your issue might be related to the difference in output blobs format for those two models, please review [person-detection-retail-0013](https://github.com/openvinotoolkit/open_model_zoo/blob/release/models/intel/person-detection-retail-0013/description/person-detection-retail-0013.md) and [person-detection-0203](https://github.com/openvinotoolkit/

[2021-05-19 15:15] baishalichaudhury opened #2413 "Openvino quantization issue: Error in loading quantized int8 model, Runtime error: Quantize layer only supports per tensor and per channel quantization"
Hi

I tried to quantize a face detection model RFB (receoptive field block) from FP 32 to int8 using **openvino's POT**  . I added a new class for this detector in detection.py under accuracy_checker/adapters.  I was able to convert to int8 but I get this runtime error:  Runtime error:  Quantize layer 466/fq_input_0 only supports per tensor and per channel quantization. I am not sure what is the p

[2021-05-19 16:38] vladimir-dudnik commented on #2413
@baishalichaudhury what version of OpenVINO you used? As I understand the model is not from OMZ, is it right?

[2021-05-19 16:39] vladimir-dudnik commented on #2406
@wonkydog have you solved your issue?

[2021-05-19 16:40] vladimir-dudnik commented on #2364
@saifvazir have you got any progress on this?

[2021-05-19 16:40] vladimir-dudnik commented on #2359
@dengyoyo is this answers your question?

[2021-05-19 16:51] baishalichaudhury commented on #2413
@vladimir-dudnik  Hi  I am using openvino_2021.1.110. No th emodel is not from model zoo. Its from here: https://github.com/Linzaer/Ultra-Light-Fast-Generic-Face-Detector-1MB/tree/master/models/onnx. I have also  attached the FP32 IR model which I have been using successfuly
[RFB_FP32.zip](https://github.com/openvinotoolkit/open_model_zoo/files/6510453/RFB_FP32.zip)

[2021-05-19 17:02] vladimir-dudnik commented on #2413
@baishalichaudhury I would recommend you to try the latest OpenVINO release, 2021.3, there were many changes and improvements in POT tools since 2021.1 release, so it might happens that issue was solved already.

[2021-05-19 17:03] vladimir-dudnik commented on #2413
cc @MaximProshin

[2021-05-19 17:05] vladimir-dudnik commented on #2300
@ikeaney do you have additional questions on this?

[2021-05-19 17:07] baishalichaudhury commented on #2413
@vladimir-dudnik  Ok let me try that.

[2021-05-19 17:09] vladimir-dudnik commented on #2151
question answered

[2021-05-19 17:09] #2151 closed

[2021-05-19 17:13] vladimir-dudnik commented on #2036
@dedoogong do you have additional questions on this?

[2021-05-19 17:14] vladimir-dudnik commented on #2007
question answered

[2021-05-19 17:14] #2007 closed

[2021-05-19 17:15] vladimir-dudnik commented on #1975
question answered

[2021-05-19 17:15] #1975 closed

[2021-05-19 17:20] vladimir-dudnik commented on #1942
@francoamato have this answers your question?

[2021-05-19 17:21] vladimir-dudnik commented on #1937
question answered

[2021-05-19 17:21] #1937 closed

[2021-05-19 17:22] vladimir-dudnik commented on #1849
question answered

[2021-05-19 17:22] #1849 closed

[2021-05-19 17:26] vladimir-dudnik commented on #1845
@engineer0204 for the upcoming OpenVINO 2021.4 release we plan to add a table for models support per inference devices, see PR #2367 update OMZ 2021.4 documentation

[2021-05-19 17:27] vladimir-dudnik commented on #1840
question answered

[2021-05-19 17:27] #1840 closed

[2021-05-19 17:28] vladimir-dudnik commented on #1751
question answered

[2021-05-19 17:28] #1751 closed

[2021-05-19 17:31] #1561 closed

[2021-05-19 17:39] vladimir-dudnik commented on #1559
@dvrogozh a folder `data/dataset_classes` created where we keep label files for public models, see PR #1996 "Create data folder for dataset definitions and labels" for details

@florian-fischer-swarm for Intel models which provided a training pipeline through [OpenVINO Training Extensions](https://github.com/openvinotoolkit/training_extensions) we added a reference in corresponding models descript

[2021-05-19 17:40] vladimir-dudnik commented on #1547
@GotG do you have additional questions?

[2021-05-19 17:41] vladimir-dudnik commented on #1110
@goodtogood have you found solution?

[2021-05-19 17:50] saifvazir commented on #2364
Hey @vladimir-dudnik, sorry for not being responsive earlier, I tried cherry-picking the commit onto 2021.2 and 2021.3 releases and then build the object detection demo. The build goes through successfully but the demo fails. I will try building openvino from the master branch and check if the demo works then or not.

[2021-05-19 20:23] wonkydog commented on #2406
Yes, thank you so much! That’s really helped me out!

I have now been able to run a few different models providing they have the same input and output blob…

Blobs seem to be the bit I’m missing so I’m going to have a look into those.

Is there an easy way to filter or work the outputs where two blobs are given? Would something need to be set in net.forward() to select which blobs are to be return

[2021-05-19 21:12] baishalichaudhury commented on #2413
Hi

I installed the latest openvino on windows 10, and I wastrying to install
accuracy checker (I installed mo without problem) I get the following error:
Extracting accuracy_checker-0.8.6-py3.8.egg to
c:\users\baishali\appdata\local\programs\python\python38\lib\site-packages
accuracy-checker 0.8.6 is already the active version in easy-install.pth
Installing accuracy_check-script.py script to
C:\U

[2021-05-19 22:41] vladimir-dudnik commented on #2413
@eaidova could you please help to resolve this? In my python 3.7 environment (created some time ago) shapely is 1.7.1 version and it works.

[2021-05-20 02:14] eaidova commented on #2413
@baishalichaudhury it looks like issue of setuptools, which uses some different source of shapely lib, where wheel for windows and this python version is not available (building it from source required some specific dependencies). Could you please try install shaply using pip (pip install Shapely) , then repeat installation accuracy_checker

[2021-05-20 02:51] #2036 closed

[2021-05-20 11:53] baishalichaudhury commented on #2413
I had tried with pip install but it still gave the same error

On Wed, May 19, 2021 at 7:14 PM Ekaterina Aidova ***@***.***>
wrote:

[2021-05-20 11:56] eaidova commented on #2413
@baishalichaudhury

then could you please try to run:
[code]
or if it still does not work, please try to upgrade pip

[2021-05-20 14:15] baishalichaudhury commented on #2413
I did upgrade pip like this  python -m pip install --upgrade pip

and also tried installing Shapely 1.7.1 , but I am still getting the exact
same error

On Thu, May 20, 2021 at 4:56 AM Ekaterina Aidova ***@***.***>
wrote:

[2021-05-20 19:54] wonkydog commented on #2406
Having another look this evening:

Still no luck with models other than those with one output! I must be doing something silly!

Anyone see the error of my ways?

Thanks all! Much appreciated!

WD

`[setupvars.sh] OpenVINO environment initialized
pi@raspberrypi:~ $ cd /home/pi/Desktop
pi@raspberrypi:~/Desktop $ wget ttps://storage.openvinotoolkit.org/repositories/open_model_zoo/2021.3/models_bin/2

[2021-05-20 21:59] vladimir-dudnik commented on #2406
@wonkydog OpenVINO OMZ samples should also work on RasperryPi, they are based on OpenVINO API, OpenCV DNN API might have some limitations
@allnes @mshabunin do you have an OpenCV DNN sample which showcase OMZ ‘`person-detection-0203` model inference?

[2021-05-21 09:54] rahullrajesh commented on #2058
where did you get the class_map?

[2021-05-21 11:27] mshabunin commented on #2406
OpenCV passes models in OpenVINO IR format directly to OpenVINO backend. It seems that this model is not supported on MYRIAD. I tried to run `object_detection_demo` on x86_64 Ubuntu 18 machine (both FP16 and FP32 models) and it prints the same result:
[code]

[2021-05-21 11:53] edward9112 commented on #1729
@vladimir-dudnik @snosov1 @yssemaev any comments/feedback regarding data quality?

[2021-05-21 14:11] baishalichaudhury commented on #2413
Hi

Thanks , the workaround worked fine and I was able to install accuracy
checker. But  when I tried to install POT  I get the following error
error: Setup script exited with error: command 'C:\\Program Files
(x86)\\Microsoft Visual
Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.28.29333\\bin\\HostX86\\x64\\cl.exe'
failed with exit status 2

Any idea

On Thu, May 20, 2021 at 8:02 AM Ekaterina Aidov

[2021-05-21 21:45] vladimir-dudnik commented on #2413
@MaximProshin could you please comment on POT installation issue (Windows)

[2021-05-24 12:29] vanyalzr commented on #2413
Hi @baishalichaudhury,

It seems like you have compilation problems when building one of the POT dependencies from scratch. Could you also please provide the stack trace for us to identify which dependency package could not be installed and we could propose a workaround?

[2021-05-24 21:52] baishalichaudhury commented on #2413
Hi

I tried it in Linux machine instead of Windows and that worked fine. I was
also able to quantize the model without any errors with the latest
openvino2021.3. I will have to check the map with the quantized model but
thats not related to this issue.
Thanks for all the help.

On Mon, May 24, 2021 at 5:30 AM Ivan Lazarevich ***@***.***>
wrote:

[2021-05-24 21:53] #2413 closed

[2021-05-29 06:32] AvenSun opened #2448 "several model download links are invalid (HTTP 404)"
[code]

links are reported not found (404) as follows
[code]
another one is 403 after changing some networks

`requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: https://s3.us-west-1.wasabisys.com/resnest/resnest50-528c19ca.pth`

[2021-05-31 04:38] dengyoyo commented on #2359
Yes thanks

[2021-05-31 11:48] vladimir-dudnik commented on #2448
@AvenSun that's right, models were removed by its authors from dropbox, which allow anonymous download and still available on baidu drive only, which require authorization, so now they can't be automatically downloaded by Open Model Zoo tools. That is why we are going to remove those models from OMZ for the next release, see related PR #2386.

There are several issues reported on original reposito

[2021-05-31 11:50] vladimir-dudnik commented on #2359
@dengyoyo thanks for update, I'll close this once 2021.4 release happens

[2021-05-31 13:25] AvenSun commented on #2448
@vladimir-dudnik
I got it ! thank you.

[2021-05-31 13:25] #2448 closed

[2021-05-31 23:22] sepehr78 commented on #1852
Any fixes?

[2021-06-05 09:30] shixinlishixinli opened #2480 "the wrong result of formula recognition"
i try to use '/opt/intel/openvino_2021.3.394/deployment_tools/open_model_zoo/demos/formula_recognition_demo/python', but  the result of this demo is wrong.

python3 formula_recognition_demo.py -m_encoder ~/open_model_zoo/tools/downloader/intel/formula-recognition-polynomials-handwritten-0001/formula-recognition-polynomials-handwritten-0001-encoder/FP32/formula-recognition-polynomials-handwritten-0

[2021-06-06 03:14] shixinlishixinli commented on #2480
i have found out why my result is wrong, because i use wrong weight , but when i try to use my own picture there is the same error

[2021-06-07 07:28] vladimir-dudnik commented on #2480
@shixinlishixinli could you please attach your picture, which gives the wrong result?

[2021-06-07 07:35] vladimir-dudnik commented on #1852
@sepehr78 unfortunately the root cause of issue still not identified yet.

@ilya-lavrenov @asuhov @dkurt @alvoron CC

[2021-06-07 09:04] ilya-lavrenov commented on #1852
@vladimir-dudnik we still don't know where the problem is located - inside demo builds or inside OpenVINO binaries..

[2021-06-07 14:34] niihori opened #2483 "[Bug?] NiftiImageReader raises TypeError exception"
##### System information (version)
- OpenVINO=> 2021.3
- Operating System / Platform => Windows 64 Bit
- Compiler => Python 3.7.9
- Problem classification => accuracy checker
- Framework: dlsdk
- Model name: brain-tumor-segmentation-0001

##### Detailed description

I am suspecting my careless mistake, but I report an issue below anyway.

When I ran accuracy checker with brain-tumor-segmentation-0

[2021-06-07 15:07] vladimir-dudnik commented on #2483
@niihori thanks for well formed issue report.
@eaidova @eizamaliev could you please take a look at this? Is there something should be corrected on our side?

[2021-06-07 15:27] architlfc opened #2484 "Unable to run interactive_face_detection_demo_gapi"
Hi,

I have run build.sh , but on trying :
./interactive_face_detection_demo_gapi -h
Im getting an error : bash: ./interactive_face_detection_demo_gapi: No such file or directory
How do i run this demo ?

[2021-06-07 15:41] vladimir-dudnik commented on #2484
@architlfc have you build demo before trying to run it? Please take a look on instructions of how to build OMZ demo either here, on [github](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/README.md#build-the-demo-applications) or within OpenVINO online [documentation](https://docs.openvinotoolkit.org/latest/omz_demos.html).

[2021-06-07 16:59] architlfc commented on #2484
Hi @vladimir-dudnik ,
Yes i have followed the documentation.
While running build.sh i see
[ 42%] Built target interactive_face_detection_demo_gapi  aswell.

Im trying this on my local system aswell as a docker container on a remote server. Facing the same issue in both places.

[2021-06-07 17:33] vladimir-dudnik commented on #2484
@architlfc If you are looking for help, could you please provide more detailed info, on what you try to do, how you did that, what is version of OpenVINO, what is OS, and so on. It is difficult to guess what might be wrong in your case. OMZ demos were successfully validated on supported OS/platforms. Could you please attach a log from build on your system?

[2021-06-07 18:51] eaidova commented on #2483
@niihori thank you for your report. I prepared fix: https://github.com/openvinotoolkit/open_model_zoo/pull/2486

[2021-06-10 13:15] terfendail commented on #1852
@cosmos1982 Could you please share whole build command you use? It could be useful to try to reproduce your case

[2021-06-10 19:22] dtischler opened #2503 "BERT Question Answering Python Demo - Input or Output names do not match"
Hey there, just tried to run the BERT Question Answering Python Demo, and run into an issue with the Input and Output names not matching.  Can anyone shed some light on what might be wrong here, or, if my command is not correct perhaps?  Thanks in advance!

[code]

[2021-06-10 20:40] vladimir-dudnik commented on #2503
@dtischler You are right, in 2021.3 release bert models on OMZ has a different names of input/output blobs. We are going to change this in 2021.4 release, which is coming soon. Fortunately, bert_question_answering_demo allow to specify the names of input and output blobs as a command line parameters, see demo [description](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/bert_qu

[2021-06-10 20:52] dtischler commented on #2503
Thanks for the fast response @vladimir-dudnik !

That seems to have gotten me further, yep.  Its still not quite right, but at least I overcome the Input or Output name error:

[code]

So now I need to figure out why its killed, ha.

[2021-06-10 20:59] dtischler commented on #2503
BTW: This is a NUC11TNHv5, so I would assume it's a compatible CPU.

[2021-06-11 07:20] architlfc commented on #2484
The issue is resolved . I was running it from the demos directory  instead of <path_to_build_directory>/intel64/Release/ .
Thanks for helping out @vladimir-dudnik . Il be closing the issue.

[2021-06-11 07:20] #2484 closed

[2021-06-11 20:07] #2483 closed

[2021-06-11 20:28] vladimir-dudnik commented on #2503
@dtischler What is the memory amount on NUC system? The model probably does not fit into the memory.

[2021-06-11 20:33] vladimir-dudnik commented on #2331
`-o` parameter description was updated in PR #2455, hope this helps

[2021-06-11 21:03] dtischler commented on #2503
Oh, interesting, I didn't even think of that!  Yes, this is a small 4gb RAM base model NUC.  I will try the FP16 next week, and report back.   :-)

[2021-06-21 12:10] edward9112 commented on #1729
@vladimir-dudnik @snosov1 @yssemaev any feedback would be helpful. Should we add more data?

[2021-06-22 12:26] memona008 commented on #2161
@dhruvsheth-ai Please mention where did you find those files.

[2021-06-22 20:24] #2364 closed

[2021-06-29 06:27] 836999113 commented on #2058
Hello, I can not download **s3d-rgb-mobilenet-v3-large-stream-jester.onnx** anymore. Could you share this doc pls?

[2021-07-01 22:38] dtischler commented on #2503
Closing Issue as original problem was resolved.  :-)

[2021-07-01 22:38] #2503 closed

[2021-07-01 22:56] dtischler opened #2566 "Image Segmentation Python Demo - Documentation Issue"
It appears that the `-at` flag is not present / available in the `segmentation_demo.py` command for the Image Segmentation Python Demo.

Trying to run the command with it results in an error as such:

[code]

The usage here make reference to it, though:  https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/segmentation_demo/python#running

So, just need to update to docs to remove t

[2021-07-02 08:07] eaidova commented on #2566
Hi @dtischler
Probably, you use old demo version, this key was introduced in 2021.4 openvino release. If you look inside the code, you can see that flag presents in argument parser now
https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/segmentation_demo/python/segmentation_demo.py#L110
So documentation in the repo is correspond to demo version provided in repo

[2021-07-02 19:07] eaidova commented on #2566
As I can see from the logs, you use openvino 2021.3 package.
[Here](https://docs.openvinotoolkit.org/2021.3/omz_demos_segmentation_demo_python.html) you can find segmentation demo documentation which correspond to your package version, it does not contain this key.

[2021-07-02 19:14] dtischler commented on #2566
AHA!  Thanks for the great find @eaidova!  Yes, I pull in 2021.3.394 in my Dockerfile, it was the most current version when I wrote it.  I now see that 2021.4.582 is sitting in the `apt` repo.  I will update my Dockerfile and pull in the newer version, and that should solve my issue.  Thanks!

[2021-07-05 14:51] likholat opened #2571 "Error when converting YoloV4 model using the converter"
Trying to convert YoloV4 model to IR using `converter.py`:
[code]
But get the error:
[code]

[2021-07-05 15:05] eaidova commented on #2571
@likholat could you please specify which python and tensorflow version do you use?

[2021-07-05 15:15] eaidova commented on #2571
@likholat
I can not reproduce this locally, so probably it is an issue in your environment.
Usually this error means that you try to use tf < 2 for model in saved_model format for tf2 and higher.
Please pay attention on model downloader requirements https://github.com/openvinotoolkit/open_model_zoo/blob/develop/tools/downloader/requirements-tensorflow.in
and try to convert with correct tf version

[2021-07-05 16:24] likholat commented on #2571
@eaidova
Now my TF version is 2.4.1(was 2.2.0), but it still doesn't work

[2021-07-05 17:39] #2571 closed

[2021-07-06 08:05] vladimir-dudnik commented on #2571
@likholat You've closed the issue, so seems yo solved the problem? If someone will look for yolo-v4 related issues it might be not clear if you close the issue because simple decode to stop work with yolo-v4 model or you have find and solved problem.

[2021-07-06 08:12] eaidova commented on #2571
@vladimir-dudnik we internally discussed issue. The issue connected with running downloader and converter from different release versions.
in 2021.4 we migrate on usage saved model instead keras h5 format to simplify model conversion. It made downloader postprocessing from 2021.3 is not compatible with pre-convert script in 2021.4.

[2021-07-06 17:47] dtischler commented on #2566
Worked perfect, thanks!

[2021-07-06 17:47] #2566 closed

[2021-07-07 11:59] fuatka opened #2580 "person-vehicle-bike-detection-2004 model can not be load with latest opencv dldt 2021.4"
I'm using OpenVINO models with opencv dldt support. person-vehicle-bike-detection-2004 model input resolution is widescreen format what I was looking for. Still fast and mAP result looks great.

But I can not load this model with opencv-4.5.3-dldt-2021.4 using readNet function!
This model based on MobileNetV2 backbone with ATSS, different than other person-vehicle-bike-detection models backbone.

[2021-07-07 17:49] vladimir-dudnik commented on #2580
@fuatka that is possible issue with OpenCV DNN, but you should be still able to use model directly with OpenVINO, is not it? You may try Open Model Zoo Python [object_detection_demo](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/object_detection_demo/python/README.md) to see how model work with OpenVINO directly.

@alvoron please look at this issue from OpenCV point of view

[2021-07-07 21:20] vladimir-dudnik commented on #2359
2021.4 release published, so closing this

[2021-07-07 21:21] #2359 closed

[2021-07-07 21:22] vladimir-dudnik commented on #2331
2021.4 release published, so closing this

[2021-07-07 21:22] #2331 closed

[2021-07-07 21:23] vladimir-dudnik commented on #2302
@MiaoRain do you have additional questions on this?

[2021-07-07 21:24] vladimir-dudnik commented on #2300
@ikeaney I close this, feel free to reopen if you have additional questions

[2021-07-07 21:24] #2300 closed

[2021-07-07 21:25] vladimir-dudnik commented on #2286
2021.4 release published, so I'll close this. Feel free to reopen if you have additional questions

[2021-07-07 21:25] #2286 closed

[2021-07-07 21:30] vladimir-dudnik commented on #1559
answers provided, so I'll close this. Feel free to reopen if you have additional questions

[2021-07-07 21:30] #1559 closed

[2021-07-07 21:33] vladimir-dudnik commented on #1547
I'll close this, feel free to reopen if you have additional questions

[2021-07-07 21:33] #1547 closed

[2021-07-07 21:36] vladimir-dudnik commented on #1110
@goodtogood I'm going to close this, feel free to reopen if you still have questions

[2021-07-07 21:36] #1110 closed

[2021-07-07 21:37] vladimir-dudnik commented on #1081
@zhangguobin I'm going to close this, as OpenVINO 2021.4 release published. Feel free to reopen if you have additional questions

[2021-07-07 21:37] #1081 closed

[2021-07-08 05:29] alvoron commented on #2580
@fuatka thank you for raising the issue. OpenCV team will try to reproduce it and come back with some updates.

[2021-07-09 06:57] AvenSun commented on #2580
@alvoron

#opencv/opencv/issues/20380 some related problem
can not get correct result via OpenCv DNN with some OpenVINO models

[2021-07-10 12:55] alalek commented on #2580
There are 2 issues of OpenCV DNN module:
- 1D layouts. OpenCV uses Mat internally which supports 2D+ layouts only (1D is forced as 2D).
- OpenCV DNN module supports FP32 output only. See 'labels' layout. It is with `I32` precision. OpenCV DNN tries to reconfigure output precision [here](https://github.com/opencv/opencv/blob/4.5.3/modules/dnn/src/ie_ngraph.cpp#L603), but looks like this doesn't wor

[2021-07-12 06:36] tankienleong opened #2586 "Interactive Face Detection G-API Demo open RTSP url?"
Hi, may I know can Interactive Face Detection G-API Demo open RTSP URL? I tried but it didn't success.

[2021-07-12 07:24] #2586 closed

[2021-07-12 11:53] diego-varela-seijas opened #2589 "Segmentation fault"
Hi,

I need to do inference on a Raspberry Pi 4B with NCS 2 using YOLO. I get the default model in IR (the xml and the bin file) before converting custom models to try, and used two demos of open_model_zoo but I always get a Segmentation fault error. Here are the outputs:

Command
`./multi_channel_object_detection_demo_yolov3 -m ../../../build/frozen_darknet_yolov3_model.xml -d MYRIAD -i ../../../

[2021-07-12 15:22] vladimir-dudnik commented on #2589
@alvoron @terfendail could you please look at the issue?

[2021-07-13 08:14] alvoron commented on #2589
@diego-varela-seijas thank you for raising the issue. We will try to reproduce it at the nearest time.
The cause of segmentation fault is often related to model size. Did you consider to try tiny version of YOLO?

[2021-07-13 16:17] diego-varela-seijas commented on #2589
The version was already YOLOv3 tiny

[2021-07-14 16:01] alvoron commented on #2589
@diego-varela-seijas did you build OMZ demo `multi_channel_object_detection_demo_yolov3` on Raspberry Pi?

[2021-07-14 16:09] Kshitij-Khode opened #2598 "ValueError: not enough values to unpack (expected 2, got 0) when inferencing a 2 class yolov4 model"
### System Information

- Docker Image Used: openvino/ubuntu18_dev:2021.3 (https://hub.docker.com/r/openvino/ubuntu18_dev)
- OpenVINO => 2021.3
- Operating System / Platform => Ubuntu 18.04 x64
- Compiler => GCC 7.5.0
- Problem classification: Model Conversion
- Framework: Model trained in Darknet, Converted to TensorFlow using https://github.com/david8862/keras-YOLOv3-model-set and then converted

[2021-07-14 16:10] Kshitij-Khode commented on #2598
Recently talked to @eizamaliev (Zamaliev, Eduard) from the open_model_zoo repo team and figured out the problem is with the inferencing library script: yolo.py, which has classes hardcoded to 80.

[2021-07-14 16:24] diego-varela-seijas commented on #2589
Yes, the only step I didn't do on RPi was converting the model to .xml and .bin.

[2021-07-14 16:33] alvoron commented on #2589
@diego-varela-seijas could you try to add `-DCMAKE_CXX_FLAGS="-march=armv7-a"` to `cmake` command when you build OMZ demo?

[2021-07-14 17:14] diego-varela-seijas commented on #2589
Adding that made it work. Thank you!!

[2021-07-15 12:51] eizamaliev commented on #2598
@Kshitij-Khode See linked PR.

[2021-07-15 14:30] alvoron commented on #1852
@ilya-lavrenov the same issue was observed recently: https://github.com/openvinotoolkit/open_model_zoo/issues/2589
I verified that the flag `-DCMAKE_CXX_FLAGS="-march=armv7-a"` solves the issue, it helps the author as well.
Vitaly Tuzov has reproduced this issue some time ago and this flag works for him as well.
Should we add this flag explicitly?

[2021-07-16 14:07] alalek commented on #2580
Could you try OpenCV build of that package from [here](
http://pullrequest.opencv.org/buildbot/export/opencv_releases/precommit_custom_windows/20210716-120313--2492/)?
(it is built for PR https://github.com/opencv/opencv/pull/20423 which includes PR with fix: https://github.com/opencv/opencv/pull/20410 )

[2021-07-18 01:37] fuatka commented on #2580
I tried this build with opencv dnn object_detection.cpp [sample code](https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.cpp)

This time model loaded successfully, these are output layers names,
TopK_1123.0
TopK_1339.0
TopK_1555.0
TopK_1829.0
TopK_691.0
TopK_907.0
boxes
labels

But object_detection.cpp doesn't have output layer support except from DetectionOutput and Region.

[2021-07-18 02:39] fuatka commented on #2580
I tried this precommit build with opencv dnn object_detection.cpp sample code.

This time previous exception `[ PARAMETER_MISMATCH ] Failed to set output Blob. Dimensions mismatch`  doesn't occured, but get some warnings at the same [line](https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.cpp#L292)

[code]

Another issue is object_detection.cpp doesn't have output layer sup

[2021-07-18 18:39] AvenSun commented on #2580
@alalek
I tried the package downloaded from the link above via python.
for example [person-vehicle-bike-detection-2004](https://docs.openvinotoolkit.org/latest/omz_models_model_person_vehicle_bike_detection_2003.html)

`dnn = cv2.dnn.Net_readFromModelOptimizer(xml, bin)`

we will get output names via

`outputNames = dnn.getUnconnectedOutLayersNames()`

====outputNames====
['TopK_1123.0', 'TopK_133

[2021-07-20 09:48] su26225 opened #2626 "Error LNK1104 Cannot open the file "ngraph::ngraph.lib""
In the Cmakelist.txt of multi_channel_object_detection_demo_yolov3, there is such a sentence
`target_link_libraries(${TARGET_NAME} PRIVATE
    ${InferenceEngine_LIBRARIES} gflags ${OpenCV_LIBRARIES} ngraph::ngraph monitors multi_channel_common)

if(COMMAND add_cpplint_target)
    add_cpplint_target(${TARGET_NAME}_cpplint FOR_TARGETS ${TARGET_NAME})`

I don't know what the "ngraph::ngraph.lib" mean

[2021-07-20 11:49] vladimir-dudnik commented on #2626
@su26225 you probably build sample with OpenVINO for RaspberryPi package, is not it? The nGraph is one of the OpenVINO runtime components, intended to transform network model graph to graph of OpenVINO layers (mostly it is used by model optimizer and usually not required at application runtime. But there are few cases, when application may need to extract additional information about network layer

[2021-07-21 02:37] su26225 commented on #2626
Thanks for your reply , but I don't find the tutorial to build it on github  ,where can I find it ?
In addition ,How should this file be named? A file with this character "::" cannot exist .

[2021-07-21 08:44] vladimir-dudnik commented on #2626
@su26225 There is a link to [Build OpenVINO Inference Engine](https://github.com/openvinotoolkit/openvino/wiki/BuildingCode) instruction on OpenVINO Wiki
ngraph::ngraph is not a file name, it is [alias](https://cmake.org/cmake/help/latest/manual/cmake-buildsystem.7.html#imported-targets) name of CMake target.

[2021-07-26 08:05] dkurt commented on #1852
@alvoron, this is an issue related to Raspbian GCC compiler. By default, it specifies armv6 instruction set.

[2021-07-26 09:09] alvoron commented on #1852
@dkurt I have found that gcc 8 specifies armv6, however gcc 10 uses armv7-a.
I had a talk with Ilya Lavrenov, we decided to set architecture to armv7-a in demo\sample build scripts if the platform is ARM x32 and it's not cross-compilation.
Are you OK with such solution?

[2021-07-26 12:09] dkurt commented on #1852
@alvoron, it's better to check for CPU arch. I recommend to set `-march=armv7-a` if `uname -m` returns `armv7l`

[2021-08-06 05:46] Hnnuliulei123456 opened #2662 "Python-demo Error : ModuleNotFoundError: No module named 'models' .etc"
Demo : open_model_zoo/demos/human_pose_estimation_demo/python/human_pose_estimation_demo.py
Openvino version : l_openvino_toolkit_runtime_raspbian_p_2021.2.185
Device : RaspberryPi+Intel NCS2

In the demo, it need import many modules like:
import models
import monitors
from images_capture import open_images_capture
from pipelines import get_user_config, AsyncPipeline
from performance_metrics impor

[2021-08-09 07:15] cpene1 opened #2664 "Convert PGNet to IR model"
Hi there!

I'm working on a project that needs very fast text spotting. I want to go for the PGNet model, since I've been working with it a couple of months ago and got impressive results. However, this time I need to work with OpenVino models, so the only workaround I can think of is converting to PaddlePaddle PGNet to ONNX and then ONNX to OpenVino. Is this a straightforward approach or should I

[2021-08-09 07:15] #2664 closed

[2021-08-09 14:40] vladimir-dudnik commented on #2662
@Hnnuliulei123456 I would recommend to install the latest OpenVINO 2021.4 package if you need Python human pose estimation demo

[2021-08-11 13:30] Hnnuliulei123456 commented on #2662
@vladimir-dudnik Thank you for you reply. But in the version latest OpenVINO 2021.4 package, there is no Python human pose estimation_2D demo. I don't want the 3D demo, I just want the 2D demo.

[2021-08-11 14:54] vladimir-dudnik commented on #2662
@Hnnuliulei123456 Really? Python human_pose_estimation_demo is part of OpenVINO 2021.4 Open Model Zoo, see [description](https://docs.openvinotoolkit.org/latest/omz_demos_human_pose_estimation_demo_python.html). I also see this in my Windows OpenVINO installation.

[2021-08-11 15:54] Hnnuliulei123456 commented on #2662
@vladimir-dudnik Thanks. Yes, I find it in the latest Windows OpenVINO installation. But I can't get the latest RaspberryPi OpenVINO install package (may be also the 2021.4 version), because I can't open the [official link](https://storage.openvinotoolkit.org/repositories/openvino/packages/ ). Is there other way I can get it？

[2021-08-11 21:42] vladimir-dudnik commented on #2662
@Hnnuliulei123456 you should be able to register and download OpenVINO package from [software.intel.com](https://software.intel.com/content/www/us/en/develop/tools/openvino-toolkit/download.html) site.

[2021-08-12 07:01] Hnnuliulei123456 commented on #2662
@vladimir-dudnik Thanks. In the [software.intel.com](https://software.intel.com/content/www/us/en/develop/tools/openvino-toolkit/download.html) site, there is only five kinds of package version (Windows, Windows(FPGA), macOS, Linux and Linxu(FPGA)), which one can I use for RaspberryPi.

[2021-08-16 15:23] vladimir-dudnik commented on #2662
@Hnnuliulei123456 there is another opportunity, OpenVINO RaspberryPi package can be built through OpenVINO github version, there is no closed source component in it, everything is open sourced. Please look at [How to build](https://github.com/openvinotoolkit/openvino/wiki/BuildingForRaspbianStretchOS) instructions on github.

[2021-08-23 05:26] #2589 closed

[2021-08-23 08:06] alvoron commented on #1852
@vladimir-dudnik I suppose, this issue could be closed since OMZ fix has been merged.

[2021-08-23 14:59] Rakshith2597 opened #2708 "Questions regarding accuracy_checker"
1. Should we just provide the link to the dataset and its license? Or should we create a custom Accuracy Checker and provide the same as well?
2. If we are to create a custom accuracy checker. Are there any guidelines for the same? In the documentation, only guidelines to use existing checkers is specified.

In the documentation, it is mentioned that

3. Are there any guidelines for writing our ow

[2021-08-24 08:48] vladimir-dudnik commented on #2708
@eaidova FYI

[2021-08-27 05:46] dkurt opened #2718 "Transfer MRI reconstruction demo to AsyncPipeline API"
demo: https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/mri_reconstruction_demo

example: https://github.com/openvinotoolkit/open_model_zoo/pull/2178

- [ ] AsyncPipeline
- [x] Add description for inputs and outputs in the README https://github.com/openvinotoolkit/open_model_zoo/pull/2770

[2021-08-31 16:25] vladimir-dudnik commented on #1852
@alvoron yes, I'll close it once OpenVINO 2021.4.1 will be published

[2021-09-03 03:17] llxingkongxia opened #2726 "How to use INT8 for IR"
Hi
I want to use INT8 to inference.
In demo_squeeznet_download_convert_run.sh, I change target_precision="FP32" to "FP32-INT8" , but can,t convert.  "========== Skipping squeezenet1.1 (all conversions skipped)"
Please help to tell me how to convert.
Thanks.

[2021-09-06 15:57] Aakash-kaushik commented on #2726
Hi, take a look at the below link you might be able to figure something out.
https://docs.openvinotoolkit.org/latest/pot_compression_algorithms_quantization_default_README.html

there are two methods that i know first is with a config and then the DL workbench i think both require that you have an FP32 version available and a dataset which can be used for the conversion then you can use

[code]

t

[2021-09-07 15:24] vladimir-dudnik commented on #2726
for public Open Model Zoo models we do provide an auxiliary scripts which simplify downloading, convertion to IR and quantization some of public models. Note, you will need to download validation datasets for models, see OMZ scripts [description](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/downloader/README.md) for more details.

[2021-09-08 07:19] hardik0 opened #2734 "Multi Tracking Multi Camera with Re-Identification starts fast and slows down and quits"
Hey @sovrasov,

I am running the demo: https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/multi_camera_multi_target_tracking_demo/python

I have run this on a core i5 with Nvidia GPU and 8 Gigs Ram as well as on a core i9 with 16 Gigs Ram with the **time_window set to 1** in the  configs/person.pyfile to ensure REID.

The system works great but slows to an absolute crawl within 5

[2021-09-09 12:52] ivikhrev commented on #2734
The tracker itself seems to work fine. The problem occurs due to accumaltion of tracks, the more objects we have to track, the more it slows down. You should try to reduce `track_clear_thresh` in [configs/person.py](https://github.com/openvinotoolkit/open_model_zoo/blob/b1ff98b64a6222cf6b5f3838dc0271422250de95/demos/multi_camera_multi_target_tracking_demo/python/configs/person.py#L22). Right now i

[2021-09-09 14:09] Aakash-kaushik opened #2746 "Conversion for PSPNet-pytroch not working"
### Commands I ran

[code]
### Error
The download part was successful but the conversion gave the following error:

[code]

### System info:

ubuntu: `21.04`
Openvino version: `2021.4.582`

[2021-09-09 15:17] vladimir-dudnik commented on #2746
@Aakash-kaushik how did you initialize your python environment?

[2021-09-09 16:25] Aakash-kaushik commented on #2746
Hi @vladimir-dudnik,
It wasn't in an environment it's my base python installation.

[2021-09-09 20:11] duggydoo commented on #2734
Also encountering this phenomenon and have been searching for answers.
In my case I need to set the track_clear_thresh to even higher (9000) in order to reid people who entered the scene over an hour or two ago. Is there a solution for this?
Another model rather than the person-reidentification-retail-0277 or person-reidentification-retail-0288?
Setting Reid only for a selected (entrance camera) r

[2021-09-09 20:18] duggydoo opened #2748 "Multi Camera Multi Tracking improving Reid accuracy"
Hi,

Is there a way to improve the Reid accuracy? When we deploy to different sites we never have the same angles, the same lighting conditions (even between cameras). Is there any tool/solution to improve the model reidentification accuracy or the person identification accuracy per site or per camera? We get a lot of chairs being identified as people, reidentification drops and reconnects (someti

[2021-09-09 20:20] vladimir-dudnik commented on #2734
@duggydoo the problem is not in performance of reidentification model. The reid model just return numeric descriptor for object, which tracker then have to compare against all previously accumulated descriptors to decide if this is the same object or new one. So, more object's descriptors you keep in history - longer processing of each subsequent frame.

[2021-09-09 20:31] duggydoo commented on #2734
Understood, thank you. So limiting to 300 seconds for example would decrease Reid for people leaving after 300 seconds. That is, if someone walked in got a Reid ID, then left 10 minutes later they would never receive the same Reid number as they are outside of the 300 seconds threshold.
And there is no solution (hardware/software/NCS2 stick) that would solve for this?

[2021-09-09 20:37] vladimir-dudnik commented on #2734
@duggydoo tracking for big amount of objects is compute heavy task. You should be easily able to track few objects for hours, but if the goal is to identify each object among thousands which has been seen by camera, you better look for targeted optimized application rather then simple demo which just show how to use OpenVINO for inference in tasks similar to tracking.

[2021-09-09 20:39] vladimir-dudnik commented on #2746
even if you do not create virtual environment you have to install python dependencies, required by OpenVINO model optimizer, in order to be able to convert model.

[2021-09-09 20:46] Aakash-kaushik commented on #2746
@vladimir-dudnik i forgot to mention this but i have used the exact same method to convert other models from which some were from tensorflow and some were from PyTorch and they worked perfectly fine.
So that leaves me with this model which I can't go forward with and i can assure that i do have the required libs to make conversions but not sure if this model requires something different.

[2021-09-09 21:38] duggydoo commented on #2734
Thank you for the update. Appreciate the feedback, helps us understand the usage.
So if I read this correctly we need to balance it with number of people and threshold duration. If Reid picks up a person then changes the Reid a couple of times as he walks, this would add numeric descriptors and pressure on the tracker therefore increasing the amount of objects and slowing the system down (5 people

[2021-09-10 20:55] vladimir-dudnik commented on #2748
@duggydoo the demo use person-detection-retail-0013 model for object detection. The model was trained on certain dataset and expect objects in specific view angle, lighting conditions and so on. To fine tune model for your specific case usually training is required on your specific data. There is OpenVINO [Training Extension](https://github.com/openvinotoolkit/training_extensions), which support f

[2021-09-10 21:34] vladimir-dudnik commented on #2746
@Aakash-kaushik starting from OpenVINO 2021.4 there is more convenient way to initialize required Python environment. Please see [documentation](https://docs.openvinotoolkit.org/latest/openvino_docs_install_guides_installing_openvino_pip.html) for openvino-dev package distribution through PyPi. Basically, you will need to run command like:
pip install openvino-dev[pytorch,onnx]
to install required

[2021-09-10 21:38] vladimir-dudnik commented on #2260
@wdkwyf FYI, we are working in applying OMZ Model API to pedestrian tracker demo, see https://github.com/openvinotoolkit/open_model_zoo/pull/2654

[2021-09-10 21:43] vladimir-dudnik commented on #1852
OpenVINO 2021.4.1 which provides fix for the issue just [published](https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/NEW-Intel-Distribution-of-OpenVINO-toolkit-2021-4-1-Long-Term/m-p/1313364#M25192), so I'm going to close this. Feel free to reopen if you still experience throubles

[2021-09-10 21:43] #1852 closed

[2021-09-10 21:44] duggydoo commented on #2748
Thanks, but I take it no way to improve reidentification model for specific settings? Only person detection?

[2021-09-10 21:46] vladimir-dudnik commented on #1695
closing due to inactivity

[2021-09-10 21:46] #1695 closed

[2021-09-10 21:47] vladimir-dudnik commented on #1675
closing as answered

[2021-09-10 21:47] #1675 closed

[2021-09-10 21:50] vladimir-dudnik commented on #1845
Tables for [Intel](https://docs.openvinotoolkit.org/latest/omz_models_intel_device_support.html) and [public](https://docs.openvinotoolkit.org/latest/omz_models_public_device_support.html) models to list supported devices added in OpenVINO 2021.4 release

[2021-09-10 21:50] #1845 closed

[2021-09-10 21:52] vladimir-dudnik commented on #1930
closing as answered

[2021-09-10 21:52] #1930 closed

[2021-09-10 21:58] vladimir-dudnik commented on #2135
closing as suggested

[2021-09-10 21:58] #2135 closed

[2021-09-10 21:59] vladimir-dudnik commented on #2148
@yustiks have you solved your issue?

[2021-09-10 22:00] vladimir-dudnik commented on #2154
closing as answered

[2021-09-10 22:00] #2154 closed

[2021-09-10 22:03] vladimir-dudnik commented on #2302
closing due to inactivity

[2021-09-10 22:03] #2302 closed

[2021-09-10 22:04] vladimir-dudnik commented on #2480
@shixinlishixinli have you solved your issue?

[2021-09-10 22:07] vladimir-dudnik commented on #2598
@Kshitij-Khode the fix should be available in the [latest](https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/NEW-Intel-Distribution-of-OpenVINO-toolkit-2021-4-1-Long-Term/m-p/1313364#M25192) public OpenVINO release.

[2021-09-10 22:07] #2598 closed

[2021-09-10 22:08] vladimir-dudnik commented on #2626
@su26225 do you have additional questions?

[2021-09-10 22:13] vladimir-dudnik commented on #2748
@duggydoo I see no reidentification model support on OpenVINO Training Extensions repo, you may ask about plans for reid support directly on their github repository.

cc @snosov1

[2021-09-10 22:59] vladimir-dudnik commented on #2746
@Aakash-kaushik just tested on Windows with OpenVINO 2021.4 openvino-dev PyPi package

(py3.7-openvino-2021.4) c:\Temp>omz_downloader --name pspnet-pytorch -o c:\temp\models-exp
################|| Downloading pspnet-pytorch ||################

========== Downloading c:\temp\models-exp\public\pspnet-pytorch\pspnet_r50-d8_512x512_20k_voc12aug_20200617_101958-ed5dfbd9.pth
... 100%, 191613 KB, 966 KB/

[2021-09-11 15:15] Aakash-kaushik commented on #2746
Hi @vladimir-dudnik ,
Creating a new env and installing openvino-dev through pip made it work.
Thank You !

[2021-09-11 15:15] #2746 closed

[2021-09-11 18:03] yustiks commented on #2148
no =(

[2021-09-13 02:06] wdkwyf commented on #2260
@vladimir-dudnik Thanks! I'll check.

[2021-09-19 15:01] vladimir-dudnik opened #2764 "downloading some models from google drive failed"
starting from Sep 14 2021 downloading of some models using OMZ downloader script failed. The root cause is that google drive start require login for these links and OMZ script, which load models in anonymous mode, is not able to download them. The list of affected models [below](http://213.221.44.203/job/omz/job/master/job/downloader_ubuntu18/375/console):
00:45:50  FAILED:
00:45:50  densenet-161

[2021-09-21 20:22] ojjsaw opened #2774 "mobilenet-ssd download failure"
omz_downloader --name mobilenet-ssd

[code]

[2021-09-21 21:23] vladimir-dudnik commented on #2774
known issue https://github.com/openvinotoolkit/open_model_zoo/issues/2764

[2021-09-23 06:34] ekaakurniawan commented on #2764
This is effecting Intel Edge AI Certification since the first practice uses mobilenet-ssd model.

[2021-09-23 07:58] vladimir-dudnik commented on #2764
@ekaakurniawan As a workaround you may manually download this model under being logged in to your google drive account, see this OpenVINO user's forum [thread](https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/Unable-to-download-ssd300-model-with-downloader-py/td-p/1315317) for details.

[2021-09-28 09:01] xyannly opened #2787 "Error when converting onnx to IR"
I tried to run model inference by openvino on windows os，but it failed when **converting the onnx format model to IR files**.  The **model** is [model](https://drive.google.com/file/d/1i1E3cpw6VkwZvinxmMhzkTPMkjMkYSuK/view?usp=sharing)，the command is
`python mo.py --input_model D:\UnityGit\BackendTest\openvino\LeapSlope_Gpu.onnx --output_dir D:\UnityGit\BackendTest\openvino\LeapSlope --log_level D

[2021-10-03 06:03] orgicus opened #2799 "Error running instance-segmentation-security inference via OpenCV's dnn (with IE)"
Hi,

I'm running into an error inferring instance-segmentation-security-1039 using OpenVino via OpenCV's dnn module:
`cv2.error: [ PARAMETER_MISMATCH ] Failed to set output Blob. Dimensions mismatch.

This my basic test:
[code]
This is using OpenCV 4.5.3-openvino (which shipped with openvino_2021.4.689).

I can run the instance_segmentation_demo using the IE directly just fine.

Is it possible to

[2021-10-04 08:11] vladimir-dudnik commented on #2799
@allnes @alvoron could you please comment on this?

[2021-10-04 10:56] alalek commented on #2799
relates https://github.com/opencv/opencv/pull/20410

This patch will be released with OpenVINO 2022.1 (2021.4.x LTS updates are out of scope for now)

Also you can build OpenCV from source code with enabled InferenceEngine: https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend#build-opencv-from-source

[2021-10-05 13:33] orgicus commented on #2799
Hi Alex,

I'll try to to build OpenCV from source with InferenceEngine enabled.

This may take some time: I'll report back with findings.

In the meantime, I thought that using the OpenCV version that ships with OpenVINO should work.
I double checked and indeed cv::getBuildInfo() shows that (as expected) is has been built from source with InferenceEngine:

[code]

I notice the Jenkins build isn't

[2021-10-05 22:20] vladimir-dudnik commented on #2799
@orgicus your expectations are correct in general. OpenCV DNN with OpenVINO backend should support the same models which supported through direct OpenVINO API. But the reality is that OpenCV DNN might miss some features, and OpenCV team (and community) working on fixes, when issues detected.

[2021-10-06 00:54] orgicus commented on #2799
@vladimir-dudnik Ok, if I understood correctly OpenCV DNN with OpenVINO backend as it ships might be lagging just a bit behind what the the direct OpenVINO API can do already (e.g. older models might work ok, but newer models relying on newer OpenVINO feature might not).

🤞 building OpenCV from source with OpenVINO will do the trick (e.g. latest OpenCV + latest OpenVINO)

Thank you for the clarifi

[2021-10-07 18:28] shahla-ai commented on #94
hi @farshadopencv , I wish you can help me
can you tell me how you compiled OpenCV with openvino IE backend from source ?
all documentations show how to use openvino's OpenCV , but that is not what I want
best regards

[2021-10-11 20:07] antoniomtz opened #2816 "Unable to convert any of the YOLO tf models"
Hello,

I'm trying to convert the YOLO models. After I download them, I run:

`./converter.py --name yolo-v3-tf`

And get the following error:

I'm using Python 3.8.5 and this is the pip list:

Any suggestions? Thanks.

[2021-10-11 22:51] vladimir-dudnik commented on #2816
@antoniomtz you probably work with Open Model Zoo from `develop` branch, I'd recommend you either use Open Model Zoo from OpenVINO install package or clone Open Model Zoo `master` branch by tag for corresponding OpenVINO release. For example, for the latest OpenVINO 2021.1 release use tag `2021.4.1`

[2021-10-11 23:47] antoniomtz commented on #2816
@vladimir-dudnik You are right. I matched the OMZ with my openVINO version and I was able to convert the model and use it nicely with DLstreamer. Thank you

[2021-10-11 23:47] #2816 closed

[2021-10-13 20:48] sicoyle opened #2824 "Failed to construct OpenVINOImageInference"
This is my err msg:
`ERROR: from element /GstPipeline:pipeline0/GstGvaClassify:gvaclassify5: base_inference plugin intitialization failed
Additional debug info:
/root/gst-video-analytics/gst/inference_elements/base/inference_singleton.cpp(136): acquire_inference_instance (): /GstPipeline:pipeline0/GstGvaClassify:gvaclassify5:
Failed to construct OpenVINOImageInference
	Config for layer precision d

[2021-10-19 09:13] regainOWO opened #2832 "How to use more than 1 batch_size to inference inputs"
i am using Intel Pre-Trained Models named person-detection-retail-0013, i see the inputs shape is [1x3x320x544], when i use img shape like this ,  it works good, but i want to use mutiple_thread to get more camera frame together, i think more batch may be faster than one by one, so i give 2 batch ndarray to function parameter inputs as a test, and I get an error. Could you tell me openvino if or n

[2021-10-19 14:43] ricardborras opened #2834 "Multichannel face detection results are not reproducible when inference requests > 1"
Hi,

when running this demo 2 times on the same video and model, it does not give the same results when inference requests parameter is greater than 1.

To detect this issue, we add a log to detections returned by the postprocessor parameter defined in main.cpp (line 298)

See attached files of 2 different logs of 2 runs on the same video  (each line is a detection with x,y,width, height, confiden

[2021-10-19 15:21] telemetrieTP23 opened #2835 "inferRequest->GetBlob in Python Api ?"
Greetings !
I have a openvino Model XML where in the <cli_parameters> no Output Values were defined.
in the c++ API its possible to get the Data of Blobs even if the were not defined in Output Values, like:

Blob::Ptr locationBlob = inferRequest->GetBlob("828");
with the corresponding API method:
https://docs.openvinotoolkit.org/latest/classInferenceEngine_1_1IInferRequest.html#af885a8b36fa184ec40

[2021-10-29 14:31] vinayg-intel opened #2853 "not able to not able to download using downloader.py models"
“CA certificate of the server where open model zoo 2021.3 is host storage.openvinotoolkit.org are  changed and the new certs are not valid/secured on the browser as cert verification fails”
We are not able to not able to download using downloader.py models from “intel/text-to-speech-en-0001/text-to-speech-en-0001-regression/FP32/* /model/”

[2021-10-30 19:58] vladimir-dudnik commented on #2853
@vinayg-intel issue fixed, please check on your side

[2021-11-02 09:09] 28anmol opened #2864 "Error while installing dependencies"
Greetings!!

I am trying to run the models in open_model_zoo by installing the dependencies but I encountered the following error while running the command given on https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/downloader/README.md#prerequisites

(venv) anmolsingh@anmolsingh-VirtualBox:~/Desktop/pythonProject/DepthAIOAKD/open_model_zoo/tools/downloader$ python3 -mpip install

[2021-11-02 12:02] vladimir-dudnik commented on #2864
@28anmol where did you see "-mpip install anmolsingh" command? It seems to be your user name...

`--user` pip option instruct pip install modules into users area.

BTW, starting from OpenVINO 2021.4 there is more convenient way to install all required python dependencies and OpenVINO tools with single command

pip install openvino-dev[caffe,caffe2,onnx,tensorflow2,pytorch,mxnet]

this will install

[2021-11-02 14:21] alfawzaan commented on #1789
I just tried accessing this file, and it can't be found. Please kindly help provide the new link if any

[2021-11-04 00:33] vladimir-dudnik commented on #1789
we rearranged demo folders since 2020.4 release, new link is https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/action_recognition_demo/python/driver_actions.txt

[2021-11-04 14:03] orgicus commented on #2799
@vladimir-dudnik Apologies for the long delayed. Finally made time to try this again.

I've pulled the latest version of OpenCV (4.5.4-dev) and tried to build with openvino_2021.4.689.
This are the CMake flags and config output:

[code]

Sadly I've got stuck with a few n_graph related opencv_dnn compiler error:
[code]

I expected, as advised the latest version of (OpenCV (4.5.4-dev) and openvino_2

[2021-11-04 22:54] alalek commented on #2799
4.5.4-dev should work with OpenVINO 2021.4.689 package (2021.4.1 release)

We have here unaligned declared and used IE versions (OpenCV uses OpenVINO product version). Current value says that we using OpenVINO 2021.2.0 which is not correct.
We need to replace: 2021020000 => 2021040100 (`INF_ENGINE_RELEASE` CMake variable) to properly build code (e.g., compile [this code](https://github.com/opencv/

[2021-11-08 07:03] duanyao opened #2872 "Accuracy of person-detection-retail-0013 is much lower than the reference on COCO dataset"
I run accuracy_checker with person-detection-retail-0013/FP32 model on coco val2017 dataset, and the mAP is 47.62%, much lower than the reference(0.8862). What might be wrong?

The command and result:
[code]

Pickle files produced by accuracy_checker is here:

[outputs.zip](https://github.com/openvinotoolkit/open_model_zoo/files/7494856/outputs.zip)

Software version used:

python 3.9.2
openvino 2

[2021-11-08 09:26] eaidova commented on #2872
@duanyao model accuracy reference provided on internal testset, not COCO dataset. Unfortunatly, we can not share details about our private data

[2021-11-08 11:24] duanyao commented on #2872
I see. Could you also provide an accuracy reference on any public dataset?

[2021-11-09 09:30] duanyao opened #2876 "Accuracy checker: ignore classes with zero ground truth positive for mAP?"
If the count of ground truth positives of a class is zero, average precision of this class is undefined.
Accuracy checker ignores such classes when calculating `coco_*` metrics ( `coco_precision` etc.).
However, Accuracy checker treats average precision of such classes as zero when calculating `map` metrics ( see https://github.com/openvinotoolkit/open_model_zoo/blob/f97e6e262895182adc673da331ddb3

[2021-11-12 19:33] orgicus commented on #2799
Hi @alalek ,

Many thanks for the suggestion.
Sorry, I totally forgot I had multiple versions of OpenVINO and the cache variable `INF_ENGINE_RELEASE` CMake variable remained out of date. I've cleaned the previous OpenVINO install and it worked like a charm ! 👏

I can confirm this fixed the issue and I can run a c++ example using OpenVINO via OpenCV.

(Slightly off topic, if you could point in the

[2021-11-12 19:33] #2799 closed

[2021-11-27 15:45] ffiruzi opened #2935 "parameters for loading vehicle-license-plate-detection-barrier-0106 in opencv"
Hi,

I wonder what are the right parameters for creating a blob in order to use the **vehicle-license-plate-detection-barrier-0106** in opencv? I test the following parameters for **meanval** and **scale** and **swapRB** and I don't know if they're true. Please explain me about the  values of  blobFromImage function  and scale and meanval and swapRB parameters  for this model.

 Thank you.

[code]

[2021-11-30 16:23] eaidova commented on #2935
@ffiruzi you can find information about acceptable for model input format in its description:
https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/vehicle-license-plate-detection-barrier-0106/README.md

As you can see model expects BGR images in [0, 255] range and size 300x300, no any mean and scale should be applied in preprocessing.
Regarding opencv specific parameters, @al

[2021-12-01 06:56] Rakshith2597 commented on #2708
@vladimir-dudnik @eaidova It's been a few months, Any updates on this?

[2021-12-01 17:50] ffiruzi commented on #2935
thank you  @eaidova. I'd read the README file of the model, but I couldn't find any info about the mean and scale. I hope @alalek gives some information to create blob for this model.

[2021-12-02 12:18] alalek commented on #2935
Assume that `img` is in BGR format (default output from OpenCV's `imread()`, `VideoCapture`) and

[code]

Please note that [`security_barrier_camera_demo`](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/security_barrier_camera_demo/cpp) passes U8 input to InferenceEngine.

[2021-12-03 08:35] ffiruzi commented on #2935
Thank you @alalek.

[2021-12-03 08:35] #2935 closed

[2021-12-21 00:35] w3sip opened #3004 "Is there at least one sample custom layer implementation?"
After converting our custom layer to accommodate OpenVino API changes, we're at it again, now upgrading from 2020.2 to 2021.4. Except now there seems to be zero complete samples on how to do it. Is there a full, working, compiling sample of custom layer *anywhere*?

[2021-12-21 14:51] dkurt commented on #3004
Hi! There is no example in OMZ right now but probably this can help: https://github.com/dkurt/openvino_pytorch_layers/tree/master/user_ie_extensions . It started testing since 2020.2 so you can refer  for necessary changes for 2021.4 upgrade.

[2021-12-21 20:49] vladimir-dudnik commented on #2853
close as resolved

[2021-12-21 20:49] #2853 closed

[2021-12-21 20:52] vladimir-dudnik commented on #2708
@Rakshith2597 we've aligned OMZ branching strategy with OpenVINO and so, deleted `develop` branch (this cause to close your PR). Please reopen and retarget your PR to `master` branch

[2021-12-21 20:53] vladimir-dudnik commented on #2726
closing this as resolved

[2021-12-21 20:53] #2726 closed

[2021-12-21 20:55] vladimir-dudnik commented on #2832
closing this as resolved

[2021-12-21 20:55] #2832 closed

[2021-12-21 20:57] vladimir-dudnik commented on #2764
this has been resolved with OpenVNO 2021.4.2 release, so I'm closing the issue

[2021-12-21 20:57] #2764 closed

[2021-12-21 20:57] vladimir-dudnik commented on #2774
this gas been resolved with OpenVINO 2021.4.2 release, so I'm closing this issue

[2021-12-21 20:57] #2774 closed

[2021-12-24 10:31] tingggggg opened #3023 "Re-ID model detail"
I want to know about
https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/person-reidentification-retail-0288
https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/person-reidentification-retail-0287
...
models detail for training by myself.

Detail about use which source training code, and how to convert model to openvino format(pytorch -> onnx -> FP32.x

[2021-12-28 22:26] paularamo opened #3029 "Live Streaming with image_capture.py (action-human-recognition/python)"
I am creating a notebook (Jupyter) inspired by your demo "[action_recognition]("https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/action_recognition_demo/python)". I would like to create live streaming using different cameras (e.g webcam) and running the action recognition behind. I tried to use a "player" (utils.VideoPlayer) and also a cv2.VideoCapture as an input, and image_cap

[2021-12-29 08:37] Wovchena commented on #3029
You can provide `0` as input which will be interpreted as webcam id. See https://github.com/openvinotoolkit/open_model_zoo/blob/e813a1f0ee071c48b8bb3f56ec85331be9b35c07/demos/action_recognition_demo/python/action_recognition_demo.py#L42

[2021-12-29 11:56] sovrasov commented on #3023
Hi @tingggggg. deep-person-reid and deep-object-reid are incompatible at the moment, so that result is expected.
Try this commit from OTE: https://github.com/openvinotoolkit/training_extensions/commit/789896de22a2c99753c31c2659ee542b2cc8588e
and instructions from https://github.com/openvinotoolkit/training_extensions/tree/789896de22a2c99753c31c2659ee542b2cc8588e/pytorch_toolkit/object_reidentifica

[2021-12-29 14:33] paularamo commented on #3029
Thanks @Wovchena That was the first thing I tried, but unfortunately, it is not working and I got this message.
![image](https://user-images.githubusercontent.com/10940214/147672290-5662003f-f007-419c-9dc7-472b2282f2cd.png)
I am not using directly your main python script. I am using your dependencies in my notebook.
What do you think?

[2021-12-29 14:35] Wovchena commented on #3029
Replace `cap = open_images_capture(0, loop)` with `cap = open_images_capture('0', loop)`

[2021-12-29 14:49] paularamo commented on #3029
Thanks @Wovchena. Your code is impressive. Thanks for doing that.

[2021-12-29 14:49] #3029 closed

[2022-01-05 08:51] hayashi57 opened #3040 "About ModelRetinaFacePT::getFilteredProposals function"
The [link](https://github.com/openvinotoolkit/open_model_zoo/blob/324b4ccbb235e347e5894c22364a30f660bfe89d/demos/common/cpp/models/src/detection_model_retinaface_pt.cpp#:~:text=float%20cY%20%3D%20priors%5Bi%5D.cY%20%2B%20pRawBox%2D%3EcY%20*%20variance%5B0%5D%20*%20prior.width%3B) below may be better with the following code.
`float cY = priors[i].cY + pRawBox->cY * variance[0] * prior.height;`

[2022-01-07 21:53] vladimir-dudnik commented on #3040
@hayashi57 thanks for the catching this, seems to be typo.
@fzhar please take a look at suggested change

[2022-01-10 09:35] skaldesh opened #3043 "Support python 3.10"
I followed the install guide on https://pypi.org/project/openvino-dev/
When running the command `python -m pip install openvino-dev[caffe,onnx,tensorflow2,pytorch,mxnet]==2021.4.2` this error occurred:
[code]
I am using a virtual environment, as suggested in the install guide. Does somebody know why this fails?

[2022-01-10 10:34] eaidova commented on #3043
@skaldesh which python version do you use?

[2022-01-10 10:36] skaldesh commented on #3043
`python 3.10.1`

[2022-01-10 10:46] eaidova commented on #3043
@skaldesh unfortunatly, this version is not supported on our side yet.. some thirdparty components can not be found for this python version on pypi (ctc-decode is available only for 3.9 now as I can see https://pypi.org/project/fast-ctc-decode/0.3.0/#files, you can try to install it manually from repo to resolve the current issue, but after that, you will get another issue because the key dependen

[2022-01-10 10:48] skaldesh commented on #3043
Ah understood, thank you! I'll change the title then...

[2022-01-12 09:45] fzhar commented on #3040
Done: https://github.com/openvinotoolkit/open_model_zoo/pull/3059

[2022-01-12 21:29] vladimir-dudnik commented on #3040
@hayashi57 fix merged, I'll close the issue

[2022-01-12 21:29] #3040 closed

[2022-01-13 06:23] kminemur opened #3062 "Accuracy checker sample got error."
Accuracy sample tool causes dependency error

# steps
git clone this master repo.
cd open_model_zoo/tools/accuracy_checker
python setup.py install
create main.py
tar xvf cifar-10-python.tar.gz -C sample
accuracy_check -c sample/sample_config.yml -m data/test_models -s sample

I'm following https://github.com/kminemur/open_model_zoo/blob/master/tools/accuracy_checker/README.md to run accuracy sampl

[2022-01-13 06:29] kminemur commented on #3062
yml file config caused this issue.

After changing framework from openvino to dlsdk, no more this issue.

    launchers:
      # launcher framework (e.g. caffe, openvino)
      - framework: dlsdk

[2022-01-13 09:24] eaidova commented on #3062
@kminemur you use incompatible sample and accuracy checker versions. Obviously, you get tool from released package 2021.4 and sample from master branch. master branch is prepared for new release, where launcher has been updated. Please use the appropriate sample and tool version.

[2022-01-13 10:49] #3062 closed

[2022-01-27 09:07] vnnw opened #3118 "Question: which version of openvino is required right now?"
I tried to run 'multi_camera_multi_target_tracking_demo' but got a ModuleNotFoundError: No module named 'openvino.runtime'.
After doing some searching, I found that I should use the codes from releases like [2021.4.2](https://github.com/openvinotoolkit/open_model_zoo/releases/tag/2021.4.2) instead of cloning this repo directly.
So I wonder which version of openvino is required to run the codes in

[2022-01-27 09:08] #3118 closed

[2022-02-01 09:48] AyaNasser96 opened #3150 "Custom Yolov4 IR infer at c++ sample gives me Segmentation fault (core dumped)"
I've trained my own custom yolov4 (darknet) on 1 class, then convert it to onnx successfully and to IR as well,
now I want to infer the IR model with c++ samples, I used those samples ( multi_channel_object_detection_demo_yolov3 and object_detection_demo)
and both gives me the following error (Segmentation fault (core dumped)

![image](https://user-images.githubusercontent.com/98317981/151945630-4

[2022-02-01 13:36] vladimir-dudnik commented on #3150
@AyaNasser96 OMZ demos are built in assumption that OMZ models will be used at inference. As you said, you have train your own model and change configuration to have a single detection class, what is different from OMZ public yolo-v4 model. Note, OMZ object_detection_demo provides a couple optional command line params, to specify non default anchors and anchors mask for custom yolo-v4 models. not

[2022-02-01 13:42] AyaNasser96 commented on #3150
@vladimir-dudnik thank you, I'll try to investigate more in that
I've also notice something, that I'm already have a different weights (that is included in .bin file) so how could I provide those weights to the demo ?

[2022-02-01 13:58] vladimir-dudnik commented on #3150
@AyaNasser96 demo accept path to model XML file (if you run it with models in OpenVINO IR form, note, it is also possible to apply model in ONNX form, OpenVINO can accept ONNX models directly) and assumption is that .BIN file has the same name as .XML file and is located in the same folder. In this case OpenVINO will find .BIN file automatically.
Although, OpenVINO API allow to specify both, path

[2022-02-01 14:01] AyaNasser96 commented on #3150
@vladimir-dudnik
This explains A LOT XD Thank you ^^,
I'll investigate more and get back to you ^^

[2022-02-01 19:05] vladimir-dudnik commented on #3150
@fzhar @ivikhrev @akorobeinikov @anzhella-pankratova could you please help with answering this ?

@AyaNasser96 meanwhile, you may review one of the previous discussions regarding custom yolo-v4 model #2598, you also may find useful to review this [topic](https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/Running-Custom-IR-files-in-Video/m-p/1301401) on OpenVINO forum (discussed how to c

[2022-02-05 08:51] AyaNasser96 commented on #3150
Sorry for late reply,
I want to point that in addition to the above error msg,
when I choose the yolov4 I found that it reads the number of classes as 3554 not 1 class !!

I think this means it not access the output layer !
but when I print the output layer name I found that it points to confs and boxes !!
So I really dnt know where the problem is ? how it could say that the number of classes is 3

[2022-02-05 09:22] AyaNasser96 commented on #3150
I also found the original config contains the follow:
mask = 0,1,2
classes=1
num=9

Which is different from the openvino yolov4 has:
masks: [0, 1, 2, 3, 4, 5, 6, 7, 8]
num=3

So i Change those parameters according to my config file and the num of classes now is 1178 !!

Do I need to check something else in the config file ?
**Despite am already use this config to convert the yolov4 to onnx then to

[2022-02-06 16:15] eaidova commented on #3150
it is not a mistake, we use a slightly different approach for num estimation. num in darknet config contains sum for all outputs (3 for each out in yolo v4 gives 9) and then divide on a number of outs in the postprocessing code, we use already post processed num.

Unfortunately, due to lack native darknet support for conversion to IR different paths for conversion may lead to different results. I

[2022-02-07 04:54] yahanda opened #3166 "face re-identification limits"
Hi there!

I have a quick question about maximum number of person that can be registered in face gallery for face-reidentification-retail-0095.
Are there any limits? Any known usage restrictions?

[2022-02-07 08:14] vladimir-dudnik commented on #3166
Looking at [face-reidentification-retail-0095](https://docs.openvino.ai/2021.4/omz_models_model_face_reidentification_retail_0095.html) model description, we can see that it takes image with one face (128x128) at a time and produce vector of 256 floating point values, representing descriptor of this face. This descriptor then may be compared by cosine distance against such vectors, computed on oth

[2022-02-07 22:59] AyaNasser96 commented on #3150
@eaidova Many thanks to your amazing conclusion,
I managed to convert it and ran it successfully with the python sample and c++ samples

**(python samples sometimes give me overflow error so I used c++ samples)**
Python error:
![image](https://user-images.githubusercontent.com/98317981/152871514-e73eaad1-d07d-40c2-b6f4-3cae2cb69d70.png)

but this model is aimed to detect the license plates, I were

[2022-02-08 02:08] yahanda commented on #3166
Understood. Thank you for the clarification.

[2022-02-08 02:08] #3166 closed

[2022-02-08 06:36] eaidova commented on #3150
How do you convert model to IR?
Our OMZ demos assume that model expects BGR image in [0, 255] range. It means that some preprocessing options should be included to MO command line (if I right remember for yolo models standard is RGB image [0, 1]):
--scale 255 --reverse_input_channels

[2022-02-08 18:43] vladimir-dudnik commented on #3023
closing this as answered

[2022-02-08 18:43] #3023 closed

[2022-02-08 18:47] vladimir-dudnik commented on #2864
closing this as answered

[2022-02-08 18:47] #2864 closed

[2022-02-08 18:49] vladimir-dudnik commented on #2626
closing as answered

[2022-02-08 18:49] #2626 closed

[2022-02-08 18:58] vladimir-dudnik commented on #290
close as outdated

[2022-02-08 18:58] #290 closed

[2022-02-09 07:44] AyaNasser96 commented on #3150
@eaidova  Thank you,  I forget to do that scaling step, this worked perfectly ^^
I will submit a detailed solution here and then close the issue.

[2022-02-11 14:17] wdkwyf opened #3203 "[Suggestion] Change efficientNet-b0 ckpt File to Match Torchvision"
The OMZ [efficientnet-b0-pytorch](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/efficientnet-b0-pytorch) use different ckpt file with the [torchvision.models.efficientnet.](https://pytorch.org/vision/main/_modules/torchvision/models/efficientnet.html).
That is: efficientnet_b0-d6904d92.pth(OMZ version) vs efficientnet_b0_ra-3dd342df.pth(torchvision use, popular)
So, I

[2022-02-11 18:45] vladimir-dudnik commented on #3203
@wdkwyf thanks for suggestion, @eaidova @jkamelin could you please review suggested change?

[2022-02-13 10:41] AyaNasser96 commented on #3150
- Using openvino docker ([openvino/ubuntu20_dev - Docker Image | Docker Hub](https://hub.docker.com/r/openvino/ubuntu20_dev))

- mkdir tf-IR

- Clone this repo inside tf-IR:
git clone https://github.com/david8862/keras-YOLOv3-model-set.git

- Set  your_model.weights at tf-IR

- Set your config: your_model.cfg , at keras-YOLOv3-model-set/cfg

- cd /opt/intel/openvino_2021.4.752/deployment_tools/mod

[2022-02-13 10:41] #3150 closed

[2022-02-16 01:59] vnnw commented on #3118
Seems the master branch is for currently development, you should download the released codes here: https://github.com/openvinotoolkit/open_model_zoo/releases/tag/2021.4.2

[2022-02-17 12:19] dkurt opened #3252 "AttributeError: 'CompiledModel' object has no attribute 'get_property'"
1. Install OpenvINO
[code]
2. Run demo
[code]
[code]

[2022-02-17 12:42] dkurt commented on #3252
Sorry about that. Solved in the latest release package

[2022-02-18 23:34] vladimir-dudnik commented on #3118
@ziudeso @vnnw for OMZ python demos in `master` branch you should install OMZ model API module (it is actually part of OMZ), call `pip install <OMZ>/demos/common/python`

Note, OMZ demos in `master` branch migrated to OpenVINO 2022.1 API (lot of changes, stay tuned) and require 2022.1 runtime. Pre-release for OpenVINO 2022.1 publicly [available](https://github.com/openvinotoolkit/openvino/releases

[2022-02-23 06:17] Praveen-mvp opened #3281 "ModuleNotFoundError: No module named '_pyngraph'"
Received a error While running the Object-detection-python demo

![Screenshot from 2022-02-23 11-45-35](https://user-images.githubusercontent.com/78363617/155270036-36892333-4511-46c3-871c-064b59a87e5c.png)

[2022-02-24 10:04] vladimir-dudnik commented on #3281
@Praveen-mvp Open Model Zoo released and validated with each OpenVINO public release. So it depends on this particular OpenVINO release features and have to be used with it.
It's not clear where you took Open Model Zoo demo from, it looks like you use OMZ from OTE as submodule and not from OpenVINO release? If so, than you better to ask at OTE github what version of OMZ they use as OTE submodule a

[2022-02-24 13:13] js333031 opened #3291 "While building OMZ demos, getting ov::streams not declared error"
While building OMZ demos, getting ov::streams not declared error
`Scanning dependencies of target utils
[  5%] Building CXX object common/cpp/utils/CMakeFiles/utils.dir/src/args_helper.cpp.o
[  6%] Building CXX object common/cpp/utils/CMakeFiles/utils.dir/src/config_factory.cpp.o
[  6%] Building CXX object common/cpp/utils/CMakeFiles/utils.dir/src/image_utils.cpp.o
[  6%] Building CXX object commo

[2022-02-24 14:00] vladimir-dudnik commented on #3291
@js333031 this change was recently introduced by OpenVINO, see OpenVINO PR https://github.com/openvinotoolkit/openvino/pull/10411 and corresponding change done on OMZ side, see PR https://github.com/openvinotoolkit/open_model_zoo/pull/3254. You will need OpenVINO 2022.1.605 build to be able compile OMZ from master branch

[2022-02-24 18:25] js333031 commented on #3291
Which tag can I use to checkout OpenVINO 2022.1.605?

Alternatively, which OMZ tag can I use to compile OMZ with OV  2022.1.0.dev20220215?

[2022-02-24 22:33] vladimir-dudnik commented on #3291
@js333031 when you check out OpenVINO by tag 2022.1.0.dev20220215 you may find corresponding Open Model Zoo, included as submodule at thirdparty/open_model_zoo folder

[2022-02-25 11:35] Praveen-mvp opened #3297 "ModuleNotFoundError: No module named '_pyngraph'"
Received an error while running the 'Object Detection Demo'

![er](https://user-images.githubusercontent.com/78363617/155708681-3d9d0df7-2e62-455f-90f7-2979a5b58951.jpg)

[2022-02-25 11:43] vladimir-dudnik commented on #3297
@Praveen-mvp seems mismatch between OpenVINO runtime and Open Model Zoo version. 2021.1 is relatively old release, the latest is 2021.4.2. Could you try with the latest release? If not, then you have to use Open Model Zoo from 2021.1 release

[2022-03-03 19:54] walteriviera opened #3332 "documentation mismatch"
Trying to get the 3d_segmentation_demo working, but as soon as I start reading the documentation, it request to install requirements.txt and that file is not even there.

Documentation refers to omz_directory, with no explanation on how to set it, although the concept is clear.
Nevertheless, the demo doesn't work because the install instructions points to link which are not exaustive in explaining

[2022-03-03 20:48] vladimir-dudnik commented on #3332
@Wovchena @anzhella-pankratova @akorobeinikov @ivikhrev

[2022-03-04 14:51] eaidova commented on #3203
@wdkwyf thanks for your suggestion. We will be happy to align weights with official torchvision model version
We prepared PR with these changes https://github.com/openvinotoolkit/open_model_zoo/pull/3336

[2022-03-07 09:09] wdkwyf commented on #3203
Thanks all!

[2022-03-07 09:09] #3203 closed

[2022-03-07 23:03] Bahramudin opened #3347 "Building OpenCV4.5.5 form source with enabling Inference Engine not working?"
I have successfully built OpenCV from the source without any errors, but when I am using Inference Engine to read net, it shows the following error:

But when I print `cv::getBuildInformation();` it prints the following output:

So the output shows it has the Inference Engine functionality to read net, but why it is not working?

[2022-03-09 08:55] vladimir-dudnik commented on #3347
@Bahramudin could you please provide more details on how you use Inference Engine to read net, make sure you initialized your environment in right way, so that when you run your OpenCV program it will load your build of OpenCV instead of precompiled version from OpenVINO distribution.
@mshabunin @alalek could you please comment on this?

[2022-03-09 18:13] Bahramudin commented on #3347
@vladimir-dudnik This is how I use it, the same code was working well in previous versions:

        cout << ">>>>>>>>>>>>>> start" << endl;
        string basePath = "D:/models/OpenVINO_2021_4_752/person-detection/";
        std::string modelName = "person-detection-0203"; cv::Size size(480, 864);
        string modelPath = "/FP32/";

        string xml = basePath + modelName + modelPath + modelN

[2022-03-09 18:27] mshabunin commented on #3347
This error should not be shown if your OpenCV build have OpenVINO support enabled. There are two possibilities, either you are using second copy of OpenCV from elsewhere in the actual application, either you have broken internal cmake state after changing the options. Try to make a clean build and double check that OpenCV being loaded is the one built with OpenVINO support (call `getBuildInformati

[2022-03-09 19:57] Bahramudin commented on #3347
@mshabunin I have checked every possible issue, in my PC I only have one OpenCV build library, in every OpenCV update, I delete everything including OpenVINO old version and download all the latest codes and packages and do a clean build from scratch, so there will not be any old version libraries to make conflict with the new one.

In all time I respect the same policy, but before everything was

[2022-03-10 14:19] mshabunin commented on #3347
I've not been able to reproduce your issue with OpenCV@4.5.5 or 4.x branch and OpenVINO 2021.4.2 ([model](https://storage.openvinotoolkit.org/repositories/open_model_zoo/2021.4/models_bin/3/person-detection-0203/FP32/), [release](https://storage.openvinotoolkit.org/repositories/openvino/packages/2021.4.2/)).

So I built OpenCV (only _dnn_ module):
[code]
Then build an application:
[code]
Then ran

[2022-03-10 22:45] Bahramudin commented on #3347
@mshabunin I am wondering why here in my PC is not working, anyway, I will keep trying to get the reason that is why it is not working and then I will share it here.
Thanks!!

[2022-03-14 23:11] Bahramudin opened #3363 "Unable to use Inference Engine detect objects"
OpenCV: 4.5.5
OpenVINO: 2021.4.2

The problem happens when running the following code (the same code was working well in the previous versions):

[code]
And this is the error:

[2022-03-14 23:12] Bahramudin commented on #3347
Something I have discovered is, when building OpenCV from source (I think there are now new changes made by the OpenCV team) need to enable both `OPENCV_DNN_OPENVINO` and `WITH_OPENVINO` which before there was only one flag needed to be enabled (WITH_ENFERENCE_ENGIN).
But now I am facing a [new](https://github.com/openvinotoolkit/open_model_zoo/issues/3363#issue-1169006054) problem.

[2022-03-15 00:22] alalek commented on #3363
There is OpenCV DNN API limitation.
OpenCV DNN is designed to work with FP32 outputs only (even with fp16 internal inference).
Some experimental workarounds were added, so you see these warnings (**NOT ERRORS**) which may cause some performance impact.

To use OpenVINO models with non-FP32 outputs it is recommended to use OpenVINO API directly instead of OpenCV DNN API.

---

There is no issue wit

[2022-03-15 00:30] alalek commented on #3347
Avoid using of CMake GUI - changing build configuration **on the fly** is tricky and it is not validated.

Consider using of CMake command-line only:
- all required flags are specified on the first run (we have reproducible input as much as possible)
- clear CMake cache if dependencies are changed or upgraded

[2022-03-15 20:40] Bahramudin commented on #3363
@alalek I am just using FP32
`D:/models/OpenVINO_2021_4_752/person-detection/person-detection-0203/FP32/person-detection-0203.xml`

Which I downloaded it from:
[code]

And I don't know what do you mean by **FP32 outputs**, is there any settings to do before starting detecting?

And also I tested **person-detection-0202** which does not give any error, but there is no output produced when forwardin

[2022-03-15 21:44] vladimir-dudnik commented on #3363
model [person-detection-0203](https://docs.openvino.ai/2021.4/omz_models_model_person_detection_0203.html) has two outputs:
1, name "boxes", shape [100, 5], type FP32
2, name "labels", shape [100], type I32

and model person-detection-0202 has single output:
name "detection_out", shape [1, 1, 200, 7], type FP32

as @alalek said, OpenCV DNN has limitation that it support model outputs of FP32 type

[2022-03-15 23:51] #3363 closed

[2022-03-16 09:51] vladimir-dudnik commented on #2480
closing as not active. feel free to reopen in case still not solved

[2022-03-16 09:51] #2480 closed

[2022-03-23 05:58] smitesh-sutaria opened #3393 "text to speech demo with 2022.1 : Issue with bigger sentences."
Hello,

multi-0001 models:

Gave the below input as text : "Conversational AI is the synthetic brainpower that makes machines capable of understanding, processing and responding to human language."

The audio output came only for last few words repeatedly.

Though the shorter sentences worked fine.

Also, the melgan default width has been changed from 80 to 800 ??

[2022-03-23 06:04] smitesh-sutaria commented on #3393
Specially if longer sentences don't have delimiters.

[2022-03-23 08:23] vladimir-dudnik commented on #3393
@smitesh-sutaria confirm the issue, we will look at it. Meanwhile, you can run demo with options `-s_id 1` and `-a 0.8` to generate the whole phrase

@anzhella-pankratova @eaidova @akorobeinikov @ivikhrev @Wovchena @a-a-egorovich

[2022-03-23 08:30] smitesh-sutaria commented on #3393
-a 0.8  : is very fast and not recommended for close to human like voice

[2022-03-23 08:36] smitesh-sutaria commented on #3393
3 changes, want to know your opinion:

1. change len_th = 80 in main() in text_to_speech_demo.py
2. add ',' as a delimiter.  delimiters = '.!?;:,'
3. change default_width for MelGANIE to 80. (from 800)

With above changes, we get better inference for longer sentences + ',' as delimeter

[2022-03-23 08:57] vladimir-dudnik commented on #3393
@smitesh-sutaria I do not have an immediate answer, but I've created ticket for the issue, development team will look at this and get back with answers

[2022-03-23 10:02] smitesh-sutaria commented on #3393
@vladimir-dudnik @anzhella-pankratova @eaidova @akorobeinikov @ivikhrev @Wovchena @a-a-egorovich

Have created a pull request : https://github.com/openvinotoolkit/open_model_zoo/pull/3395

[2022-03-23 12:35] a-a-egorovich commented on #3393
the root cause of this problem is line 235 in https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/text_to_speech_demo/python/models/forward_tacotron_ie.py.
The mels.append(mel) must be changed to mels.append(np.copy(mel)).

[2022-03-23 12:47] smitesh-sutaria commented on #3393
![image](https://user-images.githubusercontent.com/66471437/159702410-e8e03867-b10d-4788-925b-e6c6db34c7c7.png)

The previous 2021.4 version had no changes related to it. But it used to work for such sentences. How this change is impacting now ?

[2022-03-24 12:41] eaidova commented on #3393
@smitesh-sutaria thank you for your contribution! We merged your PR with fix to master branch. Can we close this issue?

[2022-03-24 12:50] smitesh-sutaria commented on #3393
@eaidova : Thank you. Yes, it can be closed now.

[2022-03-24 12:51] #3393 closed

[2022-03-28 18:51] dwipddalal commented on #2718
Is this issue still open? I would like to work on this.

[2022-03-29 05:57] eaidova commented on #3332
The issue already fixed as part of https://github.com/openvinotoolkit/open_model_zoo/pull/3334
Currently there is no additional requirements.txt for specific demos, all requirements in one place. Actual python demos requirements installation process described in https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos#dependencies-for-python-demos
@walteriviera thank you for your note!

[2022-03-29 09:14] dkurt commented on #2718
@dwipddalal, yes, it's still open.

[2022-03-29 10:36] wallacezq opened #3417 "smartlab demo not working with OV 2022.1"
I'm getting the following error when trying to run smartlab demo. The latest 2022.1 OV runtime is installed. Any ideas how i can fix this ?

_Traceback (most recent call last):
  File "smartlab_demo.py", line 144, in <module>
    main()
  File "smartlab_demo.py", line 105, in main
    frame_index=frame_counter)
  File "C:\test\open_model_zoo_2022\2022.1.0\open_model_zoo\demos\smartlab_demo\python\

[2022-03-29 10:56] Wovchena commented on #3417
@kminemur, can you look at it?

[2022-03-29 11:07] kminemur commented on #3417
@wallacezq

probably the error comes from reshape (line 57-58), since openvino API2.0, the model shape changed.

You may try

net.reshape({net.inputs[0]: PartialShape(
    [self.EmbedBatchSize, 3, self.EmbedWindowLength, self.ImgSizeHeight, self.ImgSizeWidth])})

[2022-03-29 11:26] wallacezq commented on #3417
@kminemur it doesn't work.

I get the following error:
C:\test\open_model_zoo_2022\2022.1.0\open_model_zoo\demos\smartlab_demo\python>start.bat
Traceback (most recent call last):
  File "smartlab_demo.py", line 144, in <module>
    main()
  File "smartlab_demo.py", line 66, in main
    segmentor = SegmentorMstcn(core, args.device, args.m_encoder, args.m_decoder)
  File "C:\test\open_model_zoo_2022

[2022-03-29 11:32] kminemur commented on #3417
how about this?

net.reshape({net.inputs[0]: PartialShape(
[self.EmbedBatchSize, 3, self.EmbedWindowLength, **self.ImgSizeWidth**, **self.ImgSizeHeight**])})

[2022-03-29 12:46] wallacezq commented on #3417
@kminemur downloaded with omz_downloader of the openvino-dev==2022.1.0

[2022-03-30 02:32] kminemur commented on #3417
I reproduced your issue.
will take a look root of cause.

[2022-03-30 07:34] kminemur commented on #3417
Hi
i3d-rgb-tf model was changed, so need to fix some part of codes.

# Workaround: please change segmentor.py as following

**[L56-61]**
  net = core.read_model(i3d_path)
  net.reshape({net.inputs[0]: PartialShape( \
      [self.EmbedBatchSize, self.EmbedWindowLength, self.ImgSizeHeight, self.ImgSizeWidth, 3])})

  nodes = net.get_ops()
  net.add_outputs(nodes[11].output(0))

**[L128-129]**
  # in

[2022-03-31 04:44] roshan-ku opened #3429 "text_to_speech demo not working with -s_id -1(for tts multi model)"
Hi
I was trying to run the text to speech demo multi-model with speaker id (-s_id -1), I am facing the below error.

Traceback (most recent call last):                                                                                                                                                                                   File "C:\workspace\tts\applications.ai.conversational-ai.tts\services\

[2022-03-31 05:29] wallacezq commented on #3417
Thanks for the workaround @kminemur .
It only works for me if i added a minor change to the workaround proposed by you, else i would get an error that says _TypeError: can't multiply sequence by non-int of type 'float'_

[code]

[2022-03-31 06:06] kminemur commented on #3417
Thanks for the comment

[2022-03-31 07:43] Wovchena commented on #3429
@akorobeinikov, please, take a look

[2022-04-01 06:43] #3332 closed

[2022-04-01 07:46] Balu2311 opened #3439 "How to play multiple cameras in face recognition"
single cameras working using threading but multiple cameras error got request busy and out of range of index, automatic dis connect cameras  only single camera working

[2022-04-01 08:44] vladimir-dudnik commented on #2718
@dwipddalal welcome to OMZ contributors, can I assign this PR to you?

[2022-04-01 11:54] vladimir-dudnik commented on #3439
@Balu2311 are you talking about Python face_recognition_demo ? According to the [description](https://docs.openvino.ai/latest/omz_demos_face_recognition_demo_python.html), this demo takes single input:
  -i INPUT, --input INPUT
                        Required. An input to process. The input must be a
                        single image, a folder of images, video file or camera id.

[2022-04-01 12:46] vladimir-dudnik commented on #2042
@jomoengineer where openvino_sample_peopledetect comes from? It is not part of OpenVINO Samples nor Open Model Zoo demos.

[2022-04-01 12:59] vladimir-dudnik commented on #2042
@jomoengineer have you resolved that issue? OpenCV does not decode video data by itself, it use some media backends instead. And we do not know what media backends available on your system. Could you try to play this .MP4 file with any system application?

[2022-04-01 13:04] vladimir-dudnik commented on #2406
@wonkydog seems this was answered, do you have other questions?

[2022-04-01 13:12] vladimir-dudnik commented on #2260
@wdkwyf https://github.com/openvinotoolkit/open_model_zoo/pull/2654 merged and is now part of OpenVINO 2022.1 release

[2022-04-01 13:15] vladimir-dudnik commented on #2662
@Hnnuliulei123456 please follow official OpenVINO [documentation](https://docs.openvino.ai/latest/openvino_docs_install_guides_installing_openvino_raspbian.html#doxid-openvino-docs-install-guides-installing-openvino-raspbian) for RaspberryPi

[2022-04-01 13:22] vladimir-dudnik commented on #2748
transferring to OTE for model fine tuning related questions

[2022-04-01 13:24] vladimir-dudnik commented on #2835
closing as answered

[2022-04-01 13:24] #2835 closed

[2022-04-01 13:25] vladimir-dudnik commented on #3291
resolved in OpenVINO 2022.1 release

[2022-04-01 13:25] #3291 closed

[2022-04-01 13:28] vladimir-dudnik commented on #3417
patch created https://github.com/openvinotoolkit/open_model_zoo/pull/3430

[2022-04-01 22:29] dwipddalal commented on #2718
Yes Please assign it to me. I would love to work on it.

[2022-04-02 00:15] dwipddalal commented on #2718
Can you also please share some resources that can help me to get started with it?

[2022-04-02 12:15] moradAMR opened #3441 "combine two demo"
hi , i want to combine two demo social_distance_demo and Smart
_classroom_demo in one demo but i have some problmes , if you can help me ?

this is it the demo that i did .

[test_demo.zip](https://github.com/openvinotoolkit/open_model_zoo/files/8402453/test_demo.zip)

[2022-04-04 08:29] vladimir-dudnik commented on #2718
@dwipddalal sure, what resources do you mean? Are you asking about OpenVINO API and Open ModelZoo Model API details?

[2022-04-04 08:30] vladimir-dudnik commented on #3417
@wallacezq patch #3430 merged to master branch

[2022-04-04 08:34] vladimir-dudnik commented on #3441
@moradAMR smart_classroom_demo provides functionality to detected/recognize people in classroom (either students or teacher, depending on used model) and recognize actions they do during some time. And social_distance_demo detects people and compute approximate distance between them and warn if distance is less some threshold.
What functionality you want to combine in new demo?

[2022-04-05 23:50] jomoengineer commented on #2042
@vladimir-dudnik This issue is over a year old and not something I have come back to since.
The original issue is regarding "Open Model Zoo example from a OpenVINO Docker image on a Raspberry Pi 4" so that should give you a clue as to the backend that was used.  Other than that, I have not idea.  My suggestion is to try running the Docker Image as stated on a Raspberry Pi 4 and see what happens. T

[2022-04-06 13:06] moradAMR commented on #3441
I want to integrate all the functions OF smart_classroom_demo and function of compute approximate distance between people and warn if distance is less some threshold for social_distance_demo

[2022-04-06 15:57] dwipddalal commented on #2718
Yes I am asking about OpenVINO API and Open ModelZoo Model API details.

[2022-04-06 16:18] dkurt commented on #2718
I think AsyncPipeline os something expected in Python demo. I also have an example by using it in a different deom: https://github.com/openvinotoolkit/open_model_zoo/pull/2178 (please note that something could be changed)

[2022-04-07 14:24] Hnnuliulei123456 commented on #2662
Thank you sir. I will continue to follow openvino's updates to Raspberry Pi. If you have something new to do, please also recommend it to me.

| |
13605545615
|
|
***@***.***
|
On 4/1/2022 21:16，Vladimir ***@***.***> wrote：

@Hnnuliulei123456 please follow official OpenVINO documentation for RaspberryPi

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this beca

[2022-04-08 03:10] yahanda opened #3458 "face re-identification with a mask"
Is [face-reidentification-retail-0095](https://docs.openvino.ai/2021.4/omz_models_model_face_reidentification_retail_0095.html) also valid for identification of people wearing face coverings?
We are looking for a way to identify the face wearing masks with openvino.
Are there any recommendatinos for face identification with a mask, best practice, or things to watch out for?

Thanks,

[2022-04-12 12:23] xiuxiusen opened #3460 "Builde demos successfully.But video connection refused!!!"
Operating system:Ubuntu mate 20.04
I have successfully build open_model_zoo on my RPi 4B.And the directory omz_demos_build occurs.
I use the intel realsense D435i and NCS2.
I follwoed this link https://docs.openvino.ai/latest/omz_demos_human_pose_estimation_demo_cpp.html. Then I open ~/omz_demos_build/aarch64/Release in the Terminal.
I run the commend ./human_pose_estimation_demo -i /dev/video -m

[2022-04-13 12:26] Balu2311 opened #3461 "How to solve this errors [ REQUEST_BUSY ] and cannot unpack non-iterable NoneType object face recognition demo"
[ REQUEST_BUSY ]
    def enqueue(self, input):
        self.clear()

        if self.max_requests <= self.active_requests:
            log.warning('Processing request rejected - too many requests')
            return False

       self.exec_net.start_async(self.active_requests, input)

      self.active_requests += 1
     return True

[2022-04-13 22:21] vladimir-dudnik commented on #3458
@yahanda face-reidentification-retail-0095 model was trained on dataset with faces without masks (long time ago, before COVID pandemic). Although, it still may work for people with masks, but you need to understand features and limitation of this model. Strictly speaking, the model just compute vector of features from 128x128 face crop. Application then evaluate the cosine distance between several

[2022-04-13 22:27] vladimir-dudnik commented on #3460
@xiuxiusen have you tried this demo with input from video or image file instead of realsense camera? OMZ demos use OpenCV to work with media inputs (image or video), which in its turn use system media backends to handle connection with media HW or to do media decoding. Can you work with D435i camera with OpenCV samples?

cc @alvoron @alalek @mshabunin

[2022-04-13 22:29] vladimir-dudnik commented on #3461
cc @akorobeinikov @anzhella-pankratova

[2022-04-14 02:21] jiaerwang0328 opened #3462 "yolov4+2022.1openvino，The test result is wrong"
I get yolo-v4-tf.xml using omz_downloader --name yolo-v4-tf and omz_converter --name yolo-v4-tf commands, but when running the demo ： .\object_detection_demo.exe -d CPU -i car-detection.mp4 -m yolo-v4-tf.xml -at yolo -layout NHWC -t 0.5 -iou_t 0.5 -labels label.txt  , the network detection result is wrong，Can you give me some advice, thanks in   advance  ？
![image-20220414101735391](https://user-i

[2022-04-14 02:23] wuranran commented on #3462
@kminemur Can you give me some advice？

[2022-04-14 20:01] mempf commented on #3462
Hi @jiaerwang0328 I also ran into this issue when using the new model optimizer included in the 2022.1 release. I have created a PR that attempts to fix this issue.

[2022-04-17 12:34] moradAMR opened #3464 "combine social_distance_demo and Smart _classroom_demo"
hi , i want to combine two demo social_distance_demo and Smart
_classroom_demo in one demo but i have some problmes , if you can help me ?
(I want to integrate all the functions OF smart_classroom_demo and function of compute approximate distance between people and warn if distance is less some threshold for social_distance_demo)

this is it the demo that i did .

[2022-04-18 05:34] Balu2311 commented on #3461
did not understand, please how to solve the issue

[2022-04-18 05:37] Balu2311 opened #3465 "multi cameras to face detection python language based"
multiple RTSP cameras to face detection at a time python source
any one heal me

[2022-04-21 07:58] Balu2311 commented on #3461
def enqueue(self, input):
        self.clear()

        if self.max_requests <= self.active_requests:
            log.warning('Processing request rejected - too many requests')
            return False
        try:
            self.exec_net.start_async(self.active_requests, input)
        except:
            self.exec_net.start_async(self.active_requests, input)
        self.active_requests += 1

[2022-04-21 07:59] Balu2311 opened #3466 "list assignment index out of range Error showing this lines from self.exec_net.requests[i].wait() self.outputs[i] = self.exec_net.requests[i].output_blobs # error this line and above line"
def wait(self):

        if self.active_requests <= 0:
            return

         self.outputs = [None, ] * self.active_requests
         for i in range(self.active_requests):
             self.exec_net.requests[i].wait()
             self.outputs[i] = self.exec_net.requests[i].output_blobs #  error this line and above line

         self.active_requests = 0

[2022-04-24 16:33] bigrobinson opened #3467 "omz_downloader version conflict"
OS: Raspbian Bullseye
Python: 3.9
Following instructions from: https://www.intel.com/content/www/us/en/support/articles/000057005/boards-and-kits.html

Build was successful and environment successfully sourced. Entered OMZ demos (human_pose_estimation_3d_demo) and executed

`omz_downloader --list models.lst`

Resulting errors indicate versioning problem with omz-tools in python 3.9:

omz_downloade

[2022-04-27 10:22] Balu2311 opened #3468 "how to avoided false detection from face detection model can help me"
![FaceDetection31_03_2022_TIME_16_28_08](https://user-images.githubusercontent.com/53854911/165496846-10d4cb55-7bba-4122-be88-6b0bf8864238.jpg)

I tried to change the threshold(0.8) value and input frame size (500,700), but the same faced false detection, open-vino face detection all models checked but the same issue facing

[2022-04-28 13:51] AntalZsiros opened #3470 "Using the 2.0 API gives bad results with YOLO models"
We have compiled the object detection demo for the new 2022.1 openvino:
https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/object_detection_demo/

When running the demo, we load one of our own models, which gave correct results with the previous version of this demo (openvino version 2021.4).

The object detection demo for openvino 2021.4 returns this result:
![2021 4](https://use

[2022-05-18 13:54] eugene123tw commented on #3470
Hi @AntalZsiros, could you share the command line you used to run the model and the dataset? I can take a look

[2022-05-18 15:46] boeItxotic opened #3473 "Text-recognition-0016 Error when Run Text Detection Demo"
After entering the command to text detection demo cpp with text-recognition-0016 model  :

./text_detection_demo -i 1.png -m_td text_detection/text.xml \
 -m_tr text_recog_ori_32/text-recognition-0016-encoder.xml -tr_pt_first \
 -m_tr_ss "?0123456789abcdefghijklmnopqrstuvwxyz" \
 -tr_o_blb_nm "logits" -dt simple -lower

i got this error :+1:

[ INFO ] OpenVINO
[ INFO ] 	version: 2022.1.0
[ INFO ]

[2022-05-18 22:38] AyaNasser96 opened #3474 "Custom Inception Model label file"
Hi,
I am using OpenVINO v:2021.4
I am trying to run my custom Inception model (using classification demo) the inception model classify between 8 color classes.
I've made a txt file labels.txt  that contains the classes like that

black
yellow
etc..

(each class at one line)
but the demo said the label file format is incorrect ?
how should I provide my custom labels with classification demo ?

Also

[2022-05-20 06:02] AishaSamaanKhan opened #3475 "Memory Leak observed in text_to_speech model demo sample"
## Summary

We were trying to leverage the openvino text to speech demo sample as inferencing server to which input is fed continuously, we observed that with each input text the memory consumption increases and eventually causing segment fault which results in machine crash. After debugging we found that the scope of inference network object still remain and thereby become a garbage object.

## Q

[2022-05-22 08:42] AyaNasser96 commented on #3474
@vladimir-dudnik Could you please check this, it's a quick question ^^
Thanks in advanced

[2022-05-23 20:35] AyaNasser96 opened #3477 "Classification demo (get confidence)"
Hello,

I am using OpenVINO 2021.4,
I ran the classification demo (Cpp code) and I could get the label name easily but I couldn't find how to get the label confidence ?
![image](https://user-images.githubusercontent.com/98317981/169901188-5eb4438c-455e-47ea-92dc-194a77df73e6.png)

[2022-05-24 19:19] AyaNasser96 commented on #3477
Solved,
I could access it through the classiifcation_model.cpp @ the postprocess function
    result->prop_res = classificationData[indices[0]];

The prop_res will be a float empty variable at classification result @ result.h

[2022-05-24 19:19] #3477 closed

[2022-05-24 19:20] AyaNasser96 commented on #3474
Solved,
The problem was at my model,
but the right way is to make a txt file that map each output class number with the label, for example if color model:
0 Black
1 White
etc..

[2022-05-24 19:20] #3474 closed

[2022-05-25 11:47] jeesk opened #3478 "face_recognition modal is so bad ? what's happend ?"
Can only one of the 20 pictures be recognized?

python ./face_recognition_demo.py  -i /home/song/project/faceai/faceai/img/face_recognition/   -m_fd /home/song/env3/test/open_model_zoo/demos/face_recognition_demo/python/intel/face-detection-retail-0004/FP32/face-detection-retail-0004.xml   -m_lm ~/env3/test/open_model_zoo/demos/face_recognition_demo/python/intel/landmarks-regression-retail-0009/FP

[2022-05-26 13:51] AntalZsiros commented on #3470
Hi @eugene123tw
This error was caused by a private model and not a public one.
This model produces correct results with OpenVino 2021.4 and the corresponding object detection demo which was using V1 api.
However, when we are using openvin 2022.1 where the object detection demo demonstrates the use of V2 api the outputs are incorrects.

The object detection demo for openvino 2022.1 release was crea

[2022-05-31 06:33] Aritro-Shen opened #3479 "Unknown model format! Cannot find reader for model format: xml and read the model:"
When IN OpenVINO21.4 docker container, I want to load my trained model (converted to IR model), but I get this error, why?
`Traceback (most recent call last):`
`  File "/home/Aritro/Openvino/ob_detect.py", line 112, in <module>`
`    detect_pro = detect()`
`  File "/home/Aritro/Openvino/ob_detect.py", line 39, in __init__`
`    network = core.read_network(model=model_file, weights=weights_file)  #

[2022-05-31 17:41] ericpronovost opened #3480 "Multi Camera Multi Target Demo fails with segmentation models"
Running the python demo with the person-detection-retail-0013 works fine. However, running with any of the segmentation models (instance-segmentation-security-xxx) fails:

open_model_zoo/demos/multi_camera_multi_target_tracking_demo/python/utils/network_wrappers.py", line 140, in __init__
    super().__init__(core, model_path, device, 'Instance Segmentation', self.max_reqs)
TypeError: object.__ini

[2022-06-04 06:38] glennford49 opened #3481 "Multi ncs2 wont work on facerecognition_demo.py"
I have tested a single ncs2 on facerecognition.py demo, and also tested two ncs2 on same facerecognition.py demo, both yield the same FPS output? Is there any way to speed up the fps value when using 2 ncs2 sticks?
Tested the multi plugin MULTI:MYRIAD.xx,MYRIAD.xx, but still doesnt work

[2022-06-07 02:39] Bibidkun commented on #3480
I have the same problem. Please be corresponding

[2022-06-19 09:18] spencergotowork opened #3484 "Why do python interfaces use shared library modules written in C++ instead of separate python code"
I have a question, why do python interfaces use shared library modules written in C++ instead of separate python code.

![image](https://user-images.githubusercontent.com/42672437/174474012-feeb1580-1919-4c7b-8183-b6678062c169.png)
Like this one,  [human_pose_estimation_3d_demo] 's pose_extractor module.  Or where can I get code written in Python? I mean, models like Pose 3D. Because to use them c

[2022-06-19 13:10] eaidova commented on #3484
it is common optimization practice to use C++ compiled modules to speed up heavy calculations. This shared library contains the code for localization pose points from 3d mesh grid, pure python realization will be very slow...

[2022-06-22 02:43] spencergotowork commented on #3484
Thanks for your reply. Is there a better cross-platform solution if I use them on Jupyter Notebook? Now I have to compile a copy on the host machine if I want to use them.

[2022-06-22 05:41] eaidova commented on #3484
Sorry, the code written only for demonstration purposes, it is not ready to use solution and moreover without any intention to use it as cross-platform code. You can try to create wheel from this lib for your purposes and install it or rewrite in convenient for you way.
Beside that, there is also simple [realization](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/accuracy_chec

[2022-06-22 05:58] eaidova commented on #3473
@boeItxotic the error speak that you specify wrong output blob (-tr_o_blb_nm "logits"), which does not correspond model output, could please try to use "decoder_output" as output name?

[2022-06-23 06:11] biyuehuang opened #3487 "How to run yolov5s by object_detection_demo/cpp"
I can convert yolov5s ONNX model to IR by Openvino2022.1 on Windows10. but how to run it by object_detection_demo.
https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/object_detection_demo/cpp

[2022-07-07 08:15] qhanson opened #3492 "Python openvino sync infer much slower than benchmark performance"
I have generated one FP16 model from onnx with openvino-dev.
I used benchmark_app.exe to measure the performance, which is shown as follows.
[code]

However, when I inference with videos and measured the performance with cPorfile. It is much slower.
[code]
<html>
<body>

ncalls | tottime | percall | cumtime | percall | filename:lineno(function)
-- | -- | -- | -- | -- | --
1004 | 5.768 | 0.005745 |

[2022-07-08 04:33] eaidova commented on #3492
@qhanson, first of all, could you please save several images and try benchmark your model on this data (-i <image folder>)?
In some cases model can be data sensitive, it means that random generated images can give not consistent results in comparison with real data.

When you call:
[code]
compiled model recreate infer request object on each iteration and in some cases it may be also time consuming

[2022-07-08 06:18] qhanson commented on #3492
Adding -i <image folder>, similar performance.
[code]

create_infer_request  also shows around 6ms. I have tried the following 3 ways.
[code]

Maybe it is related to python? I will investigate this in the C++ openvino next months.

[2022-07-12 05:34] qhanson commented on #3492
Update: Using c++ openvino will get the same performance as benchmark.
Thanks @eaidova . Hope it will be as usual in the future for russian employees.
[code]

[2022-07-12 05:34] #3492 closed

[2022-07-21 10:04] joviyal-arun opened #3499 "Facing Unsupported Layer issues in Facial Land Mark Detection with 98 model"
Hai . I am doing facial land mark detection using the model of facial-landmarks-98-detection-0001 I am facing issues with unsupported layer line             unsupported_layers = [l for l in ngraph_func.get_ordered_ops() if l.get_friendly_name() not in supported_layers] with version openvino 2022 tool kit .I am downloading the model from https://github.com/openvinotoolkit/open_model_zoo/blob/master

[2022-07-21 11:36] eaidova commented on #3499
Hi @joviyal-arun, could you provide more details about problem? Which device do you use for model loading?
If it is possible, could you please provide full log of error and/or the code which you use for running?

[2022-07-21 11:44] joviyal-arun commented on #3499
Hi my system configuration is i3processorwith 8 GB Ram. Python 3.6

**CODE**

import cv2
import numpy as np
from openvino.inference_engine import IENetwork, IECore
import os
import ngraph as ng

class FacialLandmarkDetection:
    '''
    Class for the Facial Landmark Detection Model.
    '''
    def __init__(self, model_name, device='CPU', extensions=None):

        model_xml, model_bin = str(mode

[2022-07-22 07:16] xylieong opened #3501 "yolov7 support"
Is there any sample codes supporting yolov7 model?

[2022-07-22 08:14] eaidova commented on #3501
@xylieong unfortunatly, the license of yolo v7 project does not permit to add it in our model zoo, so I'm not sure that sample will be provided.... I believe there is no big difference from original framework support regarding pre- and postprocessing steps. You need just add part connected with model loading using openvino (it is standard API).

[2022-07-22 15:06] #3473 closed

[2022-07-27 03:58] Zhangxianwen2021 opened #3508 "A path error occurred during accuracy checking in Open Model"

[2022-07-27 05:04] Zhangxianwen2021 opened #3509 "A path error occurred during accuracy checking in Open Model Zoo"
I'm glad you can see my problems and give me some advice. I plan to make a contribution on OMZ. I have downloaded my model in Openvino docker and converted it into IR file. I have successfully completed the annotation convert of the dataset as shown in the figure below, and generated two files, voc_segmentation.json and voc_segmentation.pickle.
![图片](https://user-images.githubusercontent.com/93261

[2022-07-27 05:06] #3508 closed

[2022-07-27 13:29] eaidova commented on #3509
@Zhangxianwen2021 please provide configuration file which you use for your model.
Probably you forgot define name of converted annotation file in config or do not provide path to dataset definitions, where this info stored.

BTW, is it your requirement to use such old openvino?

[2022-07-29 13:27] Wovchena commented on #3487
`object_detection_demo` doesn't support yolov5. Same answer as https://github.com/openvinotoolkit/open_model_zoo/issues/3501#issuecomment-1192307685

[2022-07-29 13:27] #3487 closed

[2022-07-29 13:33] #3501 closed

[2022-07-29 15:30] Wovchena commented on #3470
@AntalZsiros, there is a fix for yolov4 https://github.com/openvinotoolkit/open_model_zoo/pull/3463. Try if it works for you. If not, I will need a way to reproduce the problem with one of Open Model Zoo models.

[2022-07-29 15:35] #3462 closed

[2022-08-03 10:28] KiiiiiB opened #3512 "No module named 'openvino.runtime'"
I get the error ModuleNotFoundError: No module named 'openvino.runtime' from ie_tools.py
How to solve this problem.

[2022-08-03 10:48] eaidova commented on #3512
@KiiiiiB could you please explain what is ie_tools.py? Looks like, it is not a part of OMZ.
Generally, `openvino.runtime` module was intorduced in 2022.1 openvino release, so please make sure that you use this openvino version, which compatible with your script version. Also if your installation is correct and you also have previous openvino version in your environment, please make sure that you d

[2022-08-04 01:59] KiiiiiB commented on #3512
I want to run the multi_camera_multi_target_tracking_demo.py but I got the error ModuleNotFoundError: No module named 'openvino.runtime'. I am not sure how to install the openvino and which I should to install requirements and setup.

[2022-08-04 07:07] eaidova commented on #3512
@KiiiiiB then let's understand together :)

Do you have installed openvino?
If yes, you can check version using this command:
`python -c "import openvino.inference_engine as ie; print(ie.get_version())"`

If you do not have it or version is less then 2022.1.0 (e.g. 2021.4.1) you need install it, you can use pip for it:
`pip install openvino==2022.1`
You can find more info about installation and ti

[2022-08-05 04:28] KiiiiiB commented on #3512
Thank you so much.

[2022-08-07 06:26] eaidova commented on #3512
@KiiiiiB do you solve your problem? Can we close this issue?

[2022-08-10 07:38] grace2015 opened #3524 "How can I get the corresponding models for all intel .bin models files, like pytorch file format, the original files"
How can I get the corresponding models for all intel .bin models files, like pytorch file format, the original files

[2022-08-10 08:01] eaidova commented on #3524
@grace2015 sorry, these models are intellectual property of intel and due to some reasons training code can not be published in majority cases.
But some models can be found in https://github.com/openvinotoolkit/training_extensions

[2022-08-10 08:01] #3524 closed

[2022-08-10 09:14] grace2015 commented on #3524
Thanks for so quick reply, then can Intel share the Gesture Recognition related training/test dataset, we want to try use [training_extensions] or other platform to train, because we have to add our own gesture dataset together, thanks a lot!

[2022-08-10 09:26] eaidova commented on #3524
You can find relevant information for gesture recognition models and datasets for them here https://github.com/openvinotoolkit/training_extensions/blob/misc/models/action_recognition/model_templates/gesture-recognition/README.md

That is all, what can be done from my side, hope it helps

[2022-08-10 09:42] grace2015 commented on #3524
ok, thank you so much.

[2022-08-10 16:47] #3512 closed

[2022-08-11 04:42] kmanisai opened #3526 "FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison"
Hi I am running colorization demo with colorization-siggraph.xml.
_python colorization_demo.py -i ./download.jpg -m ./model/colorization-siggraph.xml -o output_%03d.jpg_
I am getting this output, i am not getting why this error is coming.

[ INFO ] OpenVINO Runtime
[ INFO ]        build: 2022.1.0-7019-cdb9bec7210-releases/2022/1
[ INFO ] Reading model model/colorization-siggraph.xml
[ INFO ] The m

[2022-08-12 04:48] eaidova commented on #3526
@kmanisai could you please provide info which matplotlib and numpy versions installed in your environment?

[2022-08-12 04:51] eaidova commented on #3509
@Zhangxianwen2021 as I can judge on PR with adding erfnet to OMZ, you solved your problem, can we close this issue?
Thanks

[2022-08-12 05:01] eaidova commented on #3526
@kmanisai do you make any modification in demo?
as I can see we use opencv for imshow inside demo and have not dependencies on matplotlib
https://github.com/openvinotoolkit/open_model_zoo/blob/releases/2022/1/demos/colorization_demo/python/colorization_demo.py#L154

This warning comes from matplotlib and looks like you use wrong signature
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot

[2022-08-12 05:10] kmanisai commented on #3526
Yeah, Seems like i made a change while trying to solve the issue, Now i modified that line back to opencv. Seems like i am now getting issue with opencv version.
I am currently running this demo in a container where i installed openvino and opencv.
os : Ubuntu 20.04
opencv-contrib-python 4.6.0.66
opencv-python         4.6.0.66
openmodelzoo-modelapi 0.0.0
openvino              2021.4.2
openvino-dev

[2022-08-12 05:18] eaidova commented on #3526
@kmanisai then probably your container is not configured to run GUI based applications. you can try to run demo with option --no_show for avoid gui window creation. In this case output image will be just saved to drive

[2022-08-12 05:39] kmanisai commented on #3526
Thank you, it worked.

[2022-08-12 05:39] #3526 closed

[2022-08-12 12:46] jtkhair opened #3529 "ERROR with pip dependency: tensorflow 2.5.3 requires grpcio~=1.34.0, but you have grpcio 1.44.0 which is incompatible."
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.5.3 requires grpcio~=1.34.0, but you have grpcio 1.44.0 which is incompatible.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the sou

[2022-08-12 13:06] jtkhair commented on #3529
installed tensorflow==2.6 seems resolve the issue

[2022-08-12 13:06] #3529 closed

[2022-08-12 13:10] jtkhair commented on #3529
installed tensorflow==2.6 seems resolve the issue

[2022-08-13 09:05] DanilZittser commented on #3492
@qhanson, try this:
[code]

Relative docs article - [Optimizing for Throughput](https://docs.openvino.ai/latest/openvino_docs_deployment_optimization_guide_tput.html).

Or check this - [Optimizing for the Latency](https://docs.openvino.ai/latest/openvino_docs_deployment_optimization_guide_latency.html).

[2022-08-15 02:05] ZhongQiyu commented on #94
@alalek I was trying to figure out the information generated from `cv.getBuildInformation()`, and for the point I am getting myself around with the version information:
General configuration for OpenCV 4.5.5 =====================================
  Version control:               4.5.5
Is this expected to be adding a suffix of `-openvino`?

[2022-08-23 03:58] JoursBleu opened #3532 "Cannot reproduce the accuracy of person-detection-retail-0013 with accuracy_check on CPU"
We tried reproduce the accuracy of person-detection-retail-0013 model (https://docs.openvino.ai/latest/omz_models_model_person_detection_retail_0013.html) with accuracy_check.
But the accuracy is far away from which it should be (supposed 88.62, got 47.62).

Following is how to reproduce the error:
$ pip3 install openvino openvino_dev
$ git clone https://github.com/openvinotoolkit/open_model_zoo.g

[2022-08-23 08:02] eaidova commented on #3532
accuracy of model reported on internal private dataset, which we can not share, not coco, sorry. We provided coco just for reference as sample how to run this model with accuracy_checker (or maybe quantize via pot), so comparing these numbers are impossible

[2022-08-23 08:16] #3532 closed

[2022-08-26 08:52] heedongis opened #3537 "In background_substration_demo model.lst does not matched"
When type omz_downloader --list models.lst,` No matching models: "modnet-photographic-portrait-matting"` error occured

[2022-08-26 08:53] heedongis commented on #3537
So I removed these model in models list

- modnet-photographic-portrait-matting
- modnet-webcam-portrait-matting

Then, It worked well

[2022-08-26 09:00] Wovchena commented on #3537
Hi
The models are here: [modnet-photographic-portrait-matting](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/modnet-photographic-portrait-matting), [modnet-webcam-portrait-matting](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/modnet-webcam-portrait-matting). It looks you use `models.lst` from `master` branch while `omz_downloader` is of

[2022-08-26 13:23] js333031 opened #3538 "Using oneVPL and QSV/Intel GPU decoder in images_capture"
Any plans on adding support for oneVPL backend so that open_images_capture() can take advantage of hardware decoder in iGPU (& upcoming dGPU)?

[2022-08-28 23:55] heedongis commented on #3537
Thanks! @Wovchena

[2022-08-29 06:20] #3537 closed

[2022-08-29 08:03] Wovchena commented on #3538
There are no such plans

[2022-08-29 15:56] js333031 commented on #3538
Is there any demo that uses QSV? oneVPL backend?

[2022-08-29 16:03] Wovchena commented on #3538
No

[2022-08-30 13:21] eaidova commented on #3538
@js333031 there is demo based on G-API, which enables OpenVPL, but it is under review:
https://github.com/openvinotoolkit/open_model_zoo/pull/3535

[2022-08-30 18:20] dmatveev commented on #3538
Hi @js333031

The plan was to enable the GPU acceleration for decode, pre- and post-processing in OpenCV G-API and so bring it to the OMZ pipelines semi-automatically. If it works for you, we can prioritize it when possible.

Dmitry

[2022-08-30 19:37] js333031 commented on #3538
Ideally, it would be to have the GPU acceleration for decode, pre- and post-processing in simplest possible demos. I assume those are the OMZ python demos. Can this be added to OMZ python demos?

[2022-09-09 00:27] tsantra commented on #3470
@AntalZsiros did it fix your issue?

[2022-09-18 12:41] ayanasser commented on #3501
@xylieong  Hello, did you figure out the difference between yolov4 and yolov7 at post or pre-processing ?

[2022-09-19 00:18] xylieong commented on #3501
@ayanasser I am not too sure about it. Are you using the python or cpp API? Are you using yolov7?

[2022-09-19 08:17] ayanasser commented on #3501
@xylieong
I am using C++ demo of object detection,
I've converted the yolov7 pytorch -> ONNX then to IR,
There's a sample working code for inference the yolov7 with both python and C++
https://github.com/OpenVINO-dev-contest/YOLOv7_OpenVINO_cpp-python
you could use it.

My problem is I want to integrate that inside the object detection demo that exists at open model zoo, but if anyone want to use

[2022-09-20 00:50] xylieong commented on #3501
Hi @ayanasser Sorry that I can't help. Haven't figured it out yet. Let me know if you have any findings!

[2022-09-20 10:53] ayanasser commented on #3501
Note: I've used the mentioned repo (yolov7-openvino) with the latest openvino version (2022.1) and it works.
but my main goal was to edit on the post-porcess function at the older version of openvino demos (2021.4.2)
.

[2022-09-23 02:28] Paper-Folding opened #3556 "The NCS2 freezes while inferencing the face recognition demo and it looks like the NCS2 was half-dead at this time"
## What happened?
I was using the face recognition demo from open_model_zoo using NCS2, and in the middle of inference, it stopped functioning and the opencv output frame freezes at the last frame.
I'm using raspberry pi with buster version, here is the output of `uname -a`:
![image](https://user-images.githubusercontent.com/49343539/191878541-ab82aa16-a6eb-4265-a870-e3229775d2e7.png)

At the time

[2022-09-23 08:45] Wovchena commented on #3556
@andrei-kochin, can you ask someone familiar with MYRIAD plugin to take a look?

[2022-09-23 09:20] gino0717 opened #3557 "build text_detection_demo error"
when I build the text_detection_demo file,
the gcc report following error log: (cmake version : 3.23.1 , gcc version : 10.3.0)

It seems that there would appear a file called "CMakeCXXCompilerId.cpp" and it contains a main() function, so the compiling would fail.

I remove the main() function in the "CMakeCXXCompilerId.cpp" then the compiling would work fine ( at least "looks" fine ) . Not sure wh

[2022-09-23 12:33] Wovchena commented on #3557
For now I only have naïve advice. Try removing all build artifacts and compiling demos from scratch.

[2022-09-23 13:08] balegajay opened #3558 "Rotation order for yaw ptich and roll output in head pose estimation model"
Hello,

I am currently using the head pose estimation model. I was wondering what the rotation order of output angles is. Could anyone help me out with this?
I stumbled upon the usage of the head pose angles in gaze estimation demo, where using head pose angles head coordinate system is drawn. But I could not figure out the rotation order using the rotation matrix used for drawing this coordinate

[2022-09-27 08:00] andrei-kochin commented on #3556
@Maxim-Doronin could you please ask someone to take a look?

[2022-09-27 12:27] sinchubhat opened #3559 "Segmentation Fault (core dumped)"
In Multi-Channel Object Detection Yolov3 C++ Demo, Both Intel and Public Models FP16 or FP16-INT8 (.xml file) gives Segmentation Fault (core dumped) error. It works perfectly fine if FP32 is used.

![Segmentation Fault Error](https://user-images.githubusercontent.com/32384381/192525792-d37572a0-4334-43a8-b312-a177d506af1c.jpg)

It works fine with Benchmark_app.

[2022-09-28 15:54] sinchubhat commented on #3559
FP16-INT8, FP32, FP16 .bin and .xml files are generated when we convert using omz_converter --list models.lst as mentioned in the documentation https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/multi_channel_object_detection_demo_yolov3/cpp/README.md
OMZ version - when we do git clone it pulls the latest version git clone --recurse-submodules https://github.com/openvinotoolkit/op

[2022-09-29 06:37] sinchubhat commented on #3559
The same error occurs for Multi-Channel Human Pose Estimation C++ Demo when FP16 or FP32 .xml file is used. Works fine for FP16-INT8

![seg_fault_mnhpe](https://user-images.githubusercontent.com/32384381/192956726-f8aeea32-1aa0-491e-9c9d-872a6c8c7e63.png)

Note- I have run the demo on 2 devices having different Openvino version. Got the same error in both.

[2022-09-29 09:33] Wovchena commented on #3559
I still can't reproduce it.

Can you check if there's enough RAM on your machines?

To follow your screenshot I installed 2022.1 Offline installer from https://www.intel.com/content/www/us/en/developer/tools/openvino-toolkit/download.html and then executed
[code]
Can you see any difference with what you do?
Please share the models you use to run the demo.

[2022-09-29 10:36] sinchubhat commented on #3559
The issue is resolved.
I used Model Downloader and other Open Model Zoo tools
omz_downloader --list models.lst
omz_converter --list models.lst
https://pypi.org/project/openvino-dev/2022.1.0/
https://docs.openvino.ai/latest/omz_tools_downloader.html

The error was because of different versions of openvino-dev and OMZ Tools
So i updated openvino-dev to same version as that of openvino (2022.1.0) by

[2022-09-29 12:46] #3559 closed

[2022-10-04 09:19] fspinola commented on #3480
I have the same problem, did you find a solution?

[2022-10-06 11:24] danve-fan opened #3562 "can't compiled with vs2019 with error!"
can't compiled with vs2019 with error as follows:

the function  wrapMat2Tensor  can't be found!

why?
thanks!

[2022-10-06 12:02] Wovchena commented on #3562
Make sure you have clean environment and repos state. The function is here https://github.com/openvinotoolkit/open_model_zoo/blob/e3f46cc476402075b88be5ca983752268cc3150e/demos/common/cpp/utils/include/utils/ocv_common.hpp#L79

[2022-10-07 02:35] danve-fan commented on #3562
yes, it's ok, thanks!

[2022-10-11 06:51] lswgh commented on #3480
same problem !

[2022-10-14 09:42] jiapei100 opened #3565 "Which package contains html_reader?"
I met this line `from html_reader import get_paragraphs`  a couple of times... which package contains **html_reader**??

[2022-10-14 09:45] jiapei100 opened #3566 "Import "openvino.model_zoo.model_api.models" could not be resolved (Pylancer (eportMissingImports) )"
Where is the definition of **openvino.model_zoo** ??? Do I need to **install** `open_model_zoo` with **openvino**?? If so, how ???

For instance, the following lines in file [bert_question_answering_demo.py](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/bert_question_answering_demo/python/bert_question_answering_demo.py#L31-L34)

[code]

[2022-10-14 09:50] brmarkus commented on #3566
Can you provide more context, please?
Have you found these "from openvino.model_zoo....." in an example-code?

[2022-10-14 09:57] jiapei100 commented on #3566
My bad.... I found them, all here [https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/common/python](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/common/python)

[2022-10-14 09:57] #3566 closed

[2022-10-14 10:13] Wovchena commented on #3565
Here it is https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/common/python/html_reader.py

[2022-10-18 13:19] Paper-Folding commented on #3556
It looks it is NCS2 hardware issue, when take part of NCS2, it can be seen that __the iron piece at the rear__ is somewhat causing the stick to have short pass. After remove it the issue looks like somewhat to be resolved. @andrei-kochin @Wovchena

[2022-10-19 08:13] balegajay commented on #3558
@Wovchena thank you for the changes made, sorry for the late reply.
I have a few questions regarding your code changes though,
1. You say OX is from face center to camera in the code, but the link https://docs.openvino.ai/2019_R1/_gaze_estimation_adas_0002_description_gaze_estimation_adas_0002.html says the Z axis is from face center to camera

Regards

[2022-10-19 14:23] bbartling opened #3567 "Intel person detection models"
This question is [originally asked on Stackoverflow](https://stackoverflow.com/questions/74115991/troubleshoot-openvino-model-output-for-cv2-rectangle) but I think there is something still not correct.

I am experimenting with the people models:

- person-detection-asl-0001
- person-detection-0202

And I am using a lot of the code from the openvino IPython notebooks [number 115 ](https://github.co

[2022-10-20 06:14] eaidova commented on #3567
@bbartling person-detection-asl model requires output rescaling as:
[code]
You can find more detailed example about this model usage in gesture recognition demo code:
https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/gesture_recognition_demo/python/gesture_recognition_demo/person_detector.py

[2022-10-20 07:36] zhuango opened #3568 "reference paper for machine translation nar"
I'm working on the machine translation nar models released at : https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/machine-translation-nar-de-en-0002.
I want to learn the model structure of this model, but I failed to find any reference info about this model in this repo, like paper or code. Could please share more detail information about this model? Thanks a lot.

[2022-10-20 08:20] andreyanufr commented on #3568
Hi @zhuango . I am not the author of this model, but as I know you can find some technical details and description on the training pipeline: https://github.com/openvinotoolkit/training_extensions/tree/misc/misc/pytorch_toolkit/machine_translation

[2022-10-20 08:37] #3568 closed

[2022-10-20 09:19] balegajay commented on #3558
Thanks for the reply, would you please tell if the coordinate systems are the same for gaze estimation and head pose?
The gaze estimation model takes head pose as its input, so I assume it should be the same

[2022-10-20 09:32] Wovchena commented on #3558
The models are different. gaze-estimation predicts vector coordinates, not rotation angles. The demo implementation https://github.com/openvinotoolkit/open_model_zoo/blob/3a458fc9ea2db001e08ecd4cf5c226bf5482e079/demos/gaze_estimation_demo/cpp/src/results_marker.cpp#L97 follows the coordinate system explained in README

[2022-10-20 16:51] #3565 closed

[2022-10-20 19:35] bbartling commented on #3567
@eaidova Is there any chance you could give me one more tip? Sorry still learning and I apologize this is a lot of code to look at but I rewrote my code based on the link you provided in more of an object orientated format.

I'm stuck on the output of this function which returns the array.
[code]

And after this I would still need to loop through this output to draw the bounding boxes in cv2 like

[2022-10-21 01:15] zhuango commented on #3568
Thanks @andreyanufr. That's exactly what I need.

[2022-10-21 05:39] eaidova commented on #3567
@bbartling not a problem :)
yes, this code just performs multiplying to scale without changing the detection format, for visualization using cv2, you still need iterate from all boxes and filter by score. In my snippet, I just simplify and adopt postprocessing in your provided example style.
`input_h` and `input_w` is image size after resizing (or at the same time model input size)
 `initial_h` an

[2022-10-21 15:00] bbartling commented on #3567
Hi @eaidova thank you for all the tips so far : ) much appreciation on my end.

On this function that I grabbed from the link you sent me previously in the obj orientated example:https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/gesture_recognition_demo/python/gesture_recognition_demo/person_detector.py#:~:text=def%20_process_output(self,the%20internal%20format%22%22%22

More ver

[2022-10-22 14:13] #3567 closed

[2022-10-25 12:01] Wovchena commented on #3558
There was a mistake in my head pose angles explanation. I fixed it by https://github.com/openvinotoolkit/open_model_zoo/pull/3561/commits/69f35d3cbdc4aa4fe788369047c09b43432ad8a1

[2022-10-31 16:06] ojjsaw opened #3579 "omz_downloader SSL error due to expired certificate"
========== Downloading models/intel/person-vehicle-bike-detection-crossroad-0078/FP32/person-vehicle-bike-detection-crossroad-0078.xml
Traceback (most recent call last):
  File "/data/venv/openvino_2022.2.0_python3.6_RC2_new/lib/python3.6/site-packages/urllib3/connectionpool.py", line 677, in urlopen
    chunked=chunked,
  File "/data/venv/openvino_2022.2.0_python3.6_RC2_new/lib/python3.6/site-pac

[2022-11-01 10:46] eaidova commented on #3579
@ojjsaw  could you please recheck? as I know issue already resolved

[2022-11-05 23:57] ojjsaw commented on #3579
Thanks, confirming it is resolved now.

[2022-11-05 23:57] #3579 closed

[2022-11-06 12:14] zvif opened #3588 "Bug causes degraded performance with latest version of multi_camera_multi_target_tracking_demo"
We have recently upgraded our OpenVino version from **2021.2 to 2022.2.** We are running the Python demo of multi_camera_multi_target_tracking_demo installed using https://pypi.org/project/openvino-dev/ Ubuntu* 20.04 long-term support (LTS), using WSL
Our command line: python multi_camera_multi_target_tracking_demo.py  -i ./Data/filename.mp4 --config ./configs/person.py -m "./intel/person-detectio

[2022-11-08 10:49] zvif commented on #3588
Adding that this was compared to the version openvino 2021.4.2 running on the same computer. Attaching the results for the clip attached.
[filename_json_results.zip](https://github.com/openvinotoolkit/open_model_zoo/files/9960323/filename_json_results.zip)

[2022-11-09 09:45] ltoropova opened #3592 "Object detection demo fails for YOLO v3 onnx"
Appears in OpenVINO 2022.2.0:

[code]

The root cause seems to be that in this [PR](https://github.com/openvinotoolkit/openvino/pull/11498) function [normalize_inputs](https://github.com/openvinotoolkit/openvino/blob/master/src/bindings/python/src/openvino/runtime/ie_api.py#L85) was modified and helper function [convert_dict_items](https://github.com/openvinotoolkit/openvino/blob/2022.1.0/src/bind

[2022-11-09 10:08] Wovchena commented on #3592
Thank you for the investigation! Feel free to submit a pull request next time

[2022-11-09 10:25] #3592 closed

[2022-11-10 15:42] Wovchena commented on #3588
I can’t set up the GUI for WSL to reproduce the problem because I have Windows Version 10.0.19044.2130, but 21364+ is required: https://github.com/microsoft/wslg/wiki/Diagnosing-%22cannot-open-display%22-type-issues-with-WSLg#verify-you-are-running-on-windows-build-21364. I tried running on bare Windows, but I couldn't reproduce your `FATAL: exception not rethrown`.

Are the results for 2021.4.2 t

[2022-11-14 11:53] mikhailk62 opened #3597 "Using deprecated versions of python packages (scipy, pandas, scikit-learn)"
Our team faced with problem using deprecated versions of python components into OMZ. The oldest one is 2 years old (scipy - 1.5.4). Use of obsolete versions of components is hard-coded in the requirements files:
[code]
Using old versions of components does not allow using all the functionality of the libraries, and also forces to use a specific environment with old versions of components. In this

[2022-11-14 13:35] mikhailk62 opened #3599 "Switching python components to use intel optimized numpy-intel and scipy-intel libraries"
Intel has its own x86-optimized numpy-intel and scipy-intel libraries that can improve the performance of OMZ tools. This looks like a useful solution.
For example:
* intel-numpy 1.22.3 - https://anaconda.org/intel/numpy/1.22.3/download/numpy-1.22.3-0-cp39-cp39-manylinux2014_x86_64.whl
* intel-scipy 1.7.3 - https://anaconda.org/intel/scipy/1.7.3/download/scipy-1.7.3-2-cp39-cp39-manylinux2014_x86_6

[2022-11-15 17:35] Wovchena commented on #3599
OpenVINO moves to using system/default libraries even if it hurts performance

[2022-11-15 17:35] #3599 closed

[2022-11-16 07:34] #3509 closed

[2022-11-16 13:37] zvif commented on #3588
I compared the results of running OV 2021.4.2 with the results of running OV 2022.2 with the demo code of 2021.4.2. The results are nearly the same (very small detector differences even though the models are the same)! This means that the problem is with the new demo code that uses the new api (either bug in new engine or in the code that calls the new api). From what I understand the real benefit

[2022-11-17 07:35] Wovchena commented on #3588
There aren't many of the commits to multi_camera_multi_target_tracking_demo since 2021.4.2: https://github.com/openvinotoolkit/open_model_zoo/commits/master/demos/multi_camera_multi_target_tracking_demo/python You can now freeze OV at 2022.2 and try different demos commits. That will show you which change broke the demo for you.

[2022-11-17 08:25] Wovchena commented on #3597
numpy - 1.22.3 fits into numpy>=1.16.6,<=1.23.1

scipy was updated: https://github.com/openvinotoolkit/open_model_zoo/pull/3585

For pandas we have pandas>=1.1.5,<=1.3.5 now: https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/accuracy_checker/requirements-extra.in#L57 @eaidova, is there a reason to have upper bound?

scikit-learn is used only in image_retrieval_demo. I'm removing

[2022-11-20 16:44] martin0258 opened #3605 "Missing training pipeline for instance-segmentation-person-0007?"
In the [README of instance-segmentation-person-0007](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/instance-segmentation-person-0007/README.md):

However, when I navigated to the link of the training pipeline, I didn't see `EfficientNet-B1 backbone` used by `instance-segmentation-person-0007`. Is it missing?
<img width="1045" alt="image" src="https://user-images.github

[2022-11-28 13:51] vadik6666 opened #3614 "Train dataset for head-pose model"
Hello!

1. Would you be so kind to point out what training dataset was used to train  [head-pose-estimation-adas-0001](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/head-pose-estimation-adas-0001) model?
2. And what CNN backbone is in that model?

Thank you)

[2022-11-28 14:52] eaidova commented on #3614
all information can be found in this readme: https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/head-pose-estimation-adas-0001/README.md
please take a look

[2022-11-28 15:31] vadik6666 commented on #3614
@eaidova Thank you. I've read that page, and it only describes [validation dataset](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/head-pose-estimation-adas-0001/README.md#validation-dataset), not training dataset. Correct me if I'm wrong.