[2020-05-18 14:36] vladimir-dudnik commented on #708
@dkustikx  is it possible to test this demo fix on HDDL?
cc-ed @mlyashko FYI

[2020-05-19 03:14] guoyejun commented on #1109
thanks. and yes, i look at it from the "clarity of API" perspective. The background is that I want to support this model in FFmpeg's filter dnn_processing which targets to be a general filter to load all kinds of DL models with 'unified API'.

[2020-05-19 07:42] snosov1 commented on #1109
I see. But I'm afraid you won't get away without some kind of app-level "adapters" anyway. Even if we make the SR networks comply to your _current_ API reqs - there will still be networks with other input/output conditions or your _later_ API reqs may change.

One option to do this is to embed the necessary layers into the IR semi-automatic (i.e. you load the IR into Python and tweak it - add nece

[2020-05-20 18:15] eizamaliev commented on #1097
@pingchesu letterbox preprocessing is added, so I close this issue.

[2020-05-20 18:15] #1097 closed

[2020-05-20 18:18] eizamaliev commented on #904
@tanmay-bhatnagar if you have no more questions, we will close this issue in a few days.

[2020-05-21 04:26] pingchesu commented on #1097
@eizamaliev  really thanks!!!!!!

[2020-05-22 15:49] KunalArora opened #1135 "Information required regarding Multi camera Multi people tracking demo"
I would like to know the name of the tracking algorithm which is used in the Multi-camera Multi-people python demo

[2020-05-23 00:31] guoyejun commented on #1109
thanks, and another question, why we fix the input dims of the model as 360x640. I saw some other models with width=-1 and height=-1, the model will be more general to accept all kinds of image sizes.

[2020-05-24 20:37] natxopedreira opened #1136 "adapter question"
Hello

Sorry to ask something that sure is obvious but i have been searching and found nothing...

Im study some adapters to see how model output data is processed and have some questions

Inside an adapter i see a function called:
`def process(self, raw, identifiers=None, frame_meta=None):`

raw i assume is the output from IECore inference? but what is identifiers and frame_meta?

Is there a samp

[2020-05-25 05:59] snosov1 commented on #1109
There're some optimizations that happen on Model Optimizer step that will be unavailable if we convert the model to support various input resolutions. So, currently, if one wants to change the resolution - it should be done on MO step.

That said, I think, we can accept the contribution of a "dynamic model" if you care to submit. You can find the original model at https://github.com/opencv/openvin

[2020-05-25 08:21] cocokale commented on #1136
As the their names indicate, 'identifier' is a variable that identifies an object, such as the image name in the annotation file. 'frame_meta' includes the meta data of an image, e.g. a dictionary with keys such as image size, or scaling parameter, etc.

[2020-05-25 09:29] AnthonyQuantum commented on #1081
Right now, this is not reproducible with Ubuntu 18.04, OpenVINO 2020.2.120 and the following command:
./security_barrier_camera_demo -i ~/OMZ/datasets/1min_yolo_video.mp4 ~/OMZ/datasets/1min_yolo_video.mp4 -m ~/OMZ/models/intel/vehicle-license-plate-detection-barrier-0106/FP16/vehicle-license-plate-detection-barrier-0106.xml -m_va ~/OMZ/models/intel/vehicle-attributes-recognition-barrier-0039/FP16

[2020-05-25 09:33] natxopedreira commented on #1136
@cocokale  Thank you!

But i must pass some in concrete? Any sample where they are using an adapter?

For example
`identifiers = "name.jpg"`
`frame_meta = {"width": 320, "height":240}`

I mean here they are asking for scale_x, scale_y....
`x_scale, y_scale = meta['scale_x'], meta['scale_y']`

and later they do a loop
`for batch_id, (identifier, meta) in enumerate(zip(identifiers, frame_meta)):`

a

[2020-05-25 09:45] cocokale commented on #1136
identifiers should be a list of image names instead of a single one. Also according to my experience, you don't need to pass them in concrete. Instead, you should prepare something like an annotation file, e.g., for ICDAR13 task, which includes the image names and corresponding labels, separated by '\n'. The accuracy checker tool will automatically do the parameter passing for you.  Please refer t

[2020-05-25 10:02] natxopedreira commented on #1136
@cocokale thank you

Only wanted to understand what they are passing, as in this function is done a data conversion from raw data to a formated one.

I believed that these parameters were fundamental in the conversion but do not look like

[2020-05-25 11:32] #1136 closed

[2020-05-26 01:40] zhangguobin commented on #1081
@AnthonyQuantum , just no UI, I did debug the task workflow before, it gave me the impression that no task is ready, so the pipeline engine was not started at all.
I will upgrade my OpenVINO and retest it later, thanks!

[2020-05-26 20:13] uhofemeier opened #1147 "Object detection in Crossroad Camera C++ Demo not working (except people)"
Using the three networks stated in the documentation and the sample video as input, it'll only detect people. It cannot detect cars other other objects like bicycles.

[2020-05-27 18:55] leavim commented on #1135
@KunalArora, by algorithm do you mean models used by [Multi Camera Multi Person demo](https://docs.openvinotoolkit.org/latest/_demos_python_demos_multi_camera_multi_person_tracking_README.html)? If so, I assume it really depends on which models for _Person detection (or person instance segmentation)_ and _Person re-identification_ you use with the demo. You can find related information for models

[2020-05-28 21:31] vurusovs opened #1157 "No -jauto for converter.py"
Hello!

According to https://github.com/opencv/open_model_zoo/blob/develop/tools/downloader/downloader.py#L279, -jauto should be available in converter.py. But there are no such keys. Am I miss something, or there is incompatible change (lack of cmd key or wrong comment)?

I found it in "develop" branch.

[2020-06-01 17:30] pra-dan opened #1171 "Unable to understand the logic behind the `object_detection_demo_yolov3_async.py` demo"
I noticed that the [recent pull](https://github.com/eizamaliev/open_model_zoo/blob/yolo_demo_ref/demos/python_demos/object_detection_demo_yolov3_async/object_detection_demo_yolov3_async.py) for the file `object_detection_demo_yolov3_async.py` did try to remove the otherwise confusing flattening of blob but I still can't figure out how most of the results are parsed from this blob.

Is there some Y

[2020-06-02 05:31] leavim commented on #1147
Hi @uhofemeier, which version of OpenVINO/OMZ are you using? Have you seen such behavior on previous releases? Are the results the same regardless of the input image used? Share details of environment (i.e. Windows or Linux, device/plugin used, etc.).

Please confirm the models used (I assume person-vehicle-bike-detection-crossroad-007, person-attributes-recognition-crossroad-0230 and person-reide

[2020-06-02 06:39] eizamaliev commented on #1171
Hi, @pra-dan. Thanks for your questions, I'll try to answer them all.
1. Demo supports two resize type: with aspect ratio kept and without. Because initially was used simple resize, this behavior is saved as default. So `is_proportional` parameter tells to the function how it should rescale output boxes.

2. As you can know, YOLO generate local coordinates relative to the cell. To get coordinates

[2020-06-02 12:27] pra-dan commented on #1171
Thanks @eizamaliev . I do understand the second question and answer. But regarding the first of your answers, I can't find this anywhere else... I mean the how did you know if this is how the result was packed ? Is there any source ?

I will work on it and then try clarifying some other doubts if you do not mind :)

[2020-06-02 14:15] eizamaliev commented on #1171
@pra-dan some info you could find in official paper, site and repo. In fact in these three sources enough information about model, but it is quite scattered. :(

And one more thing - the original model requires sigmoid function to be applied to coordinates, object score and probalilities values, but converted to IR - doesn't.

If you have no more question, I'll close this issue.

[2020-06-02 14:27] pra-dan commented on #1171
I am working on it. Please leave it open for some time. I will close it on my own. I may have some other minor related-issues. Creating new issues for it will be too much.

[2020-06-02 14:41] pra-dan commented on #1171
Also, kindly share the libraries/packages required for this new program. Installing `monitors` gives error.
[code]

[2020-06-02 15:19] eizamaliev commented on #1171
`monitors` is a local cpp-library, it is built with cpp demos via `build_demos.sh` or `build_demos_msvc.bat` script in `demos` dir.

[2020-06-02 15:29] eizamaliev commented on #1157
The key `-j` has specifit type, which process `-jauto` value:
https://github.com/opencv/open_model_zoo/blob/develop/tools/downloader/converter.py#L79
https://github.com/opencv/open_model_zoo/blob/develop/tools/downloader/converter.py#L45

I'll will close this issue, if you have no  more question

[2020-06-02 15:37] vurusovs commented on #1157
@eizamaliev sure, thanks!

[2020-06-02 15:37] #1157 closed

[2020-06-04 15:33] vladimir-dudnik commented on #1025
@wdkwyf if this is still actual for you, we are adding BERT large models and demo in this [PR-1145](https://seladb.github.io/StarTrack-js/#/) and [PR-1141](https://github.com/opencv/open_model_zoo/pull/1141) and BERT small model in [PR-1163](https://github.com/opencv/open_model_zoo/pull/1163)

[2020-06-16 11:52] qiyuangong opened #1230 "Is resnet-50-tf quantizable?"
In master branch, this model is not quantizable. But, it is in develop branch. :(

Is there any problem (accuracy or performance problem) for resnet-50-tf quantizing? Can I just make it quantizable in my binary installed openvino by changing model.yml?

[2020-06-16 16:20] vladimir-dudnik commented on #1230
@qiyuangong there should be no issues with quantization of resnet-50 model from TF. We just start adding quantization support through OMZ since OpenVINO 2020.3 release (which OMZ master branch corresponds to) and we started from few models. In upcoming OpenVINO 2020.4 release we are plan to extend number of models which can be quantized through OMZ, although we will not cover all models which pote

[2020-06-18 11:29] qiyuangong commented on #1230
Thanks @vladimir-dudnik 👍

I have quantized that model into int8. It works well for now.

I notice that 2020.3 is LTS. Will these `quantized` models available for 2020.3?

[2020-06-19 11:41] vladimir-dudnik commented on #1230
@qiyuangong we do not provide quantized public models in OpenVINO to reduce download size. There is no choice for Intel models, which use non public datasets and can't be quantized on customer side, so we have to provide such quantized models. For public models situation is different, they can be quantized on customer side, we validate this internally, and for models we know, that can be quantized

[2020-06-20 04:12] qiyuangong commented on #1230
Thanks @vladimir-dudnik for providing detailed explanation. 👍

Now I understand why only intel models are downloadable.

Have a nice weekend!

Issue closed.

[2020-06-20 04:12] #1230 closed

[2020-06-23 01:26] x1aoo opened #1254 "Unable to find the labels"
for example, I cannot find the label corresponding to the **action-recognition-0001**

[2020-06-23 17:01] GotG opened #1259 "text detection models on ncs2"
Hello

Is there any reason why the text detection models do not run on ncs2 stick?

Thanks

[2020-06-24 15:36] eaidova commented on #1254
@x1aoo , according documentation, model has the same labels order like in Kinetics-400 dataset. Please refer to the [kinetics](https://deepmind.com/research/open-source/kinetics) dataset specification to see list of action that are recognised by this model.

[2020-06-24 17:20] maxlytkin commented on #1259
Hello @GotG
If you are talking about [Text Detection C++ Demo](https://docs.openvinotoolkit.org/latest/_demos_text_detection_demo_README.html), then the models pointed there should work well with MYRIAD NCS2.
These models are: text-detection-0003, text-detection-0004, text-recognition-0012, handwritten-score-recognition-0001

Best regards, Max.

[2020-06-24 18:30] GotG commented on #1259
https://docs.openvinotoolkit.org/latest/_demos_README.html
according to the table posted there, they do not work on Myriad.
Thanks, I tested them and the C++ version works.
However the python one does not due to a layer issue:
File "text_spotting_demo.py", line 384, in <module>
    sys.exit(main() or 0)

File "text_spotting_demo.py", line 220, in main
    mask_rcnn_exec_net = ie.load_network(netwo

[2020-06-25 03:22] vinicius121 opened #1265 "How to infer head pose and landmarks?"
Hi!

I've essentially two questions.
Nº1:
I'm doing inference using OpenVino's head-pose-estimation-adas-0001 model in C# using OpenCvSharp.
My code is the following:
[code]
However, the value that I obtain is always 0 or a huge number for pitch and roll. The yaw seems to be the only working.  So I think I'm accessing the angles in the right way. I've tried to look for examples on OpenCV in C++ wi

[2020-06-25 16:15] maxlytkin commented on #1259
@GotG
I think this table states that these text-detection models being not officially supported and validated on MYRIAD, however they still may work.
As for the [Text Spotting Python Demo](https://docs.openvinotoolkit.org/latest/_demos_python_demos_text_spotting_demo_README.html), you should run this app exactly with text-spotting models, not with text-detection ones.

python3 text_spotting_demo.p

[2020-06-26 04:10] Wovchena commented on #1265
I think I have an answer for the second question.
* facial-landmarks-35-adas-0002 expects a crop of an image containing a face, but not the whole image. I cant't say what you did, so this is just a clarification.
* Given that facial-landmarks-35-adas-0002 sees only a crop of an image you need to multiply output values by a size of the crop but not the original image. (And take into account the pos

[2020-06-26 14:53] vinicius121 commented on #1265
Yes, I do crop the original image after the face is detected.  If I adjust the width and height to the crop I get the following:
![image](https://user-images.githubusercontent.com/28484866/85868708-92a44900-b7c2-11ea-8f76-bf766bd47244.png) The points  are shifted. How do I draw the circles taking into account the position of the crop? Is there any OpenCV function for doing that?

[2020-06-26 15:58] Wovchena commented on #1265
The area covered by landmarks looks similar to the detected area now.
To perform shifting just add X coord of top left corner of the crop to X coords of each circle. The same with Y. Alternatively, yes, you can draw them in the crop without shifting. But take into account that you want to draw on a cropped region of the original image but not the copied version of that region. So if you didn't req

[2020-06-26 16:48] vinicius121 commented on #1265
Ok so I did that but the points seems not to be drawn correctly:
![image](https://user-images.githubusercontent.com/28484866/85880643-42ce7d80-b7d4-11ea-8653-2b4601b1511a.png)
Here is the code:
[code]

[2020-06-29 12:48] vinicius121 commented on #1265
Yes that is it. Any help regarding my first question? Only the yaw works.
Thanks

[2020-06-29 15:57] Lenard-Lim opened #1275 "Error when opening multi_camera_multi_person_tracking.py file"
lenard@ubuntu:~/Downloads/openvino/open_model_zoo/demos/python_demos/multi_camera_multi_person_tracking$ python multi_camera_multi_person_tracking.py
  File "multi_camera_multi_person_tracking.py", line 108
    tracker = MultiCameraTracker(capture.get_num_sources(), reid, config['sct_config'], **config['mct_config'], visual_analyze=config['analyzer'])

[2020-06-29 16:23] #1275 closed

[2020-06-29 16:23] Lenard-Lim commented on #1275
SOLVED

[2020-06-29 23:56] GotG commented on #1259
Here is the error:

python3 text_spotting_demo.py -m_m /home/one/intel/openvino_2020.3.194/deployment_tools/tools/model_downloader/intel/text-spotting-0002-detector/FP16/text-spotting-0002-detector.xml -m_te /home/one/intel/openvino_2020.3.194/deployment_tools/tools/model_downloader/intel/text-spotting-0002-recognizer-encoder/FP16/text-spotting-0002-recognizer-encoder.xml -m_td /home/one/intel/ope

[2020-06-30 09:57] maxlytkin commented on #1259
@GotG
We were able to reproduce this error running Text Spotting Python Demo with MYRIAD plugin.
The situation supposed to be pretty much the same as with C++ demo, that at the current moment these models are not officially supported on MYRIAD/HDDL, thus it may or may not work. And here the model text-spotting-0002-detector does not work due to unsupported "758" layer.
There has been a documentati

[2020-06-30 12:49] GotG commented on #1259
Is there anything I can do? Should I try to use a custom layer implementation?

[2020-07-01 10:07] maxlytkin commented on #1259
Hello @GotG
Yes, please see this reply https://github.com/openvinotoolkit/openvino/issues/1117#issuecomment-651907764

[2020-07-07 09:01] tlsdmstn56-2 opened #1292 "How to add annotation metadata?"
https://github.com/opencv/open_model_zoo/blob/912eeaddc034e31dedd34617d82bcc2ddf83e542/tools/accuracy_checker/accuracy_checker/representation/regression_representation.py#L59-L71

[code]

Hello,

I am trying to use FacialLandmarksAnnotation and FacialLandmarksPrediction to use normed_error metric, but metadata does not have `left_eye` so there raise `KeyError`. I tried to add metadata as following

[2020-07-07 10:15] eaidova commented on #1292
left_eye and right_eye are coordinates of points which represents eyes landmarks in your dataset respectively, they used for calculation interocular distance for metric result normalization.
How to set it, you can find for example in VGG Face dataset converter

https://github.com/opencv/open_model_zoo/blob/master/tools/accuracy_checker/accuracy_checker/annotation_converters/vgg_face_regression.py#

[2020-07-07 13:23] thibault390 opened #1293 "Demo on macOS"
Hi,

Can someone explain me what's the purpose of the  "-fg " parameter "Path to the face images directory" please ? I'm not sure and how to use the facetime camera for macOS because "-i cam " doesn't work here?

Thanks

[2020-07-07 14:14] thibault390 commented on #1293
It's ok I solved my problem

[2020-07-07 15:04] tlsdmstn56-2 commented on #1292
Now it works, thank you 👍

[2020-07-07 15:04] #1292 closed

[2020-07-08 02:43] x1aoo commented on #1254
thanks！

[2020-07-08 11:03] rawat123 opened #1296 "how to build text_detection_demo"
hi i have setup openvino on my window10 machine, and can run sample app object_detection_ssd with python api, how can i build text_detection_demo, and if there is some python api sample to use text_detection_recognition demo.

[2020-07-08 15:05] Wovchena commented on #1293
Hi,

`-fg` sets a gallery so the demo could assign names to faces it finds on input (assuming the question is about `face_recognition_demo`).

[2020-07-08 15:10] Wovchena commented on #1296
Hi, there is an instruction https://github.com/opencv/open_model_zoo/tree/master/demos#build-the-demo-applications which builds every demo. There is also a similar python demo but designed to use different models comparing to `text_detection_demo`: [`text_spotting_demo`](https://github.com/opencv/open_model_zoo/tree/master/demos/python_demos/text_spotting_demo).

[2020-07-08 21:32] rawat123 commented on #1296
thanks for your reply, i will look into it

[2020-07-08 21:42] rawat123 opened #1304 "how to setup openvino environment variables"
hi, i am setting up openvino in windows machine
there is setupvars.bat file which setups openvino environment variables, and after executing it in cmd in the same cmd i can run python scripts with **import openvino** , can i setup all these variables in python script so i don't need to run setupvars.bat file separately.

and with c++ samples can i manage it as library for my c# winform application

[2020-07-08 23:28] rawat123 commented on #1296
i am setting up openvino in windows machine
there is setupvars.bat file which setups openvino environment variables, and after executing it in cmd in the same cmd i can run python scripts with import openvino , can i setup all these variables in python script so i don't need to run setupvars.bat file separately.

and with c++ samples can i manage it as library for my c# winform application, i don'

[2020-07-09 06:55] thibault390 commented on #1293
Ok thanks for the reply :)

[2020-07-09 08:06] Wovchena commented on #1296
You could set env vars which are set by `setupvars.bat` in Windows settings so your `PATH` and `PYTHONPATH` vars always has values for OpenVINO.

I think technically it is possible to link you your app with some demos libraries, but you shouldn't do that.
1. It will be easier to  write your own library. I'm not  aware of Inference Engine C# wrappers, but you could use OpenCV's wrappers and run inf

[2020-07-11 14:55] TNTWEN opened #1310 "How could i use vehicle-license-plate-detection-barrier-0123 model"
Hi !
[how could i use this model](https://github.com/opencv/open_model_zoo/blob/master/models/public/vehicle-license-plate-detection-barrier-0123/description/vehicle-license-plate-detection-barrier-0123.md)
Does OpenVINO provide the script to convert this model to IR,and python  demo to use the IR model?

Thanks!

[2020-07-12 08:47] #1310 closed

[2020-07-15 11:50] willmendil commented on #410
@snosov1 The link is 404

[2020-07-15 12:00] GotG commented on #1171
unfortunately build_demos.sh fails for me. my old intel processor might be at fault.
how can i install the `monitors` library?

[2020-07-15 12:53] snosov1 commented on #410
We did some refactoring recently. The new path is:

https://github.com/opencv/openvino_training_extensions/tree/develop/pytorch_toolkit/object_reidentification/face_recognition

[2020-07-15 13:18] GotG commented on #1171
what do you mean by ignored? thanks

[2020-07-15 13:29] GotG commented on #1171
i ran the build_demos.sh and yet monitors still missing. how can i install monitors manually?

also you mention it could be ignored?

[2020-07-15 17:05] IRDonch commented on #904
Closing as promised.

[2020-07-15 17:05] #904 closed

[2020-07-15 17:06] IRDonch commented on #1025
Closing since the question was answered.

[2020-07-15 17:06] #1025 closed

[2020-07-15 17:06] IRDonch commented on #1027
Closing due to inactivity.

[2020-07-15 17:06] #1027 closed

[2020-07-15 17:07] #1045 closed

[2020-07-15 17:10] #1070 closed

[2020-07-15 17:16] IRDonch commented on #1108
Closing due to inactivity.

[2020-07-15 17:16] #1108 closed

[2020-07-15 17:25] GotG opened #1325 "Yolov3 Python Demo erroneous detections"
Using `object_detection_demo_yolov3_async.py` produces the following output on yolov3 tiny coco model:

![errors](https://user-images.githubusercontent.com/61444721/87575908-48cfc400-c6d9-11ea-96e4-01387ec05e37.png)

[2020-07-15 17:25] IRDonch commented on #1259
Looks like this question was answered in openvinotoolkit/openvino#1117, so I'm closing this.

[2020-07-15 17:25] #1259 closed

[2020-07-15 17:29] IRDonch commented on #1078
@eaidova I don't think you should've closed this; I just checked the latest `develop` and the docs still refer to a nonexistent `extract_prediction_answers` postprocessor. Could you fix the docs?

[2020-07-16 10:05] eaidova commented on #1078
@IRDonch  I believe, now it can be closed?

[2020-07-16 17:55] GotG opened #1331 "yolov3 async demo .py code question"
Hello

In object_detection_demo_yolov3_async.py why is the reshape needed? the output.buffer already has the required shape before the reshape. also why is buffer used (i see this as a recent change). thank you

`out_blob = out_blob.buffer.reshape(net.layers[net.layers[layer_name].parents[0]].out_data[0].shape)`

[2020-07-17 07:18] eizamaliev commented on #1325
@GotG you can tune IoU threshold to eliminate such behavior (`-iout` option)

[2020-07-17 11:51] GotG commented on #1331
thanks! given the name of the demo did not think of that.
also the buffer in the network out_blob holds the tensor. this seems to be a newer addition to openvino?
i used to get the results from the output like this:
`results = output[layer_name]`
now if i do the same i get a blob object so i have to access its buffer to get to the numbers.
is my understanding correct? do you know why this change?

[2020-07-17 12:21] eaidova commented on #1331
@GotG, it is changes in Inference Engine python API, old deprected property infer_request.outputs return numpy arrays as outputs (blob unpackaging made inside python API before) in the dictionary, new API with name output_blobs return blob objects as values in the dict and you need to get buffer. It was made for alignment with C++ interface. Blob class in python needs for providing such opportunit

[2020-07-17 13:05] GotG commented on #1331
thanks. can you show me what is the best way to keep up with OpenVINO python API changes? thanks again

[2020-07-17 14:34] TanveshT opened #1332 "Small mistake in the landmarks-regression-retail-0009.md file"
Within **OUTPUTS** the range of the docs is **given 0-5** which means **6 landmarks** whereas we are receiving **10 x,y coordinates** which means the output is **5 Landmarks**

Change `x0,y0,....,x5,y5`   to   `x0,y0,x1,y1.....x4,y4`

[2020-07-17 17:00] #1332 closed

[2020-07-18 14:12] GotG commented on #1325
the issue can be mitigated with extreme iout of 0.1. with this extreme iout i may get only the smaller box to display, which is clearly wrong.
this points to the more important fact that one of the layers outputs boxes that are wrong.
prior implementations of yolov3 async demo.py from previous openvino releases display the same error.

[2020-07-20 01:34] x1aoo opened #1335 "accuracy_checker issue: No module named 'tensorflow'"
Hi,

When I tried to test the accuracy in with TensorFlow, I meet the problem that:
ValueError: TensorFlow isn't installed. Please, install it before using. No module named 'tensorflow'.
While I did install tensorflow and type python and import tensorflow without any bugs.

`(tf1) [root@localhost accuracy_checker]# accuracy_check -c sample/sample_config.yml -m data/test_models -s sample
Processing

[2020-07-20 18:50] #1331 closed

[2020-07-20 18:50] #1325 closed

[2020-07-21 06:06] smitesh-sutaria opened #1338 "Unable to convert deepspeech-0.6.1 model"
Using https://github.com/FengYen-Chang/open_model_zoo/tree/master/demos/python_demos/deep_speech_demo able to convert deepspeech-0.5.1 model.

But when attempt it on 0.6.1 version, get the below error :

[code]

[2020-07-21 06:34] zvif commented on #1135
What is the difference between this implementation and the C++ (pedestrian tracker demo) implementation?
There is some extra logic (in both implementations) such as when you use the re-identification model. Could you add some more explanations?

[2020-07-22 06:19] #1078 closed

[2020-07-22 12:22] maxlytkin commented on #1304
Hi @rawat123
Yes, you can try the following method https://dwgeek.com/set-and-use-environment-variable-inside-python-script.html/

[2020-07-22 14:42] vinicius121 commented on #1265
Hi any updates about the head orientation model?
Only the yaw is working...

[2020-07-22 14:47] Wovchena commented on #1265
I can only suggest to check that the model works with `gaze_estimation_demo` and to align your application with the demo.

[2020-07-22 19:24] eaidova commented on #1338
@smitesh-sutaria the error message "No node with name previous_state_h/read" speak that model does not contain layer with this name. This stale PR was not accepted to OMZ, why do you decide that it contains actual info? (especially, if take in account that at the moment of its creation, deepspeech0.6.1 has not been released at all :)

please try the following command for converting model:
[code]
P

[2020-07-23 06:04] aswin-datakalp opened #1346 "Unable to Convert Human pose detection 3D model from ONNX to IR format"
HI Team ,

I am trying to replicate the human 3D pose detection model published here : https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/human-pose-estimation-3d-0001/description/human-pose-estimation-3d-0001.md

For converting the native Pytorch model to ONNC format, the command that i used is :

sudo python3 pytorch_to_onnx.py --model-path=./public/human-pose-estimation

[2020-07-23 08:20] eaidova commented on #1346
@aswin-datakalp do you able to look on your ONNX model throw network visualization tools e.g. netron?
the error says that there is not layer with such name. It can be signal that output layers names are just different (e.g. it is possible if you use different pytorch/onnx versions then tests) or something went wrong during conversion

[2020-07-23 08:31] eaidova commented on #1346
@aswin-datakalp , BTW do you see the same errors using [model_downloader](https://github.com/openvinotoolkit/open_model_zoo/tree/master/tools/downloader#model-downloader-usage) and [model_converter](https://github.com/openvinotoolkit/open_model_zoo/tree/master/tools/downloader#model-converter-usage) tools for these operations?

[2020-07-23 09:42] innjoshka opened #1347 "Can I download weightts for intel head-pose-estimation-adas-0001?"
I see ptototxt file inside the folder but no weights inside, Can you please provide the link to download these weights?

[2020-07-23 09:47] eaidova commented on #1347
@innjoshka, I am sorry, but this model distributed in openvino IR format only, prototxt provided for posibilities of model architecture analisys. We do not have plan for sharing weights (caffemodel), it means you can download and use only xml+bin (where bin-file represents model weights for running via openvino)

[2020-07-23 10:21] aswin-datakalp commented on #1346
HI @eaidova ,

Yes i loaded the model into Netron and tried visualising the layers and im able to see all 3 required layers namely , ** Features , heatmaps, pafs**

Attached the screenshot below.

![Screenshot from 2020-07-23 15-26-38](https://user-images.githubusercontent.com/52453821/88275979-e50e5200-ccfb-11ea-977f-f497ab2a101a.png)
![Screenshot from 2020-07-23 15-26-51](https://user-images.git

[2020-07-23 10:33] eaidova commented on #1346
@aswin-datakalp which onnx version installed on your machine? I also see that you run MO and model converter from different packages (openvino_2020.3.194 in downloader case and openvino_2020.4.287). Could you please try to use one package (openvino_2020.4.287) for both operations?

[2020-07-23 10:35] eaidova commented on #1346
possibly observed behaviour can be explained by this PR - https://github.com/openvinotoolkit/open_model_zoo/pull/1149

[2020-07-23 10:37] aswin-datakalp commented on #1346
Hi @eaidova ,

The onnx version is : '1.6.0'

And yes tried with single version of openvino_2020.4.287 and still it didn't work !!

[2020-07-23 10:42] eaidova commented on #1346
@aswin-datakalp do you try to regenerate onnx with 2020.4.287 package or just run dry-run?

[2020-07-23 10:45] aswin-datakalp commented on #1346
@eaidova , Regenerated ONNX from 2020.4.287 package and then tried converting the same !!

[2020-07-23 11:00] eaidova commented on #1346
@aswin-datakalp  unfortunatly, I can not reproduce your issue
I install openvino 2020.4.287, install onnx and pytorch version which you said and run following commands:
[code]
and IR was successfully converted

[2020-07-23 11:10] aswin-datakalp commented on #1346
@eaidova , Does converted.py do the pytorch_to_onnx convertsion also before converting to IR format ??

Also does this conversion follow the parsm listed in **.yml file** ?

https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/human-pose-estimation-3d-0001/model.yml

[2020-07-23 11:14] eaidova commented on #1346
~/intel/openvino_2020.4.287/deployment_tools/open_model_zoo/tools/downloader$ python downloader.py --name human-pose-estimation-3d-0001
################|| Downloading models ||################

========== Downloading /home/automation/intel/openvino_2020.4.287/deployment_tools/open_model_zoo/tools/downloader/public/human-pose-estimation-3d-0001/human-pose-estimation-3d-0001.tar.gz
... 100%, 17990 K

[2020-07-23 11:18] aswin-datakalp commented on #1346
@eaidova,

Looks like openvino_2020.3.194, has some issue when converting to IR format.

Now i am able to get the IR for mat when i completely remove openvino_2020.3.194 by doing **sudo apt autoremove <package_version> and installed openvino_2020.4.x .

![Screenshot from 2020-07-23 16-44-38](https://user-images.githubusercontent.com/52453821/88280881-4a664100-cd04-11ea-85e5-82b01f79f4b9.png)

Than

[2020-07-23 11:19] #1346 closed

[2020-07-23 14:48] smitesh-sutaria commented on #1338
@eaidova Thank you for the inputs. The command you gave worked for converting the model but as you rightly pointed out, the demo might not work. Understand that v0.6.1 is not backward compatible with v0.5.1. The rationale behind usage of newer versions of deepspeech is to get better performance. Which version of deepspeech is officially supported ? What are the future roadmap in terms of supportin

[2020-07-23 14:49] smitesh-sutaria commented on #1338
@FengYen-Chang : Your Inputs/Feedback please.

[2020-07-23 20:51] eaidova commented on #1338
@smitesh-sutaria, deepspeech model have some troubles with license, it stopped us to publish it as part OMZ, but we working on it... In the optimistic scenario, the updated demo can become a part of OMZ in the next release. I can say that deepspeech0.6.1 actually supported by openvino and successfully pass accuracy validation via accuracy checker, so the observed issue connected only with incompat

[2020-07-24 06:29] smitesh-sutaria commented on #1338
@eaidova Thank you for the inputs. Will try it out and keep you posted.
WER (word error rate) of the latest release 0.7.4 is 5.97%, while that of 0.6.1 is 7.5%.
Any specific reason to go for 0.6.1 and not for the latest release 0.7.4?
Are there plans/road-map to support 0.7.4 ?

[2020-07-24 12:31] #1347 closed

[2020-07-24 17:16] FengYen-Chang commented on #1338
Thanks @eaidova.
@smitesh-sutaria , really sorry for the late reply, I have updated the demo to version,`0.6.1`. Please check that repo. Thanks.

[2020-07-27 07:24] FengYen-Chang commented on #1338
For the version `0.7.4`, you can use the same MO command which you convert the version `0.6.1` to convert the `.pb` file and then patch the parameter `upper_frequency_limit_` which under function `mfcc_mel_filiterbank_init` from `4000` to `8000`.
After this patch, the demo should be run well.

[2020-07-27 16:13] vinicius121 commented on #1265
Ok! I got it working. thanks!

[2020-07-27 16:13] #1265 closed

[2020-07-28 08:17] nadeem-nrt opened #1355 "AttributeError: module 'monitors' has no attribute 'Presenter'"
When I run most samples, I get the following error.
`
nadeem@Nadeem-XPS:~/open_model_zoo/demos/python_demos/multi_camera_multi_target_tracking$ python multi_camera_multi_target_tracking.py -i 1.mp4 2.mp4 --config configs/person.py --m_reid person-reidentification-retail-0270.xml -m person-detection-retail-0013.xml
`

[code]

[2020-07-28 10:02] nadeem-nrt commented on #1355
Fixed it!

[2020-07-28 10:02] #1355 closed

[2020-07-28 10:23] jediofgever opened #1356 "Model Optimizer cannot produce .bin and .xml for YOLOV3 ?"
I convert ` yolo_v3.weights` to `yolov3.pb ` with  https://github.com/jinyu121/DW2TF

and then I try to run model optimizer with ;
[code]

I get error indicating ;

[code]

My openVINO version is `2019_R3`

why I am having this problem

[2020-07-28 13:12] maxlytkin commented on #1335
@x1aoo
Please make sure you have installed required tensorflow version. You can run >pip3 install -r <openvino_dir>/deployment_tools/model_optimizer/requirements_tf.txt
Also, before running accuracy check, set the environment variables (if not done yet) with >source <openvino_dir>/bin/setupvars.sh

Thanks.
Best regards, Max.

[2020-07-29 09:18] qiyuangong opened #1363 "faster_rcnn_resnet50_coco with bs 32 get wrong image_info"
OpenVINO version 2020.3
open_model_zoo master

I'm trying to covert faster_rcnn_resnet50_coco with batch 32. By change https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/faster_rcnn_resnet50_coco/model.yml#L30 into `[32,600,1024,3]`, I get a converted model with bs 32 input.

But, `image_info` is still `1,3` rather than `32,3`. This difference may leads to input shape mism

[2020-08-03 07:12] cocokale opened #1374 "The distillation method of bert-small-uncased-whole-word-masking-squad-0001"
For the bert-small-uncased-whole-word-masking-squad-0001 model, the description document says that it is distilled on SQuAD v1.1 training set. Could anyone please kindly share the exact distillation method of it, because obviously there exist many distillation methods...
Thanks!

[2020-08-03 08:22] eaidova commented on #1374
@krodyush, could you please answer, if it is possible?
Thanks!

[2020-08-04 06:49] aswin-datakalp opened #1378 "FPS issue in Human pose estimation 3D model"
Hi Team ,

I a using **human-pose-estimation-3d-0001** model and converting the model using the below thread:

https://github.com/openvinotoolkit/open_model_zoo/issues/1346#issuecomment-662944002

I have converted the model into 4 different precision formats namely : FP32, FP16 , float and half.

The problem we are facing is with FPS. We noted the following FPS on an average of few sets:

FP32 - 1

[2020-08-04 08:49] awl-hoang-bui commented on #708
@Mushtaq-BGA I'm really curious of how you could monitor utilization of HDDL. Which CLI command do you use?
Many thanks

[2020-08-10 09:50] eizamaliev commented on #1378
@aswin-datakalp could you provide some additional info:
- Which device did you use for inference?
- How did you obtain each model?
Provide as much info as you can: it makes easier further investigation.

[2020-08-10 09:55] eizamaliev commented on #1363
@qiyuangong please try TF fasters with [object_detection_demo_ssd_async](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/object_detection_demo_ssd_async).

[2020-08-11 14:42] qiyuangong commented on #1363
Hi @eizamaliev . Thank you for response!

I have tried SSD examples. It works well. But for faster_rcnn from TensorFlow, it doesn't. Pls check faster_rcnn example and related code.

[2020-08-12 09:52] eizamaliev commented on #1363
@qiyuangong please describe what did go wrong with faster-rcnn from TF on object_detection_demo_ssd_async.

[2020-08-13 00:06] dmitryponv opened #1407 "Cannot create ShapeOf layer SSD/concat_reshape_softmax/Shape_1 id:399"
This is on A Raspberry Pi 3 Buster Lite with Neural Compute Stick II inserted into USB port

I followed these installation instructions:

https://docs.openvinotoolkit.org/latest/openvino_docs_install_guides_installing_openvino_raspbian.html

I am following these videos for linux https://www.youtube.com/watch?v=6Ww_zLDGfII&list=PLDKCjIU5YH6jMzcTV5_cxX9aPHsborbXQ&index=5

The raspberry pi installati

[2020-08-14 20:58] ashokei opened #1413 "download fails for bert-large-uncased-whole-word-masking-squad-fp32-0001"
Tried several times, seems to fail around 1G. (also fails in manual download).

./downloader.py --name bert-large-uncased-whole-word-masking-squad-fp32-0001
################|| Downloading models ||################

========== Downloading /root/public_models/intel/bert-large-uncased-whole-word-masking-squad-fp32-0001/FP32/bert-large-uncased-whole-word-masking-squad-fp32-0001.xml
... 100%, 934 KB, 2

[2020-08-17 02:58] x1aoo opened #1414 "how to prepare VOC2012_Segmentation datasets"
Hi,

I am trying to test the accuracy of the deeplabv3 model, but it requires the **VOC2012_Segmentation** in [deeplabv3.yml](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/accuracy_checker/configs/deeplabv3.yml) rather than the dataset you can see in [Dataset Preparation Guide](https://github.com/openvinotoolkit/open_model_zoo/blob/develop/datasets.md).

Is there any guidelin

[2020-08-18 04:34] mochikun commented on #1413
Please try to use --num_attempts option (example: --num_attempts 4).
For my side, I saw same error but I set --num_attempts 4 option, the download was resumed.

[2020-08-18 11:43] Anna-Mironova commented on #1414
[Pull request](https://github.com/openvinotoolkit/open_model_zoo/pull/1425) with VOC2012 dataset preparation has been created

[2020-08-18 23:40] ashokei commented on #1413
works with `--num_attempts 4 `

[2020-08-18 23:40] #1413 closed

[2020-08-19 03:21] x1aoo commented on #1414
thanks！

[2020-08-19 03:21] #1414 closed

[2020-08-20 04:02] ternaus opened #1433 "[Legal question] Is it legal to use pre-trained models from the model zoo for commercial purposes?"
I see discussions at

* [Reddit](https://www.reddit.com/r/MachineLearning/comments/4eu2vd/can_pretrained_networks_be_used_in_commercial/)
* [Kaggle](https://www.kaggle.com/c/deepfake-detection-challenge/discussion/131121)
* [PyTorch forum](https://discuss.pytorch.org/t/can-i-use-the-pretrained-models-for-commercial-use/54279)
* [Authors Guild, Inc. v. Google, Inc.](https://en.wikipedia.org/wiki/Au

[2020-08-20 04:15] ternaus commented on #1433
Similar question to:
* Google: https://github.com/tensorflow/models/issues/9131
* Facebook: https://github.com/pytorch/vision/issues/2597

[2020-08-20 13:49] jgespino commented on #1407
Hi @dmitryponv

It looks like you are using OpenVINO toolkit 2020.1 release, could you try using the latest 2020.4 release and 2020.4 models?

OpenVINO toolkit for Raspbian OS:
https://download.01.org/opencv/2020/openvinotoolkit/2020.4/l_openvino_toolkit_runtime_raspbian_p_2020.4.287.tgz

OpenVINO toolkit 2020.4 Models:
https://download.01.org/opencv/2020/openvinotoolkit/2020.4/open_model_zoo/mode

[2020-08-20 13:49] vladimir-dudnik commented on #1433
@ternaus please contact your company legal department for conditions of use under certain license questions.

[2020-08-20 15:58] ternaus commented on #1433
It is a separate question.

Let's focus on the original. OpenVino provides models. What does the legal department at Intel thinks about pre-trained models provided by OpenVino:

I am fine with either of the answers:

* They could be used only for non-commercial purposes.
* They could be used for commercial purposes.
* We do not know. Use them at your own risk.

And it will be great to write it **c

[2020-08-20 17:54] GotG opened #1438 "demo to run tiny yolo v2 models"
is there a demo for running tiny yolo v2 models?
thanks

[2020-08-20 18:20] ternaus commented on #1433
As I understand:

in https://01.org/openvinooolkit/faq

is very close to what will be nice to have.

If there will be a line in FAQ or statement at the page with the list of pre-trained models:

It would solve all the issues.

[2020-08-21 00:42] just4give opened #1441 "How to get label map for product-detection-0001"
Hi,
I am fairly new to this field and wondering where I can find the label map for this model. Should it be generated ? If so, how? Any help is appreciated. Thanks.

[2020-08-21 07:31] eaidova commented on #1441
Hi @just4give  according to [model description](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/product-detection-0001/description/product-detection-0001.md):
[code]
so the label map looks like:
0. background
1. undefined
2. sprite
3. kool-aid
4. extra
5. ocelo
6.  finish
7. mtn_dew
8. best_foods
9. gatorade
10. heinz
11.  ruffles
12. pringles
13. del_monte

[2020-08-28 08:42] anirudt opened #1475 "Downloader script not working for resnet-50"
Hi,

The downloader script does not seem to work for resnet-50, is there anything I am missing here?

[code]

But "resnet-50" is a valid string (`--print_all` does show it)..

[2020-08-29 10:35] anujonthemove opened #1482 "What is the use of MultipleOutputPostprocessor in object_detection_demo_ssd_async? No comments provided."
Recently, the code for object_detection_demo_ssd_async got updated. I see that it now includes two classes: `SingleOutputPostprocessor` and `MultipleOutputPostprocessor` using which the output buffer gets defined.

I know that SSD Mobilenet models outputs 3 tensors namely: boxes, scores, labels for which `MultipleOutputPostprocessor` would be used but I just converted the available ssd_mobilenet_v

[2020-08-31 13:06] hoangkhoiLE opened #1486 "Can not download model person-reidentification-retail-0277/ 288/287 ?"
Hello,

I tried to download these model but i could not get it. Please check it

![image](https://user-images.githubusercontent.com/57557628/91723001-667abf00-eb9b-11ea-84aa-517b6a588dbe.png)

[2020-08-31 13:44] eaidova commented on #1486
@hoangkhoiLE these models will be available only for the next release. you use openvino_2020.4.287, where the same model architectures represented as person-reidentification-retail-0265/267/270. Please try to use them.

[2020-08-31 14:19] hoangkhoiLE commented on #1486
Thank you for your excellent work!!

[2020-08-31 14:19] #1486 closed

[2020-08-31 15:35] eizamaliev commented on #1482
Hi, @anujonthemove
It is used for [SSD-ResNet34](https://github.com/openvinotoolkit/open_model_zoo/blob/develop/models/public/ssd-resnet34-1200-onnx/ssd-resnet34-1200-onnx.md) model, since it has separate outputs for boxes, probabilities and classes.

[2020-08-31 15:57] zvif opened #1487 "GT format for multi-target demo"
What is the gt format when using the multi_camera_multi_target_tracking python code?
I would like to use the run_history_visualize.

[2020-08-31 17:51] anujonthemove commented on #1482
Got it! Thank you so much for your response.

[2020-09-01 14:11] hoangkhoiLE opened #1497 "What is the article for the "Multi Camera Multi Target Python* Demo" ?"
Hello,

I want to learn more about the code and the way it work. Please share to me some of document relating with "https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/python_demos/multi_camera_multi_target_tracking".

Best regard

[2020-09-01 14:30] vladimir-dudnik commented on #1497
which document do you mean? What we currently have is the code and brief demo description on github. This should be available, I think.

[2020-09-01 14:40] vladimir-dudnik commented on #1475
@anirudt we see the same on our side. It seems model is no more available on its original location, so we will have to exclude resnet-50, resnet-101 and resnet-152 Caffe models in the coming release. See [PR-1419](https://github.com/openvinotoolkit/open_model_zoo/pull/1419) and [PR-1494](https://github.com/openvinotoolkit/open_model_zoo/pull/1494)

[2020-09-01 14:47] anirudt commented on #1475
I see, thank you for your reply.

[2020-09-01 14:47] #1475 closed

[2020-09-01 15:16] hoangkhoiLE commented on #1497
I mean document to describe how and which algorithm of tracking that you used. I want to modify some of parameter in the code but there is no document to follow.

Best regard.

[2020-09-01 15:38] vladimir-dudnik commented on #1497
@hoangkhoiLE I do not think we have any additional documents related to this sample. @evgeny-izutov @snosov1 do you mind to describe tracking algorithm in more details?

[2020-09-01 19:13] #1438 closed

[2020-09-02 08:57] yuerunyu opened #1500 "python3 human_pose_estimation_3d_demo.py -h"
when I run "python3 human_pose_estimation_3d_demo.py -h",
Traceback (most recent call last):
  File "human_pose_estimation_3d_demo.py", line 26, in <module>
    from modules.parse_poses import parse_poses
  File "/opt/intel/openvino_2020.4.287/deployment_tools/open_model_zoo/demos/python_demos/human_pose_estimation_3d_demo/modules/parse_poses.py", line 17, in <module>
    from pose_extractor impor

[2020-09-02 22:28] vladimir-dudnik commented on #1500
@yuerunyu have you noticed **[Prerequisites](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/python_demos/human_pose_estimation_3d_demo#prerequisites)** section in demo readme?

[2020-09-02 22:32] vladimir-dudnik commented on #1487
@sovrasov @DmitriySidnev @snosov1 could you please comment on this question?

[2020-09-03 09:52] #1482 closed

[2020-09-03 13:11] hoangkhoiLE commented on #1497
I always wait for your advices.

Best regard

[2020-09-03 14:00] evgeny-izutov commented on #1497
@DmitriySidnev, @sovrasov

[2020-09-03 14:51] DmitriySidnev commented on #1497
@hoangkhoiLE, hi!
The main algorithm of the `multi_camera_multi_target_tracking` is based on a re-identification model which extracts a re-id feature from every bounding box. Also there is used additional heuristics such as IoU between bounding boxes, velocity constraint e.t.c. Finally we did not write an article, we used already known methods. We were focused on re-identification models in this a

[2020-09-03 15:03] hoangkhoiLE commented on #1497
@DmitriySidnev Thank for your kind response. Some of your additional heuristics reminds me of the algorithm tracking "deep sort". Is your approach is version update from deep sort ?

[2020-09-03 15:05] DmitriySidnev commented on #1487
@zvif, hi!
Ground truth annotations can be obtained via annotation tool [CVAT](https://github.com/opencv/cvat). Minimal set and format of attributes:
[code]
I am going to add possibility of reading annotations from *\*.txt* files like in MOT17, MOT20 challenges.

[2020-09-03 15:27] zvif commented on #1487
The *.txt would be great.
I thought I could use the "datum convert" from the CVAT https://github.com/opencv/cvat/tree/develop/datumaro toolbox and I tried to convert (MOT challenge format) using the CVAT (-f cvat) format that wasn't recognized. Is there a different conversion?

[2020-09-03 15:36] DmitriySidnev commented on #1487
Actually, I have never used this converter. There is an option for MOT but the result may have some minor difference (in respect that you already tried).

[2020-09-03 15:50] DmitriySidnev commented on #1497
No, it is not a version of deep sort tracker but some ideas probably were borrowed from this method.

[2020-09-03 16:58] zvif commented on #1487
Is there any recommended way of conversion? I have GT in a simple text file (csv). I would love to use the tool.

[2020-09-04 09:18] #1254 closed

[2020-09-04 09:54] #1441 closed

[2020-09-04 10:02] DmitriySidnev commented on #1487
Please take a look at this [code](https://github.com/DmitriySidnev/open_model_zoo/blob/ds/mot_eval/demos/python_demos/multi_camera_multi_person_tracking/evaluate_mot.py). There is a support for reading annotations from **.txt* files like in MO17(20).

[2020-09-07 03:49] coneypo opened #1509 "Running security_barrier_camera_demo with yolo-v2-tiny-vehicle-detection-0001"
Hi,

`yolo-v2-tiny-vehicle-detection-0001` has been added into open_model_zoo (https://github.com/openvinotoolkit/open_model_zoo/pull/1156), but seems not working with `security_barrier_camera_demo`

Worked with vehicle-license-plate-detection-barrier-0106 for detecting:
`
./security_barrier_camera_demo -i road_barrier_1080.mp4 -m vehicle-license-plate-detection-barrier-0106.xml -m_va bkc/models/v

[2020-09-07 09:39] eizamaliev commented on #1509
Hi, @coneypo
Appears, that this model isn't supported by `security_barrier_camera_demo` as we can see it absence in [models.lst](https://github.com/openvinotoolkit/open_model_zoo/blob/develop/demos/security_barrier_camera_demo/models.lst) file. I recommend you to use Python's [object detection demo](https://github.com/openvinotoolkit/open_model_zoo/tree/develop/demos/python_demos/object_detection_

[2020-09-08 06:35] guoyejun opened #1515 "how to try Bfloat16 in a simple test"
Hi,

I see that Bfloat16 is supported/optimized on Cooper Lake according to release notes, is there a simple test (.c or .cpp program) with one float32/Bfloat16 model that I can have a try? thanks.

[2020-09-08 06:48] eaidova commented on #1515
@guoyejun  conversion to bfloat16 will be performed automatically if platform support it, for testing I can suggest you to use benchmark_app. It has key for enable/disable bf16:
[code]
see: [benchmark_app docs](https://docs.openvinotoolkit.org/latest/openvino_inference_engine_samples_benchmark_app_README.html)

[2020-09-08 07:13] guoyejun commented on #1515
thanks, got it, we don't need another bfloat16 model file, it is executed internally with bfloat16 precision on supported platforms on FP32 model file.

[2020-09-08 07:19] eaidova commented on #1515
yes, alright, you can switch -enforcebf16=false to return back to fp32 and compare performance between bf16 and fp32.
You can find more details about bf16 support in openvino on this [page](https://docs.openvinotoolkit.org/latest/openvino_docs_IE_DG_Bfloat16Inference.html)

[2020-09-08 07:50] guoyejun commented on #1515
thank you very much!

[2020-09-08 07:50] #1515 closed

[2020-09-09 01:21] coneypo commented on #1509
Thanks, Eduard;

Successfully run `yolo-v2-tiny-vehicle-detection-0001` with `object_detection_demo_yolov3_async` but seems no recognization in this demo;

For us, currently we want to use `yolo-v2-tiny-vehicle-detection-0001`  for detection and `vehicle-attributes-recognition-barrier-0042` for recognization in our scene;

We got the sample code of  `yolo-v2-tiny-vehicle-detection-0001`  for detec

[2020-09-09 01:21] #1509 closed

[2020-09-09 14:26] #1497 closed

[2020-09-09 14:31] hoangkhoiLE opened #1526 "Using model openvino as feature extractor ?"
Hello,

I'm interested in this demo "https://docs.openvinotoolkit.org/latest/omz_demos_python_demos_image_retrieval_demo_README.html". But somehow the vector embedding is not good in some type of image. I see that we got a lot of model in public pretrained "model https://docs.openvinotoolkit.org/latest/usergroup17.html". But i see that the output is the classe probability. Is there a way to get ou

[2020-09-09 19:22] eaidova commented on #1526
@hoangkhoiLE , by default openvino do not store intermediate layers data for reducing memory consumption (the idea in memory reusage), but there is approach how to enable saving output for specific layer - you need mark necessary intermediate layers as outputs using `add_outputs` method of network class, then you can get their data as inference results (of cause, after loading network with added o

[2020-09-10 15:05] eaidova commented on #1526
[netron](https://github.com/lutzroeder/netron) is the tool for network visualization supports openvino IR format

[2020-09-12 20:02] Vladislav-Denisov opened #1545 "Broken links in .yml files."
Hello. You have broken links in .yml files for the colorization-v2 and colorization-v2-no rebel public models. Please fix it.

[2020-09-14 11:11] GotG opened #1547 "Modified tiny_yolo_v3.cfg to Tensorflow (to OpenVINO)"
Hello

Does anyone have experience with converting modified yolov3 cfg to Tensorflow 1.x and then to OpenVINO?
I am using a modified tiny_yolo_v3.cfg where i decreased the number of filters.
The model trains and detects well in Darknet.
I modified the tiny-yolov3 model from mystic123 https://github.com/mystic123/tensorflow-yolo-v3 repo to match my cfg.
The conversion to TF works but the model dete

[2020-09-14 13:47] eaidova commented on #1545
HI @Vladislav-Denisov thank you for your note! I prepared patch with updated link for these models

[2020-09-15 09:09] laifuchicago opened #1550 "How can I convert the onnx language model (XLM_Roberta_Large) to openvino?"
To Author:
I first convert the pytorch model to onnx. Then I try to convert from onnx to OpenVINO. But this is the problem that I got.(In the figure) I think the problem happened in the input_shape. I know the xlm-roberta does not have "token_type_ids". So how can I set the input_shape? Or Openvino does not support xlm-roberta?
![openvino_prob1](https://user-images.githubusercontent.com/8537280/93

[2020-09-15 10:20] eaidova commented on #1550
Hi @laifuchicago,, your model has multiple inputs, so you need to specify input for all of them (input_ids, attention_masks) using comma and provide --input parameter with specifing names of input in the corresponding order. MO error says about it.
for example:
mo.py --input_model <model>.onnx --input_shape [1024,16],[1024,16] --input input_ids,attention_mask ....

[2020-09-16 06:33] laifuchicago commented on #1550
To Author:
Thank you, it can be converted now. But now when I want to demo , I found some error, because xlm-roberta does not have vocab.txt. They use sentence,bpe.model instead.  The following figures are what I set and the result that I got. Thank you.
![openvino_prob2](https://user-images.githubusercontent.com/8537280/93300488-734d1300-f829-11ea-9784-0986c50b8022.PNG)
![openvino_prob3](https://

[2020-09-16 06:42] eaidova commented on #1550
@laifuchicago  as expected, vocab.txt and sentencepiece model is not hte same thing, it is the reason why our bert demo is not suitable for your model. You can modify the code to work with sentencepiece instead of decoding by vocab. Also potential problem in preprocessing for input,  it has difference for xlm and bert if I right remember, you can see it in [huggingface question answering example](

[2020-09-16 14:33] dvrogozh opened #1559 "Provide model labels in models descriptions and links to original sources"
Some models like https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/resnet-50, https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/ssd_mobilenet_v2_coco, etc. output object IDs for which human readable label lists exist. However these lists are not provided along with the model and there are no links to original lists or any instruction how to get t

[2020-09-16 15:32] dvrogozh opened #1560 "Which labels should be used with resnet-50?"
Considering https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/resnet-50 model: which labels should be used?

The https://github.com/openvinotoolkit/open_model_zoo/tree/develop/demos/classification_demo demo gives 2 lists:
* https://github.com/openvinotoolkit/open_model_zoo/blob/develop/demos/classification_demo/imagenet_2012_classes.txt
* https://github.com/openvinotoolki

[2020-09-16 15:41] dvrogozh opened #1561 "Which labels should be used with ssd_mobilenet_v2_coco?"
Considering https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/ssd_mobilenet_v2_coco, model: which labels should be used?

Looking into nice summary https://tech.amikelive.com/node-718/what-object-categories-labels-are-in-coco-dataset/, story looks to be:
1. Original paper considered 91 object categories
2. https://cocodataset.org/ had 2 releases in 2014 and 2017 both time

[2020-09-16 17:52] eizamaliev commented on #1560
This model will be removed from OMZ in next release. But for the record it uses https://github.com/openvinotoolkit/open_model_zoo/blob/develop/demos/classification_demo/imagenet_2012_classes.txt .

[2020-09-16 18:01] eizamaliev commented on #1561
As original paper says, you should use labels for 90 classes. Unfortunately, we haven't this label file yet, but you can view them [here](https://github.com/tensorflow/models/blob/master/research/object_detection/data/mscoco_label_map.pbtxt). In the future it will be added to OMZ.

[2020-09-16 18:02] eizamaliev commented on #1559
Thanks for feedback!
It would be appear in one of the further releases.

[2020-09-16 18:14] dvrogozh commented on #1561
Thank you for clarification.

[2020-09-17 00:31] zeeintel commented on #1560
Reset-50 model is not downloadable.
 other models (e.g. resnet-50-tf) can be downloaded.

Here is the  downloader.py's log.

################|| Downloading models ||################

========== Downloading ~/models/public/resnet-50/resnet-50.prototxt
... 22%, 6 KB, 15067 KB/s, 0 seconds passed
########## Error: Downloaded file is shorter (7161 B) than expected (32500 B)

################|| Post-pr

[2020-09-17 10:00] florian-fischer-swarm commented on #1559
+1
Also, for the Intel models, I wonder if it is possible to share more information about the training or the used datasets (or maybe even source)?

[2020-09-20 12:35] Discreater opened #1570 "Wrong help message of flag "m_es" in gaze estimation demo"
https://github.com/openvinotoolkit/open_model_zoo/blob/0224f4b162daf8329923b85c3a0d66a15845d4f9/demos/gaze_estimation_demo/gaze_estimation_demo.hpp#L56-L57

I think it should be
[code]

[2020-09-21 10:09] ClementLeBihan opened #1575 "Failed to reshape Network"
Hi guys,

I've compiled openvino by myself, downloaded open_model_zoo models using downloader script, and build demos using build_demos script.

Some demos are working perfectly on my Intel Neurel Compute Stick 2, but for some other demos, I have this error :

[code]

These error also appear for interactive face detection demo.

Is there a solution for this issue ?

Thank you by advance,
Clément

[2020-09-21 15:37] Wovchena commented on #1575
Hi, @ClementLeBihan.
Can you check if it works on CPU for you?

[2020-09-21 16:54] ClementLeBihan commented on #1575
Hi @Wovchena,

Indeed, I forgot to say that it works good on CPU !

Clément

[2020-09-21 17:58] nixingyang opened #1578 "Specifying max_queue_length does not work correctly in FramesThreadBody"
In [FramesThreadBody](https://github.com/openvinotoolkit/open_model_zoo/blob/2020.4/demos/python_demos/multi_camera_multi_target_tracking/multi_camera_multi_target_tracking.py#L80), the `max_queue_length` variable is used to limit the size of `self.frames_queue`. However, a "continue" statement is missing after [here](https://github.com/openvinotoolkit/open_model_zoo/blob/2020.4/demos/python_demos

[2020-09-21 20:01] Wovchena commented on #1575
I've submitted a ticket to a myriad plugin team

[2020-09-21 20:56] vladimir-dudnik commented on #1570
@Discreater thanks for catching this, fix is in [PR-1582](https://github.com/openvinotoolkit/open_model_zoo/pull/1582)

[2020-09-22 20:23] #1570 closed

[2020-09-23 07:08] AprilCat opened #1589 "how to speed up human-pose-estimation demo"
I run this demo on MYRIAD. sync mode. it cost 410ms during inference. What can I do to speed up this demo.

[2020-09-23 20:00] G2020sudo opened #1590 "GPU Remote Blob -- SetBlob failure"
I am trying to build a Media SDK sample with OpenVINO that uses GPU remote blob feature. In my sample I can succesfully:

auto shared_va_context = make_shared_context(ie, "GPU", getVADevice());
ExecutableNetwork execNet = ie.loadnetwork(network, shared_va_context, {{ CLDNNConfigParams::KEYCLDNN_NV12_TWO_INPUTS, PluginConfigParams::YES }});
InferRequest inferRequest = execNet.CreateInferRequest();

[2020-09-23 20:04] G2020sudo commented on #1590
Wrong repo. Will move to openvino.

[2020-09-23 20:04] #1590 closed

[2020-09-23 20:13] Vladislav-Denisov opened #1591 "The problem with the downloading of the models ResNet."
Hi. There is a problem with downloading prototxt files for the ResNet-50, ResNet-101, and Resnet-152 models.
Error: Downloaded file is shorter (<size>) than expected (<size>).

[2020-09-24 08:19] Wovchena commented on #1575
A reply I got:

[2020-09-25 07:42] #1550 closed

[2020-09-25 08:15] eizamaliev commented on #1591
These models are not available in original source and would be deleted in 2021.1. See [here](https://github.com/openvinotoolkit/open_model_zoo/issues/1475) for details.

[2020-09-25 11:47] vladimir-dudnik commented on #1589
@AprilCat might to try async mode?

[2020-09-26 01:18] yangqbo opened #1602 "Meet the following error when load weights in demo object_detection_sample_ssd"
I tried to execute the command: ./object_detection_sample_ssd -i person.jpg -m person-detection-retail-0013.xml -d MYRIAD, then met the following error:

[ ERROR ] Check 'is_valid_permutation(permutation, arg_shape.rank())' failed at ngraph/core/src/op/transpose.cpp:73:
While validating node 'v1::Transpose Transpose_1902 (mbox_loc1/out/conv[0]:f16{1,48,20,34}, mbox_loc1/out/conv/perm/Cast_138728_c

[2020-09-26 02:06] yangqbo commented on #1602
And the command "python object_detection_demo_yolov3_async.py -i car.png -m yolov3.xml -d MYRIAD" leads to the following error:
[ INFO ] Loading network
Traceback (most recent call last):
  File "object_detection_demo_yolov3_async.py", line 518, in <module>
    sys.exit(main() or 0)
  File "object_detection_demo_yolov3_async.py", line 320, in main
    net = ie.read_network(args.model, os.path.spli

[2020-09-26 02:23] dongyangli-del commented on #94
Hello, When I input the command " sudo python3 face_detection.py", it tells me that : Traceback (most recent call last):
  File "face_detection.py", line 3, in <module>
    net = cv.dnn.readNet('face-detection-adas-0001.xml', 'face-detection-adas-0001.bin')
cv2.error: OpenCV(3.4.3) /home/pi/opencv-python/opencv/modules/dnn/src/dnn.cpp:2365: error: (-2:Unspecified error) Build OpenCV with Inference

[2020-09-28 10:05] vladimir-dudnik commented on #1602
Please make sure you use models and OpenVINO runtime from the same release.

[2020-09-28 10:09] vladimir-dudnik commented on #1578
@DmitriySidnev could you please take a look on this report?

[2020-09-28 10:37] yangqbo commented on #1602
I use the OpenVINO 2020.4 and models downloaded from the open_model_zoo, and they shoud be the same release.

[2020-09-29 06:11] Vladislav-Denisov opened #1607 "Labels vgg19, googlenet-v2."
Hi! I want to validate the googlenet-v2 and vgg19 models. However, I can't find the correct labels. Please share a link to the files with them.

[2020-09-29 07:17] eizamaliev commented on #1602
@yangqbo did you use `downloader.py` and `converter.py` scripts to obtain the model?

[2020-09-29 15:16] yangqbo commented on #1602
Yes, I got the person-detection-retail-0013.xml and person-detection-retail-0013.bin files by downloader.py directly. and tried to load them into openvino, then I meet the error.
And when tried to run the example: ./classification_sample_async -i car.jpg -m squeezenet1.1.xml  -d MYRIAD, the following error appeared:

[ INFO ] InferenceEngine:
	API version ............ 2.1
	Build ..................

[2020-09-29 16:14] eizamaliev commented on #1602
Did you try it on CPU or GPU?

[2020-09-29 23:36] vladimir-dudnik commented on #1607
these public models are trained on [ImageNet](http://image-net.org) dataset. We do not redistribute ImageNet dataset or its parts, you need to get it on your own. There is a brief [description](https://github.com/openvinotoolkit/open_model_zoo/blob/develop/datasets.md#dataset-preparation-guide), of how to get ImageNet dataset. Look for obtaining caffe_ilsvrc12.tar.gz archive which should contain c

[2020-09-30 00:07] yangqbo commented on #1602
Yes, it is right on CPU or GPU, but I need run programs on VPN.

[2020-09-30 21:35] vladimir-dudnik commented on #1602
@yangqbo person-detection-retail-0013 validated to work on CPU, GPU and MyriadX stick with OpenVINO 2020.4 release. Please make sure you use OMZ downloader from your OpenVINO install package and not from github. If you use OMZ from github, make sure you checkout master branch and not develop branch. The master branch of OMZ on github always correspond to the latest public OpenVINO release, while d

[2020-09-30 21:44] vladimir-dudnik commented on #1560
@zeeintel model resnet-50 from caffe is not available anymore from its original location, that is why downloader can't download it. Model will be removed from Open Model Zoo in the next OpenVINO release.

[2020-10-01 06:15] veer5551 opened #1616 "FRCNN-resnet101 followed by single_human_pose_estimation: Input blob size Error"
Hello,
Its a wonderful toolkit, its amazing how multiple frameworks are brought to common platforms! Thanks for developing!
I was trying some experimentation and encountered some errors

Context:
Trying to run single_human_pose _estimation_0001 via python.
Reference:  https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/Running-single-pose-estimation-demo/td-p/1146650

According to docume

[2020-10-01 10:03] DmitriySidnev commented on #1578
@nixingyang, hi!
How did you face this problem: during execution the script or after interruption?

[2020-10-01 10:18] nixingyang commented on #1578
Hi @DmitriySidnev, this problem would occur during the execution of the program. To replicate it, you may print `self.frames_queue.qsize()` and add `time.sleep(60)` after [here](https://github.com/openvinotoolkit/open_model_zoo/blob/2020.4/demos/python_demos/multi_camera_multi_target_tracking/multi_camera_multi_target_tracking.py#L175). You will find that `self.frames_queue.qsize()` is continuousl

[2020-10-01 12:50] DmitriySidnev commented on #1578
@nixingyang, yes you are right. Could you please make a fix with your suggestion?

[2020-10-01 13:15] nixingyang commented on #1578
@DmitriySidnev Great. I have created a pull request https://github.com/openvinotoolkit/open_model_zoo/pull/1621 to fix this issue.

[2020-10-01 20:02] vladimir-dudnik commented on #1616
@veer5551 thanks for your feedback
note, single_human_pose_estimation_demo developed to be used (and is validated accordingly) with certain OMZ models. The list of models, supported by each OMZ demo, you can find in models.lst file, located at each demo folder.
The fact is that there are lot of models solving lot of different task, implemented in different frameworks and by different peoples so it

[2020-10-02 04:22] veer5551 commented on #1616
Thanks a lot for replying! @vladimir-dudnik

Agree!

I went through the list for `single_human_pose_estimation_demo` and `object_detection_ssd_async` and found some common models as well.
Also the FRCNN-resnet is working well with the `object_detection_ssd_async `demo, even though not mentioned in the list.
Need to dive into codes for both detections.

With some modifications in detector.py, i thi

[2020-10-02 04:38] snakers4 opened #1622 "Submitting a model without a dataset"
Hi!

We would like to contribute our [models](https://github.com/snakers4/silero-models).

For a number of legal reasons we are not planning to share our datasets and / or re-upload publicly available datasets (i.e. LibriSpeech derivatives).

Does this make contributing a model to your model zoo improssible?

[2020-10-02 05:46] vladimir-dudnik commented on #1622
@snakers4 please review [CONTRIBUTING.md](https://github.com/openvinotoolkit/open_model_zoo/blob/master/CONTRIBUTING.md) for terms we require to accept contribution.
Contribution not required to re-upload publicly available dataset, we ask to specify which dataset your contribution depends on and what is the dataset license.

[2020-10-02 06:17] snakers4 commented on #1622
@vladimir-dudnik

And if the dataset in question is private?
Does it imply that the contribution will be automatically rejected?

[2020-10-02 08:11] Wovchena commented on #1602
I can't reproduce the problem. I did the following on Ubuntu18:
[code]
with `openvino` as a link: openvino -> /mnt/h/i/openvino_2020.4.287/

[2020-10-02 11:02] #1578 closed

[2020-10-02 12:16] yangqbo commented on #1602
Thank you very much for your kind help! I transferred files by an FTP server, I think that maybe the arch-criminal led to the error.  And I transferred files with MobaXterm and downloaded *.xml and *.bin files later then the demos run rightly.

[2020-10-02 16:41] IRDonch opened #1625 "text_spotting_demo is broken when the input is a directory"
[code]

[2020-10-02 20:06] vladimir-dudnik commented on #1622
@yssemaev could you please review question from legal point of view?

[2020-10-05 13:22] yssemaev commented on #1622
Hi, we accept contribution according to CONTRIBUTING.md "under permissive licenses, such as MIT, Apache 2.0, and BSD-3-Clause" only. As a rule, in github repo it's mentioned which dataset was used for training and validation (public or internal). Only contribution of a model is accepted, not a dataset. OMZ's Apache 2.0 license allows various use of models including commercial or academic.

[2020-10-05 13:28] snakers4 commented on #1622
Is GPL considered to be a permissive license?

[2020-10-05 13:58] yssemaev commented on #1622
No, L/GPL implies additional restrictions like "same license", etc.

[2020-10-05 13:59] snakers4 commented on #1622
I see.
Many thanks.

[2020-10-05 13:59] #1622 closed

[2020-10-06 08:08] TranThanh96 opened #1630 "bash: ./gaze_estimation_demo: No such file or directory"
I am running the gaze_estimation_demo on ubuntu 18. And an issue occurred:
`bash: ./gaze_estimation_demo: No such file or directory` .
can you tell me how to fix this?

[2020-10-06 08:36] eizamaliev commented on #1630
Did you build it using `build_demos.sh` script? Does it exist in your directory?

[2020-10-06 08:58] vladimir-dudnik commented on #1630
@TranThanh96 you are launching application from current folder. Does it contain executable file? Hope you were able to review [Build the Demo Applications](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos#build-the-demo-applications) and [Get Ready for Running the Demo Applications on Linux](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos#get-ready-for-runnin

[2020-10-06 14:09] TranThanh96 commented on #1630
It was my fault! I did not follow carefully the instruction. Close topic!

[2020-10-06 14:09] #1630 closed

[2020-10-07 03:15] TranThanh96 opened #1634 "code + data training gaze_estimation"
as a title, can you public that?

[2020-10-07 06:17] n-mam commented on #20
Do we have a c++ dnn sample which works with openvino model files ? I am facing similar issue as highlighted in ticket #2567

[2020-10-07 09:42] eizamaliev commented on #1634
@snosov1 could you help?

[2020-10-09 07:16] snosov1 commented on #1634
Sorry, that's one of the older Caffe models that we don't intend to publish in the original format.

[2020-10-09 07:16] #1634 closed

[2020-10-09 07:21] TranThanh96 commented on #1634
how about data?

[2020-10-09 07:24] snosov1 commented on #1634
(With very rare expections) we never publish training data. There's about 167 good and bad reasons for that.

[2020-10-09 07:27] TranThanh96 commented on #1634
anyway, thank you for your efforts

[2020-10-09 14:18] vladimir-dudnik commented on #391
@Wovchena seems we may close this as done?

[2020-10-09 14:23] vladimir-dudnik commented on #894
agreed to keep existing names `as is` and do not introduce new names with upper case. close this,

[2020-10-09 14:23] #894 closed

[2020-10-09 14:32] Wovchena commented on #391
There are still some minor differences. For example `Optional. Do not show processed video.` as a help message in https://github.com/openvinotoolkit/open_model_zoo/tree/develop/demos/interactive_face_detection_demo#running
I also had an idea that we could rename it to just `show` or even abbreviate it to `-s` because gflags automatically generates option with `no` prefix.

[2020-10-09 14:36] vladimir-dudnik commented on #1293
closing this as it seems the original question was answered

[2020-10-09 14:36] #1293 closed

[2020-10-09 14:38] vladimir-dudnik commented on #1296
closing this as it seems the original question was answered

[2020-10-09 14:38] #1296 closed

[2020-10-09 14:41] vladimir-dudnik commented on #1171
@pra-dan do you have an additional questions or we can close the issue?

[2020-10-09 14:43] vladimir-dudnik commented on #1304
@rawat123 do you have an additional questions on this?

[2020-10-09 14:44] vladimir-dudnik commented on #1335
@x1aoo do you have an additional questions on this?

[2020-10-09 14:46] vladimir-dudnik commented on #1338
@smitesh-sutaria do you have an additional questions on this?

[2020-10-09 14:49] vladimir-dudnik commented on #1407
@dmitryponv do you have an additional questions on this? Note, OpenVINO 2021.1 was just release, so you may try to evaluate the latest version.

[2020-10-09 14:54] vladimir-dudnik commented on #1378
@aswin-datakalp still the issue is actual for you? Note, OpenVINO 2021.1 was just released, you might be interested to evaluate the latest release. We'll close the issue if this is not actual or no comments from you.

[2020-10-09 15:24] vladimir-dudnik commented on #1487
@zvif do you have an additional questions on this or we can close the issue?

[2020-10-09 15:26] vladimir-dudnik commented on #1500
@yuerunyu fix done in OpenVINO 2021.1 which just was released. Do you have an additional questions on this?

[2020-10-09 15:27] vladimir-dudnik commented on #1526
@hoangkhoiLE do you have an additional questions on this or we may close the issue?

[2020-10-09 15:33] vladimir-dudnik commented on #1591
@Vladislav-Denisov OpenVINO 2021.1 was just released, not available models were removed from it. I'm going to close the issue. Do you have an additional questions on it?

[2020-10-09 15:37] hoangkhoiLE commented on #1526
It 's good for me. Thank for your kind support.

[2020-10-09 15:38] vladimir-dudnik commented on #1607
@Vladislav-Denisov I'm going to close the issue. Do you have an additional questions on this?

[2020-10-09 16:02] Vladislav-Denisov commented on #1591
Thanks for your reply. There are no more questions about these models. Issue can be closed.

[2020-10-10 01:02] x1aoo commented on #1335
@maxlytkin @vladimir-dudnik thanks for your help. I made it after installed the required environment!

Thanks!
Xiao

[2020-10-10 01:02] #1335 closed

[2020-10-10 07:24] #1591 closed

[2020-10-10 07:25] #1607 closed

[2020-10-10 20:52] Daniil-Osokin commented on #1589
Hi! You may also try to decrease network input size, e.g. twice: from 256x456 to 128x228. It will require network [reshape](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/human_pose_estimation_demo/src/human_pose_estimator.cpp#L113).

[2020-10-11 06:24] zvif commented on #1487
We can close this issue. Thank you very much.

From: Vladimir Dudnik <notifications@github.com>
Sent: Friday, 9 October 2020 18:24
To: openvinotoolkit/open_model_zoo <open_model_zoo@noreply.github.com>
Cc: Zvi Figov <Zvi.Figov@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [openvinotoolkit/open_model_zoo] GT format for multi-target demo (#1487)

@zvif<https://nam06.safelinks.pro

[2020-10-14 04:54] pra-dan commented on #1171
Yeah, we are good to go 👍🏽

[2020-10-14 04:54] #1171 closed

[2020-10-14 12:28] #1625 closed

[2020-10-14 17:40] alalek commented on #94
This means that used OpenCV binaries are not from OpenVINO package (`-openvino` suffix is expected in version identifier).
Check `cv.__file__` and `cv.getBuildInformation()` to confirm that.

Don't use `sudo`. At least it drops environment variables (due to security reasons).

[2020-10-16 03:46] biyuehuang opened #1666 "Config file .YML miss "global_definitions: ../dataset_definitions.yml" on OpenVINO2021.1"
Hi, I found tool POST's configs .yml miss "global_definitions: ../dataset_definitions.yml" on OpenVINO2021.1
for example,  /opt/intel/openvino_2021.1.110/deployment_tools/open_model_zoo/tools/accuracy_checker/configs/deeplabv3.yml
or https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/deeplabv3/accuracy-check.yml
miss "global_definitions: ../dataset_definitions.yml".

Witho

[2020-10-16 09:00] eizamaliev commented on #1666
@biyuehuang you can use `-d <path/to/dataset_definitions.yml>` option in Accuracy Checker command line.

[2020-10-16 09:48] eaidova commented on #1666
Hi @biyuehuang,  please note that suggested by @eizamaliev solution works only for Accuracy Checker by itself.
 if you want use definitions file in quantization via Post Training Optimization Toolkit (POT), you should use environment variable DEFINITIONS_FILE for specifying path to definitions.

you can find more details about predefined configs usage in this [post](https://github.com/openvinotool

[2020-10-19 10:13] aswin-datakalp commented on #1378
Hi @vladimir-dudnik ,

yes will check the latest release of OpenVINO 2021.1 and revert back. This issue can be closed for now.

[2020-10-19 10:13] #1378 closed

[2020-10-20 13:17] shirish100 opened #1675 "Technical Glitch Found While Using multi_camera_multi_tracker demo."
I have used this example before I upgraded the system with the newest version of open_vino (2021.1).  The inference of the model seems to have vanished. I have attached the images for your reference. please assist since open_vino is our base for inference.
This problem seems to be repeating in spite of changing the models present in open_model_zoo for person_detection.
The image consists of code a

[2020-10-20 14:39] shirish100 commented on #1675
Previously I used to get these logs
[[TrackedObj(rect=(1002, 414, 1161, 901), label='ID 0'), TrackedObj(rect=(1273, 92, 1551, 885), label='ID 1')],[TrackedObj(rect=(1002, 414, 1161, 901), label='ID 0'), TrackedObj(rect=(1273, 92, 1551, 885), label='ID 3'),TrackedObj(rect=(1273, 92, 1551, 885), label='ID 5')]]

[2020-10-20 17:08] campos537 opened #1676 "Request Face Person model on Openvino 2021.1"
Greetings!
I would like to ask about the Face + Person model, you guys had added this model on really older versions of Openvino, but since the new version 2021.1 removes the support for older models, is there any possibility you guys add the Face + Person model converted with the new Openvino? Or at least add the original model so we can convert?

Link for reference: https://docs.openvinotoolkit.

[2020-10-20 18:33] eizamaliev commented on #1676
@snosov1 could you help?

[2020-10-20 23:52] vladimir-dudnik commented on #1675
@shirish100 I did not get what is the issue on your side? Is that demo does not detect anything?

[2020-10-21 00:29] shirish100 commented on #1675
Looks like that. The detection of person using person detection model are not seen in the logs and no bounding box is drawn in the output video.

[2020-10-21 00:37] shirish100 commented on #1675
The logs in the second comment are the logs I used to get when using open vino 2020.4 version. But with new open vino 2021.1 version and new models that are updated in open model zoo I don't see bounding box being drawn on the output video. And when I started troubleshooting I found that the person's detection seems to have got vanished. Can you help me to solve as what could be the issue that per

[2020-10-21 02:02] biyuehuang commented on #1666
Thanks @eaidova and @eizamaliev

[2020-10-21 02:02] #1666 closed

[2020-10-21 02:11] #1374 closed

[2020-10-21 05:15] shirish100 commented on #1676
Using old models with a newer version throws up some support error. And I have found no detection being detected using the new models. Is it the same with you @campos537 ?

[2020-10-21 09:06] snosov1 commented on #1676
1. I don't have the measurements at hand, but I suggest to try running 2 networks (for faces and people separately). I believe, performance-wise, it should be comparable (and provides more flexibility)
2. Actually, I don't know why the model disappeared. @vladimir-dudnik have you, guys, removed it for some reason?

[2020-10-21 09:08] vladimir-dudnik commented on #1676
@shirish100 @campos537 have you noticed [Backward Incompatible Changes Compared with 2020.4](https://software.intel.com/content/www/us/en/develop/articles/openvino-relnotes.html) section in OpenVINO 2021 release notes? In 2021.1 release decision was made to introduce backward incompatible changed in IR format, which allow support new models features. So, old models have to be rebuild with OpenVINO

[2020-10-21 09:19] Shirish-Ranoji commented on #1675
@vladimir-dudnik To fasten up my process of troubleshooting what can I do to resolve the above issue?

[2020-10-21 11:46] vladimir-dudnik commented on #1676
@snosov1 model face-person-detection-retail-0002 was deprecated in OpenVINO 2019R2 time frame.

[2020-10-21 11:50] campos537 commented on #1676
In my case i only had issues with previous versions of intel models. Which they didn't work, because of what the guys explained.

I shouldn't got problems by using the separated models, would be just easier and no need to change the current code by using the old ones.

[2020-10-21 12:06] snosov1 commented on #1676
I see you, but the thing is - the face-person model was a bit "architecturally unusual", in a sense, that it had 2 detection outputs (instead of having a 2 labels in a single detection output). So, if we are to revive it - we'll need to change/adjust the demo code on our side. To quote Louie from the Ghost Dog movie "Better you than me" =)

[2020-10-21 12:12] Shirish-Ranoji commented on #1675
@snosov1  @vladimir-dudnik  Can you please suggest me something? Should I go for the reinstallation of open_vino_2021.1?

[2020-10-21 15:50] vurusovs opened #1679 "EOF when unpacking archive after retrieving it from cache"
Looks like something in cache preparing (for faster_rcnn_resnet101_coco) went wrong, and cache contains broken archive. When I try to download model next time using prepared cache, the process breaks with EOF error:
[code]

When I try to unpack archive using `tar`, it runs into the same problem

[2020-10-26 14:01] Wovchena commented on #1675
Hi
I can't reproduce the glitch. The demo draws bounding boxes for me. I did the following:
`py "C:\Program Files (x86)\IntelSWTools\openvino_2021.1.110\deployment_tools\open_model_zoo\tools\downloader\downloader.py" --name person-detection-retail-0013,person-reidentification-retail-0288 --precisions FP16 -o C:\Users\vzlobin\Downloads\multi_camera_multi_target_tracking`

`"C:\Program Files (x86)\I

[2020-10-26 20:10] #1676 closed

[2020-10-27 06:38] Shirish-Ranoji commented on #1675
Hi,

@Wovchena @vladimir-dudnik

Thank you for the solution
The problem was with the detection model (person-detection-0202) I was using.
You can check that there are no detections with the model person-detection-0202.  I have double-checked it with this model, but there are no detections.
Can you please tell me the difference between the models? One has retail and the other doesn't. has retail at

[2020-10-27 09:03] s3298230 opened #1695 "Missing classes for model "person-vehicle-bike-detection-crossroad-yolov3-1020""
Hi,

I tried to play with the demo "object_detection_demo_yolov3_async.py" using the model "open_model_zoo/models/intel/person-vehicle-bike-detection-crossroad-yolov3-1020".

The result is NOT as I expected since most of the time it return class 2 which is *CAR* - even with the bike image, it boxed the wheel of the bike and again, predicted the bike as CAR.

Overall, I can see only 2 classes liste

[2020-10-27 11:10] Wovchena commented on #1675
Replacing https://github.com/openvinotoolkit/open_model_zoo/blob/75ec8ad4b6c4fd7fb161ae9d2c3056281b2443de/demos/python_demos/multi_camera_multi_target_tracking/configs/person.py#L4 with `trg_classes=(0,)` should fix the problem.

It looks a label for a valid detection for `person-detection-0202` is `0`, while for `person-detection-retail-0013` it's `1`. @vladimir-dudnik, should something be done a

[2020-10-27 12:09] eizamaliev commented on #1695
@LeonidBeynenson could you help?

[2020-10-27 21:24] vladimir-dudnik commented on #1695
@s3298230 could you please provide more details? What do you mean under fine tuning the model? Is original OMZ model (before fine tuning whatever it means) works correctly?

[2020-10-28 00:13] s3298230 commented on #1695
Sorry for the misleading word. I mean the original model one.
I got the model by the downloader and use the FP32 for testing

[2020-10-28 20:37] vladimir-dudnik commented on #1695
@s3298230 according to the model [description](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/person-vehicle-bike-detection-crossroad-yolov3-1020/description/person-vehicle-bike-detection-crossroad-yolov3-1020.md) it was pre-trained on COCO dataset and then fine tuned (means re-trained) on internal dataset created specifically to cover security surveillance task for per

[2020-10-29 02:26] s3298230 commented on #1695
Thanks for your clarification @vladimir-dudnik , so this cmodel works best for those 3 classes mentioned.

However, I am confusing about the backward compatibility mentioned in the document. Should it still support the remaining 80 classes from COCO dataset or the finetuning process will somehow decrease the accuracy of the other classes?

[2020-10-29 09:49] LeonidBeynenson commented on #1695
to @s3298230 :
Hi Loc Vo,

First of all, I have to say that the model `person-vehicle-bike-detection-crossroad-yolov3-1020` is intended to detect three classes "car", "pedestrian", "bike/motorbike" only. It returns output for other 77 classes for backward compatibility only, these remaining 77 classes will never be detected.
(The reason was as follows: Yolo V3 has very specific parsing of output,

[2020-10-29 10:42] edward9112 opened #1706 "Input preprocessing"
Hello,

Do I need to perform any input preprocessing for those models?
In particular, person-vehicle-bike-detection-2000 and person-detection-0200

Do images have to be exactly 256x256 for best result?

Thank you

[2020-11-01 16:21] eaidova commented on #1706
@edward9112  simple resize with bilinear interpolation to 256x256 using opencv will be enough. Models return boxes coordinates in normalized format, in [0, 1] range, so for getting result in original image scale, you need to rescale them (multiply x and y coordinates on image width and height correspondingly).

More details about expected input and output format you can find in models description:

[2020-11-02 02:40] s3298230 commented on #1695
Thanks @LeonidBeynenson for the detailed explanation.
I have some following questions that hopefully you can help answer:
1/Can I get the other 77 classes from the model by updating the code base - pulling out the remaining classes?
2/Will the accuracy of other classes (non-finetuned) decrease after finetune steps?

[2020-11-02 14:15] edward9112 commented on #1706
Alright, thank you!

[2020-11-02 17:36] #1706 closed

[2020-11-02 17:48] edward9112 opened #1729 "Suggestion for new model type"
I have a suggestion for a model for a quite common use case: people detection in an overhead camera scene.
Regular models like _person-detection-retail_ just won't detect in such circumstances but this is the best camera position for non-occlusive people counting. It would be great if you add this type of model.

Here is the image example: https://ibb.co/37Ybx5b

[2020-11-02 19:30] vladimir-dudnik commented on #1729
@snosov1 could you please review this request?

[2020-11-03 02:49] guoyejun opened #1732 "is there a model for tracking"
I just tried to look for a tracking model in the open model zoo but did not find one.  Is there a model such as SIAM for single object track? thanks.

[2020-11-03 13:32] vladimir-dudnik commented on #1732
@guoyejun we do not have SIAM object tracking model in Open Model Zoo yet. If you are interested you may try to contribute one (see [CONTRIBUTING.md](https://github.com/openvinotoolkit/open_model_zoo/blob/develop/CONTRIBUTING.md) for the requirements). Although, there is a OpenCV DNN [sample](https://github.com/opencv/opencv/pull/17647) which demonstrate how such models work.

[2020-11-04 06:42] Pulkit0810 opened #1740 "Unable to run road-segmentation-adas-0001"
Hi Team,

I am using the road-segmentation model, where I am inferencing the roads and traffic, but I am getting the below erros:

 python3 segmentation_demo.py -i traffic.mp4 -m road-segmentation-adas-0001.xml

 python3 segmentation_demo.py -i test_traffic.PNG -m road-segmentation-adas-0001.xml

I had tried this demo with FP16 and FP32, but getting the same above issue while running the demo.
Ple

[2020-11-04 14:20] cezane opened #1741 "How can I download the pre-trained models manually?"
I copied the downloader.py code and installed the prerequisites (pyyaml and requests), but when I tried to run, I got the following error:

[code]
How to manually download the models to follow the instructions in the tutorial?

[2020-11-04 14:37] cezane commented on #1741
I noticed that the `common` needed for the code is the `common.py` file. Then I created it and got success running the `downloader.py`. But when I followed the instructions to download the `squeezenet1.1` model, I got the following message:

[code]

[2020-11-04 14:48] eaidova commented on #1740
Hi @Pulkit0810
`input_info` was introduced in openvino 2020.4 if I right remember.
if you see such error, it means that version of demo, which you try to use, is not compatible with openvino version which you have.
Please update openvino package or use demo which distributed inside your openvino version (<openvino_install>/deployment_tools/opn_model_zoo/demos)

[2020-11-04 14:55] eaidova commented on #1741
hi @cezane
I believe for usage model downloader copy only single script is not enough. This script works with specific file structure which describe where model should be found and how idownloaded files should be postprocessed if need (e,g, unzip archive) and how it should be converted to OpenVINO representation.
Please clone repo and use downloader from it.

[2020-11-04 15:12] cezane commented on #1741
So, if I have to clone all the repository, it seems the script does not really download the models. It just gets the model from the `models/public` folder, which contains all the models, and, for this reason, I dont want to clone everything. This way, I would like to know how to manually download the models, as mentioned in the tutorial: "You can find and download this model manually or use the Op

[2020-11-04 15:19] eaidova commented on #1741
@cezane no, this repo does not contains models at all :) You can see it if you open [squeezenet1.1](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/squeezenet1.1) directory, here no files related with model architecture and weights, only configs in yaml format. So this script really download models from different sources.

[2020-11-04 15:25] eaidova commented on #1741
Manaul downloading a model literally means that you need to find the model and download its files by hands (from various repositories, websites, shared drives and so on, depends from model).

[2020-11-04 17:31] cezane commented on #1741
Thank you @eaidova . I cloned all the repository and got success in downloading the desired model.

[2020-11-04 17:32] #1741 closed

[2020-11-04 19:08] Pulkit0810 commented on #1740
Thankyou so much @eaidova
We had updated our openvino and now we are successufully able to run this demo and found the results.

Actually, we are trying to generate the pipeline for road segmentation (gstreamer + openvino)
And  I found, Instead of returning bounding boxes, semantic segmentation models return a "painted" version of the input image, where the "color" of each pixel represents a certa

[2020-11-04 19:48] eaidova commented on #1740
@Pulkit0810 semantic segmentation is the task of partitioning a digital image into multiple segments (sets of pixels) based on some characteristics.. Generally, it represents like classification but for every pixel (each pixel of image contains a number of class that it belongs). It is impossible to get boxes based on this approach, because semantic segmentation makes meaningful only semantic, not

[2020-11-05 05:39] Pulkit0810 commented on #1740
Thankyou, thankyou @eaidova for all.

[2020-11-05 07:42] snosov1 commented on #1729
Hey, @edward9112 !

We've considered such a use case previously. The closest we could get is the set of "crossroad" models that has a certain amount of "overhead" data in the training set. Though, on practice it still requires the camera to be somewhat higher up than you show on your example image.

That said, we could consider looking into it again. What kind of help in data collection do you imp

[2020-11-05 08:15] edward9112 commented on #1729
I can provide video footage or assist with image annotation.
Here are some more examples:
https://ibb.co/mBpwYjP
https://ibb.co/8DYXH0q
https://ibb.co/WP1D8jL

[2020-11-05 08:25] snosov1 commented on #1729
1. What volumes of data are we talking about (minutes, hours, days, weeks)?
2. What is the number of locations?
3. Will you be able to make this data public under some permissive terms (otherwise, getting it into our premises will surely take a while and might not even be possible in the end)?

As for the annotation - we have the means to do somewhat large-scale annotation with our resources (give

[2020-11-05 08:51] edward9112 commented on #1729
1. Days, probably weeks of video data
2. Could be 5-6 plus I could try to scrape some public sources as well which should add 10-20 locations
3. Not sure about this. Does sharing it via online channel for annotation only make it public? Or you add the data to some kind of public archive?

[2020-11-05 11:14] snosov1 commented on #1729
1-2. That sounds like something we can work with.

With regards to third item - the main reason I'm asking is that we, as a company, have to get data with clear terms on how we can use it. One of the simplest ways is if the dataset is public (i.e. accessible to general public, not only to us) with clear and non-restrictive terms of use/licensing. If you need to keep it between our parties - then t

[2020-11-05 14:37] spectrico opened #1747 "Willing to contribute several new image classification models"
I want to contribute several Tensorflow models to Open Model Zoo. All the models are released under MIT license.
I read the contributing guidelines and the Pull Request Requirements but it is difficult for me to understand them.
I would appreciate it if someone with OpenVINO knowledge could prepare the necessary files and make pull requests.
The models are:

- Age and Gender Recognition: [https://

[2020-11-05 18:23] edward9112 commented on #1729
Do you have a draft of such agreement? How do I make a dataset public?

[2020-11-06 05:19] snosov1 commented on #1729
No. When we purchase/acquire data - the providing company gives us its terms for review.

You host the binaries on a service of your choice and have a website with the links, description, license/terms of use. Popular examples are - [WIDERFace](http://shuoyang1213.me/WIDERFACE/), [MS COCO](https://cocodataset.org/) and many others.

[2020-11-06 06:13] Eduardo-az opened #1751 "object detection demo yolov3 async"
I've tried use my neuronal network after converting it with Open-VINO toolkit but when I ran the script I get an error.
Can you help me?
![image](https://user-images.githubusercontent.com/56844523/98332762-e3c01700-1fc4-11eb-8ae0-2798c3980ba4.png)

[2020-11-06 08:41] vladimir-dudnik commented on #1751
@Eduardo-az it seems your network is architecturally different from variant of YOLO this sample was designed to work with. You need to adopt model postprocessing implementation to your model specific.

[2020-11-08 12:33] vladimir-dudnik commented on #1487
ok, closing this

[2020-11-08 12:33] #1487 closed

[2020-11-08 12:41] vladimir-dudnik commented on #1675
@snosov1 could you please add to model descriptions some info on meaning of detected labels/classid?

[2020-11-08 12:43] vladimir-dudnik commented on #1740
@Pulkit0810 do you have additional questions or we can close this issue?

[2020-11-08 18:57] Pulkit0810 commented on #1740
Thanks @vladimir-dudnik
yes we can close this issue.

[2020-11-08 18:57] #1740 closed

[2020-11-09 05:50] snosov1 commented on #1675
@Ilya-Krylov Looks like we need to provide the mapping for labels somewhere

[2020-11-09 06:51] eizamaliev commented on #1751
@Eduardo-az how did you convert your model? Did you use `--transformation_config` option?

[2020-11-09 06:56] eizamaliev commented on #1747
Hi @spectrico,
have you tried convert your models with Model Optimizer? Or may be to run it with OpenVINO?

[2020-11-09 08:31] spectrico commented on #1747
Hi @eizamaliev,

I am able to convert the models with Models Optimizer successfully. And they run with OpenVINO inference engine.
I am attaching a sample model, which was converted using:

The prediction is called using the following command line parameters:

Model for car brand recognition:
[car-brand-recognition.zip](https://github.com/openvinotoolkit/open_model_zoo/files/5508941/car-brand-recog

[2020-11-09 11:04] edward9112 commented on #1729
Alright, I will let you know as soon as I collect the required data.

[2020-11-09 11:19] snosov1 commented on #1729
Thx! Looking forward to it!

[2020-11-11 19:38] Eduardo-az commented on #1751
Firts I converted yolov3 trained weights to tensorflow frozen model:

python3 convert_weights_pb.py --class_names classes.names --data_format NHWC --weights_file yolov3_ckpt_49.pth

Next I converted the frozen model file into IR files using OpenVINO inference engine, I only used these **flags**:

python3 mo_tf.py **--input_model** /path/to/yolo_v3.pb -**-tensorflow_use_custom_operations_config** /

[2020-11-12 14:27] eizamaliev commented on #1751
1. Since you trained yolo with single class (don't you?) you should modify `yolo_v3.json` file by specifying class number in `classes` field. May be fix anchors.
1. You should specify input shape `--input_shape [1,416,416,3]` (or whatever you got)
1. Try `--transformations_config` option instead of `--tensorflow_use_custom_operations_config`

Also, could specify which version of OpenVINO is used

[2020-11-12 16:15] gustavofuhr opened #1777 "PRNet (and maybe other models) don't appear on public model zoo."
Reading the release notes for the 2020.4 version:
https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/NEW-RELEASE-OpenVINO-toolkit-2020-4/td-p/1192267

there is new support for these models:

Reading that, it was my understanding that these models will be available in the model zoo, using downloader.py and listed in https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/pub

[2020-11-12 17:46] gustavofuhr commented on #1777
This PR seems associated: https://github.com/openvinotoolkit/open_model_zoo/pull/1055

[2020-11-12 19:49] eaidova commented on #1777
@gustavofuhr models treated as supported if it can be successfully converted and inferenced by openvino, they may be not included by OMZ due to some reasons, for example:
* have non-permissive license (Note that we accept models under permissive licenses, such as MIT, Apache 2.0, and BSD-3-Clause.)
* no pretained model publicly available in downloadable format
* required additional hard preconvers

[2020-11-12 21:05] gustavofuhr commented on #1777
Got it, thanks @eaidova.

I was just wondering that, in this case it should be useful to have a link to the implementation that was successfully converted. In this specific case of PRNet I'm considering this one: https://github.com/FengYen-Chang/PRNetOpenVINO

[2020-11-12 21:05] #1777 closed

[2020-11-14 11:27] alfawzaan opened #1789 "Predicted action not complete in the documentation of driver-action-recognition-adas-0002 (composite)"
Decoder part of the model produce and output of [bx9] vector of which each row represents logits of the actions performed. But the documentation only indicates seven actions performed. please what are the remaining two actions and the sequence of the actions in respect to the logits indexes

[2020-11-14 23:11] vladimir-dudnik commented on #1789
@snosov1 could you please take a look on this question?

[2020-11-16 06:17] snosov1 commented on #1789
Not sure what documentation you're referring to. Please, take a look at the list of actions, it has 9 entries: https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/python_demos/action_recognition/driver_actions.txt

[2020-11-16 06:17] #1789 closed

[2020-11-16 06:38] alfawzaan commented on #1789
Thanks, that was what I was looking for.

[2020-11-16 16:48] vladimir-dudnik commented on #1789
@snosov1 it might be useful to have this in model description too. it might be a link to the fail you pointed out

[2020-11-16 16:57] alfawzaan commented on #1789
@vladimir-dudnik You are very much correct. I was looking at the Readme and I also checked the OpenVINO documentation of the model, but it wasn't helpful.

[2020-11-17 15:35] IRDonch commented on #1679
I don't know why your cache got broken, but #1781 will help repair the cache after such incidents. If you still have a broken cache, could you test with the current `develop` branch to see if it's correctly repaired?

[2020-11-17 22:04] vurusovs opened #1806 "Model `yolo-v2-tiny` conversion failed"
Call of converter.py for `yolo-v2-tiny` failed with next traceback:
[code]

Pip list:
[code]

[2020-11-18 11:28] IRDonch commented on #1806
This is tensorflow/tensorflow#44467. Looks like the workaround is to downgrade to `h5py<3`. Alternatively, TensorFlow 2.4.0 will include a workaround.

[2020-11-20 10:15] vurusovs commented on #1806
Do you have a plan to make some WA in OMZ requirements.in?

If no, I will close issue and do it on my side

[2020-11-20 10:20] IRDonch commented on #1806
Unfortunately, that's not possible, because the requirements for conversion of TensorFlow models don't come from us - they come from Model Optimizer. So there's no file I could make that workaround in.

[2020-11-20 11:58] vurusovs commented on #1806
@IRDonch thank you! I'm closing the issue as resolved

[2020-11-20 11:58] #1806 closed

[2020-11-20 23:15] BoPengGit commented on #1433
Hi Vlad,

Good to see you here. Thanks for hosting Lyft competitions on Kaggle!

Do you guys have more comments on this? I feel if I train a model on images that do not allow commercial usage, I should be able to use the weights in a commercial setting if I do not use any of the images.

For example, the end product will have no images of the dataset at all, but only a model with some numbers. Isn

[2020-11-23 06:27] allenwsh82 opened #1821 "Smart Classroom Demo issue"
Hello Experts,

Anyone encounter this issue before when I tried to run the smartclass room demo ?

[ INFO ] InferenceEngine: 00007FFFFD6E4390
[ INFO ] Parsing input parameters
[ INFO ] Reading video 'classroom.mp4'
[ INFO ] Loading Inference Engine
[ INFO ] Device info:
        CPU
        MKLDNNPlugin version ......... 2.1
        Build ........... 2020.4.0-359-21e092122f4-releases/2020/4

[ ERRO

[2020-11-23 23:07] vladimir-dudnik commented on #1821
@allenwsh82 it seems model IR not corresponds to OpenVINO runtime. If you use OpenVINO 2020.4 runtime then you should not use model from 2021.1 release.

[2020-11-24 01:07] allenwsh82 commented on #1821
Hi Vladimir-Dudnik,

I am using IR file for OpenVINO 2020 release and some how I didn't see the error messages already but nothing happen, i guess it is not playing the .mp4 file, no pop out of the video windows, seems weird....

C:\Users\allensen\Documents\Intel\OpenVINO\omz_demos_build\intel64\Release>smart_classroom_demo.exe -i classroom.mp4 -m_act person-detection-action-recognition-0006.xml -

[2020-11-24 09:10] hongdd commented on #2
oh i got the same problem

[2020-11-24 09:25] hongdd commented on #2
oo i download the file ,use this url https://drive.google.com/file/d/1xeUnqkhuzGGzZKThzPeXe2Vf6Uu_g_xM/view.

u can change the id 1xeUnqkhuzGGzZKThzPeXe2Vf6Uu_g_xM

[2020-11-24 22:05] vladimir-dudnik commented on #1821
strange how it happens that ngraph related issue comes out without any changes.
If you can't playback video file on windows it might be related to absence of required media codecs. You may need to download ffmpeg DLLs for opencv, see this [thread](https://community.intel.com/t5/Intel-Distribution-of-OpenVINO/inference-engine-samples-do-not-take-image-or-video-files-as/m-p/1134761#M9384) on OpenVIN

[2020-11-24 23:59] allenwsh82 commented on #1821
Hello Vladimir-Dudnik,

Thanks for the recommendation and I had downloaded ffmpeg DLL for OpenCV previously.
One thing I notice, when I use the same classroom.mp4 video with another Interactive_Face_Detetion example, it is working perfectly.

So I am wondering if this is related to smart_classroom_demo.exe only?

![Uploading Interactive_Face_Detection_Video.PNG…]()

[2020-11-25 05:18] allenwsh82 commented on #1821
Hello Vladimir-Dudnik,

Same results even I tried on diff machine in OpenVINO 2021, any thoughts, no issue running other demos.

Thanks

[2020-11-25 15:41] IRDonch commented on #1806
I ended up adding a workaround anyway: #1831.

[2020-11-26 10:46] dxxhjk opened #1840 "How to generate an executable sample"
hi!
While i was generating executable file in `open_model_zoo/demos/object_detection_demo_yolov3_async/` with cmake under the build folder, an error occurred. It said
[code]
How to generate an executable sample, can you help me?
Thanks.

[2020-11-26 11:31] vladimir-dudnik commented on #1840
please follow instructions in [Build the Demo Applications](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos#build-the-demo-applications) section of Open Model Zoo Demos [READNE.md](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/README.md) file

[2020-11-26 13:10] engineer0204 opened #1845 "RuntimeError: get_element_type() must be called on a node with exactly one output. when running asl_recognition_demo.py"
Hi,
I got this problem when I run the asl_recognition_demo.py
I thought the problem is in "-d MYRIAD", because when I remove this everything is fine
How can I use NCS2 with "-d MYRIAD" this commend and don't get anything wrong??
thinks
[code]

[2020-11-26 14:50] vladimir-dudnik commented on #1845
@engineer0204 this model may not work on MyriadX

[2020-11-26 16:59] dxxhjk commented on #1840
What should I do after i compiled opencv and openvino? I cloned codes from `https://github.com/openvinotoolkit/open_model_zoo` but i couldn't find `deployment_tools/bin/setupvars.sh` anywhere. What dose `<INSTALL_DIR>` mean? opencv, openvino or open_model_zoo?
Looking forward to your reply, thanks.

[2020-11-27 00:01] engineer0204 commented on #1845
Hi,
where can I fine a list for working on MyriadX
I find this [Demos that Support Pre-Trained Models](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/README.md), but I can't see any information about asl_recognition_demo
btw. the "single-human-pose-estimation-0001" is actually doing well on MyriadX, but it says it's not Supported in the list.

[2020-11-27 09:35] vladimir-dudnik commented on #1840
@dxxhjk Open Model Zoo demo instructions provided for Open Model Zoo distributed with OpenVINO binary package. It is expected that one who decide to build everything from sources on his own - know what he is doing.

There is no any magic in these setupvars scripts (.SG for linux and .BAT for windows). They basically set up necessary environment variables, which help to build and run OpenVINO based

[2020-11-27 09:53] NSVR57 opened #1849 "[Urgent]Value error in object_detection_demo_yolov3_async.py"
receiving the following error when i am trying to execute object_detection_demo_yolov3_async.py .
My command:

`!python3 object_detection_demo_yolov3_async.py -m '/home/u50737/model/FP16/yolov3New.xml' -i '/home/u50737/Object_detection/cars_1900.mp4'`

[code]

[2020-11-27 09:55] vladimir-dudnik commented on #1845
@engineer0204 thanks for notice on single-human-pose-estimation-0001, we need to update info

@moslex FYI

[2020-11-27 09:58] vladimir-dudnik commented on #1849
@NSVR57 you may see the list of models supported by each demo in [models.lst](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/python_demos/object_detection_demo_yolov3_async/models.lst) file and I do not see yolov3New listed there

[2020-11-27 10:01] NSVR57 commented on #1849
its Yolov3 trained on pytorch and converted to ONNX.  is thins wont work ?

[2020-11-27 10:08] vladimir-dudnik commented on #1849
@NSVR57 it may work or may not, The fact is that the list of models what we have validated demo on is shown in [models.lst](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/python_demos/object_detection_demo_yolov3_async/models.lst). If demo does not work with your model, you may need to dive into details to find how your model differ from models we support in this demo and once

[2020-11-27 10:28] eaidova commented on #1849
@NSVR57 it depends from do you have included postprocessing (bbox decoding and nms) in your model or not.
If the output format is the same like in caffe and tf (YoloRegion layer is the final), then demo should work, otherwise not.
As I know in onnx model version is output has different format, it is the reason wht you see the error and our demo is not suitable.
We will be glad to review  your chan

[2020-11-27 10:41] NSVR57 commented on #1849
bbox decoding and nms is not included in the model. i am still trying to figure it out the post-processing for my case

[2020-11-28 10:42] engineer0204 opened #1852 ""malloc(): unsorted double linked list corrupted" problem on raspberry pi4 when I run the C++ demo smart_classroom_demo"
when I run the C++ demo smart_classroom_demo on Ubuntu it's working well,
but when I run the C++ demo smart_classroom_demo on raspberry pi4,
I got the error message "malloc(): unsorted double linked list corrupted"
I want to know how to solve this problem.
thanks
[code]
----------------------------------------------------------------------------------------
btw. on Ubuntu it's working well
[code]

[2020-11-29 16:24] vladimir-dudnik commented on #1852
@terfendail could you please check this on RasperryPi board and OpenVINO 2021.1?

[2020-11-30 07:38] eizamaliev commented on #1849
@NSVR57 could you print output layers parameters from IR?

[2020-11-30 10:30] Seph85 opened #1855 "object_detection_demo_ssd_async.py models list"
In the models list attached to this demo there is a voice
person-detection-????
However if I try to use the **person-detection-action-recognition-0006** an error occurs.
It says `unsupported model outputs`

[2020-11-30 10:46] vladimir-dudnik commented on #1855
@Seph85 that is correct. Regular expresion person-detection-???? expanded to person-detection-0106/0200/0201/0202 models

[2020-11-30 10:48] #1855 closed

[2020-11-30 10:48] Seph85 commented on #1855
Thanks for the clarification

[2020-11-30 16:51] #411 closed

[2020-12-01 17:15] terfendail commented on #1852
I've reproduced the issue using OpenVINO 2021.1 for Raspbian and native compilation of smart_classroom_demo. Going to investigate it further

[2020-12-01 22:25] engineer0204 commented on #1852
thank you guys
Let me know if you need any further test or any infomation that i could offer

[2020-12-02 02:39] thancaocuong opened #1872 "confusing about RGB and BGR input"
Hi, I'm so confusing about the RGB and BGR mean and scale value. Suppose I have model trained with RGB order, and the input is zero centered by dividing by 255, then subtract mean [0.485, 0.456, 0.406] and scale by std [0.229, 0.224, 0.225]. So when run optimizer, I use the following command
[code]
So is it correct, I mean I use mean value 255 * mean and std is 255 * std. It's from normalized_imag

[2020-12-02 06:10] eaidova commented on #1872
@thancaocuong why do you think that your actions is not correct?
Usage BGR channels order and mean scale during model conversion is just a recommendation (our demos assume that model has bgr as input color format and no mean/scale performed on data). If you do not plan to use demos, then you can keep original preprocessing and model also will work with RGB and normalization performed on data.

reg

[2020-12-02 06:31] thancaocuong commented on #1872
@eaidova  thank you. That's exactly that I want to know.

[2020-12-02 06:31] #1872 closed

[2020-12-02 12:25] terfendail commented on #1852
@ilya-lavrenov Could you please share your thoughts on this?

[2020-12-02 13:38] engineer0204 commented on #1852
In my opinion maybe it's because of the 32-bit raspbian OS.
It's too small to memory allocation or what. sorry I'm not good at it.

[2020-12-03 08:48] pingchesu opened #1880 "About the classes of the person-vehicle-bike-detection-crossroad-0078"
Based on the description of the person-vehicle-bike-detection-crossroad-0078, this model will predict Vehicle, Pedestrain and Bike. It's seems that the number of classes are 3. However when I check this file [person-vehicle-bike-detection-crossroad-0078.prototxt](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/person-vehicle-bike-detection-crossroad-0078/person-vehicle-b

[2020-12-03 09:02] eaidova commented on #1880
@pingchesu the number of valid classes is 3  (1- person, 2 - vehicle, 3 - bike). 0 class is background, it is not visible for user in the final prediction, it is the reason why we do not take it into account.

[2020-12-03 09:19] vladimir-dudnik commented on #1852
@engineer0204 the issue might be related with the fact that OpenVINO RaspberryPi package built by cross-compilation tools, not native one (although versions of gcc are the same). And then, when you build application by native tools and link with OpenVINO libraries built by cross-compiler tools, there are some runtime issues. We are investigating this.

@asuhov FYI

[2020-12-03 09:53] eaidova commented on #1880
@pingchesu we update model description, thank you for your note!

[2020-12-03 09:59] pingchesu commented on #1880
@eaidova Really appreciate for answering my question!!!

[2020-12-03 09:59] #1880 closed

[2020-12-03 13:30] NSVR57 commented on #1849
Hi @eizamaliev

--transformation_configs is not for mo.py or mo_onnx.py. getting below error.
[code]

[2020-12-03 13:34] NSVR57 commented on #1849
@eizamaliev
I think that Json is for tensorflow. but my model in onnx trained on pytorch

[2020-12-03 21:25] vladimir-dudnik opened #1888 "PR 1793 breaks input from camera support in action_recognition demo"
After https://github.com/openvinotoolkit/open_model_zoo/pull/1793 can't specify input from camera

@Wovchena FYI

[2020-12-04 07:46] anzhella-pankratova commented on #1888
In https://github.com/openvinotoolkit/open_model_zoo/pull/1793 the camera input does not convert to int type, so the capture fails to open it.
This issue is fixed in https://github.com/openvinotoolkit/open_model_zoo/pull/1848, there the input reading is rewritten.

[2020-12-14 02:56] ytfksw opened #1912 "Can python_demos/object_detection_demo_ssd_async run ssd_mobilenet_v2_coco and ssdlite_mobilenet_v2?"
`ssd-resnet34-1200-onnx` is included in [python_demos/object_detection_demo_ssd_async/models.lst](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/python_demos/object_detection_demo_ssd_async/models.lst), but the other ssd models are not.
Are these supported?

It does not include ssd_mobilenet_v2_coco and ssdlite_mobilenet_v2, which are important models for mobile devices.

Mode

[2020-12-14 10:03] anzhella-pankratova commented on #1888
@vladimir-dudnik After merging https://github.com/openvinotoolkit/open_model_zoo/pull/1848 it works fine, I checked the demo.

[2020-12-14 11:08] vladimir-dudnik commented on #1912
object_detection_demo_ssd_async should be able to work with all models which have SSD type output. Thanks for notice, we will validate demo with these models and update models.lst file.

Note, in OpenVINO 2021.2 release, which is coming soon, we have modified object detection demo, by joining support for different object detection models into one application (one for C++ and another one for Python

[2020-12-15 01:32] felipesanmartin opened #1917 "Convert YOLACT to OpenVINO"
Hi everyone, I have been trying to convert the YOLACT model to OpenVINO using the tools (downloader.py and converter.py) and the PR pushed by @eaidova, but I have many errors.
I have changed the versions of PyTorch and OpenVINO, the last configuration I tried was OpenVINO 2020.3.1 and PyTorch 1.5.0 getting the following error:

`[ ERROR ]  Shape is not defined for output 0 of "544".
[ ERROR ]  Can

[2020-12-15 07:27] eaidova commented on #1917
Hi @felipesanmartin, we tested model conversion with openvino 2021.1 and higher, pytorch 1.5 is fine. it is possible that that your openvino version does not fully support all necessary layers for performing model conversion.
Could you please try openvino 2021.1?

[2020-12-15 07:29] ytfksw commented on #1912
@vladimir-dudnik
Thank you so much for your prompt response!

It's fascinating to me that in the OpenVINO 2021.2 release, the object detection demo will become a unified interface!

[2020-12-15 09:33] mowkee commented on #1547
mystic123's code is buggy and it doesn't work and the project is abandoned.

[2020-12-15 11:03] #1888 closed

[2020-12-15 16:07] felipesanmartin commented on #1917
I could converter the model using OpenVINO 2021.1, thanks a lot @eaidova!

[2020-12-15 16:07] #1917 closed

[2020-12-16 16:37] IRDonch commented on #1304
Closing due to inactivity.

[2020-12-16 16:37] #1304 closed

[2020-12-16 16:38] IRDonch commented on #1147
Closing due to inactivity.

[2020-12-16 16:38] #1147 closed

[2020-12-16 16:39] IRDonch commented on #1338
This model has now been added to OMZ, so this should no longer be relevant. Closing.

[2020-12-16 17:21] IRDonch commented on #1500
Closing due to inactivity.

[2020-12-16 17:21] #1500 closed

[2020-12-16 17:24] #1602 closed

[2020-12-17 06:48] UnaNancyOwen opened #1929 "Where is a demo of human pose estimation with EfficientHRNet model?"
Where is a demo of human pose estimation with new EfficientHRNet model?
[human_pose_estimation_demo](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/human_pose_estimation_demo) does not seem to support those models.

* [models/intel/human-pose-estimation-0002](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/human-pose-estimation-0002)
* [models/intel/

[2020-12-17 07:17] eaidova commented on #1929
@UnaNancyOwen please use python demo version

[2020-12-17 07:29] UnaNancyOwen commented on #1929
thanks!

[2020-12-17 07:29] #1929 closed

[2020-12-17 07:37] alfawzaan opened #1930 "action-recognition-0001 action list link does not specify/contain the actions output by the model."
The action-recognition-0001 decoder referenced a link that does not list, specify or contain the action that the model produces as logits. Also if attended to, please kindly list them in the order in which the model output its logits. You can access the link to the model documentation [here](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/action-recognition-0001/descript

[2020-12-17 09:52] vladimir-dudnik commented on #1930
@alfawzaan have you noticed in model description reference to kinetic-400 dataset for the list of actions, model was trained to detect?
`Please refer to the kinetics dataset specification to see list of action that are recognised by this composite model.`

[2020-12-17 11:17] alfawzaan commented on #1930
No, please kindly provide me with the link

[2020-12-17 13:06] IRDonch commented on #986
All demos use the camera index now.

[2020-12-17 13:06] #986 closed

[2020-12-17 13:13] vladimir-dudnik commented on #1821
@allenwsh82
I do not have issue to run smart class room demo with OpenVINO 2021.2, which was just released, using parameters below:
smart_classroom_demo.exe -i classroom.mp4 -m_act person-detection-action-recognition-0005.xml -m_fd face-detection-retail-0004.xml -m_lm landmarks-regression-retail-0009.xml -m_reid face-recognition-mobilefacenet-arcface.xml

![smart_classroom_screenshot](https://user

[2020-12-17 13:18] vladimir-dudnik commented on #1930
The link to [Kinetic-400](https://storage.googleapis.com/deepmind-media/Datasets/kinetics400.tar.gz) dataset is the only link we have.

[2020-12-17 13:23] alfawzaan commented on #1930
wow, we will need to have the list of the first 400 actions so that we can actually the action that was predicted.

[2020-12-18 11:15] vijayky88 opened #1937 "can not use model 2018 in openvino version 2021 and no was to convert"
Hi,
earlier i was using **face-reidentification-retail-0095** for openvino version 2019.  now i wanted to switch openvino 2021 version but i can t use the above model generated for openvino-2018. Can you suggest me any workaround so that i can use that model in open vino version 2021.

Thanks
Vijay

[2020-12-18 11:58] IRDonch commented on #1363
I believe this is no longer relevant. The unified object detection demo will always force the batch size to 1, so it will work regardless of what the input model's batch size is.

[2020-12-18 11:58] #1363 closed

[2020-12-18 17:04] vladimir-dudnik commented on #1937
there is no way to use old IR models with latest 2021 OpenVINO runtime. We are working on getting model back to release.

[2020-12-19 08:16] vladimir-dudnik commented on #1679
@vurusovs do you have additional questions or we can close this issue?

[2020-12-19 22:31] #1679 closed

[2020-12-19 23:06] francoamato opened #1942 "Can not use dnn opencv module with openvino inference engine"
Hi to all,
I've just downloaded and installed the last  windows release of OpenVino ( OpenVino version 2021.2.185 ).
I would like to use it to develop a vehicles and license plates detector using openvino inference ( I use Qt for GUI development ).  In my project I linked about the opencv libraries/dll included in the openvino directory ( OpenCV version 4.5.1). Seems the **dnn** module is not work

[2020-12-21 19:27] vladimir-dudnik commented on #1942
@alalek @l-bat could you please take a look?

[2020-12-21 22:12] vladimir-dudnik commented on #1942
@francoamato I assume you use vehicle-license-plate-detection-barrier-0106 from OpenVINO 2021.2 release. Note, old models IR (pre IR v10) might not work with the latest OpenVINO runtime.

[2020-12-22 01:20] francoamato commented on #1942
@vladimir-dudnik Thank you for the information. Please can you send me a model that works with OpenVINO 2021.2 to detect vehicles and license plates? Thanx

[2020-12-22 08:00] jpapon opened #1944 "human-pose-estimation-0004 architecture openpose does not run"
The new human-pose-estimation-000(2-4) models do not work when architecture is set to openpose.
They run when architecture is set to associative embedding, but the accuracy is very poor - much worse than the human-pose-estimation-0001 model.
Given that they have a higher mAP, I think there must be some bug here.

When I run the demo with `python human_pose_estimation.py -i video.avi -m human-pose-

[2020-12-22 08:48] vladimir-dudnik commented on #1942
@francoamato you can download OpenVINO 2021.2 models by yourself using Open Model Zoo model [downloader](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/downloader/README.md).

[2020-12-22 09:24] vladimir-dudnik commented on #1944
@jpapon the python human_pose_estimation_demo updated in OpenVINO 2021.2 in order to support both old [human-pose-estimation-0001](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/human-pose-estimation-0001/description/human-pose-estimation-0001.md) model, which according to the model description, based on the OpenPose approach) and new human-pose-estimation models, which

[2020-12-22 13:24] francoamato commented on #1942
@vladimir-dudnik I've just downloaded the model age-gender-recognition-retail-0013.[xml,bin] and the problem is still there. It seems like it's not possible to load ANY openvino ir models with the last release of openvino and opencv.
It works loading non openvino ir models. Any concrete help please?
Thanx

[2020-12-22 20:23] vladimir-dudnik commented on #1942
@francoamato I do not know what kind of issue you have with this, I've just copy-pasted the lines below into OpenCV colorization sample, build and run it up to readNetFromModelOptimizer call. It can successfully read model.
Have you noticed that readNetFromModelOptimizer API expect cv::String but you specified std::string?

    cv::String topo = "C:\\Temp\\models\\intel\\vehicle-license-plate-dete

[2020-12-22 20:34] francoamato commented on #1942
@vladimir-dudnik What version of OpenVINO and OpenCV did you use to do the test you mentioned?

[2020-12-22 22:00] vladimir-dudnik commented on #1942
the latest release - OpenVINO 2021.2.185

[2020-12-23 02:06] laifuchicago opened #1950 "How can I use webcam(IntelRealsense) as input instead of mp4 file"
To Author:
I am currently using recorded mp4 file as input to do the vehicle detection on Windows 10. However, if I want to use your IntelRealsense camera D430i as the input. Do you have any idea? In Linux we use dev/video0 as input. How about Windows?
I use -i cam but the error occured
![ERROR1](https://user-images.githubusercontent.com/8537280/102957321-1ee6bd00-4515-11eb-9546-c43778750b9b.PNG)

[2020-12-23 14:40] vladimir-dudnik commented on #1950
That question not related to OpenVINO or Open Model Zoo, I would recommend to ask that question on OpenCV repo/forum.
@alalek FYI

[2020-12-28 13:43] OrysB opened #1966 "speech_recognition_demo.py finding correct parameters for profile.yml"
Dear @AlexeyKruglov ,

thanks for this awesome example!
I am trying to get it running with a german language model, but unfortunately the results are scrambled. I think due to the profile.yml. After setting the right alphabet and changing the frame_stride_seconds it got better, but it's still not very applicable. The example profile.yml file you provide is foruse with deepspeech models version 0.8

[2020-12-30 01:08] avitial commented on #1950
@laifuchicago depending on which OpenVINO demo/sample you are trying you may have to modify the source code to use appropriate device. For example in _object_detection_demo_ssd_async_ C++ demo, in _main.cpp_ edit line 88 `cap.open(0)` from 0 to 1/2/3/etc. depending on which one is the RGB device of the RealSense camera, then rebuild demo.
[code]

[2020-12-30 11:50] jsn5 commented on #1917
@felipesanmartin Hi, did you try converting the default model trained on coco dataset with 80 classes or custom data with different number of classes? I'm trying to convert a yolact_restnet50 model trained on custom data with 1 class, but fails at the onnx conversion part.

[2020-12-31 21:51] alfawzaan commented on #1930
Any solution to this issue? Because without the action output list, the model seems to be redundant. I think what might help is if there is someone who has access to previously executed projects, perhaps they might have access to the list and can share with us.

[2021-01-01 11:52] #1966 closed

[2021-01-03 09:32] sonebu opened #1968 "are yolact-resnet50-fpn-pytorch default scale values wrong in the yml?"
The model.yml for the yolact-resnet50-fpn-pytorch gives mean: [123.675,116.28,103.53] and **scale: [51.525,50.4,50.625]** [here](https://github.com/openvinotoolkit/open_model_zoo/blob/338630987b403a6981d03ab6d04c2d5ad367793a/models/public/yolact-resnet50-fpn-pytorch/model.yml#L100). I'm assuming this is for RGB.

The scale values here don't match with

1) those provided in the description for the

[2021-01-04 17:14] eaidova commented on #1968
@sonebu thank you for your note, yes, looks like in model.yml we have incorrect values.
Model assumes RGB channels order, in preprocessing the author normalize image, then reverts channels order (that is why they written in BGR), we prefer to do it in opposite order. Also like it comes from backbone, we use standard torchvision normalization values instead provided here. (I do not remember why I s

[2021-01-05 07:54] sonebu commented on #1968
I just generated models with both and tested them on the COCO validation set (5k images, 2017) using the openvino accuracy_checker (ms_coco_mask_rcnn_short_80_classes_without_background) :

[51.525,50.4,50.625] scale values version gives:
AP@masks: 22.78%
AP@boxes: 30.02%

[58.395,57.12,57.375] scale values version gives:
AP@masks: 22.82%
AP@boxes: 30.00%

so I guess there's not much difference af

[2021-01-06 03:12] xRay2016 opened #1969 "What should I do to preprocess the image from [0-255] to [0.0-1.0] when post training optimization model?"
I am doing quantization for my own model. Because I train it with pytorch, its input should range from [0,0-1.0] when using the accuracy-cheker.

But I can't find suitable preprocess method to change the image from [0-255] to [0.0-1.0].

Anyone can help me ?

[2021-01-08 16:08] eaidova commented on #1969
@xRay2016 in Pytorch changing pixel range is a part of ToTensor operation (it is pretty simple, just divide input data on 255), while in other frameworks it is a part of normalization, so I do not see the problem to perform data scaling with normalization
this preprocessing described in accuracy checker docs:
* normalization - changing the range of pixel intensity values.
  `mean` values which wil

[2021-01-09 07:18] xRay2016 commented on #1969
@eaidova OK, I understand how to do that, thank you very much!

[2021-01-11 09:10] eaidova commented on #1968
@sonebu thank you again, we update our configuration

[2021-01-11 09:11] #1968 closed

[2021-01-11 09:12] eaidova commented on #1969
@xRay2016 do you have any additional questions or can we close this issue?

[2021-01-11 13:01] #1969 closed

[2021-01-12 07:18] CVUsers opened #1975 "Openvino inference speech model"
Hello, I see that you mentioned in other issues that the deep speech model has been deployed to omz. I used: deployment_ tools/demo/demo_ speech_ recognition.sh , downloaded the model of deep speech: XML bin, CFG, FST and other models. I see that you are using CFG and FST (the model is too large). Is there any parsing method for XML and bin, just like Yolo's reasoning parsing method for XML bin? I

[2021-01-12 09:37] vladimir-dudnik commented on #1975
@CVUsers not sure I completely understand your question. Please note, OpenVINO has two speech recognition models, Kaldi models, which have a separate demo in OpenVINO (you may find it under <OpenVINO install root>/data_procesing/audio/speech_recognition and with Open Model Zoo we also provide some public speech recognition models and associated [demo](https://github.com/openvinotoolkit/open_model_

[2021-01-14 08:32] Welyweloo commented on #94
Hello @alalek,
I've been trying to understand your previous message.
Where should I add that `-openvino` suffix please? I am having the same issue.

[code]

[2021-01-15 14:52] renziver commented on #1944
Hi @vladimir-dudnik, I kinda agree with the point taken by @jpapon that although it was stated in the documentation that the EfficentHRNet models have higher mAP than the OpenPose model, it seems like OpenPose still perform better on some initial testing that I have conducted.
OpenPose
<img width="1267" alt="Screen Shot 2021-01-15 at 10 44 42 PM" src="https://user-images.githubusercontent.com/1349

[2021-01-15 15:35] druzhkov-paul commented on #1944
@renziver Thanks for bringing this up.

A few notes on this:

- Lightweight OpenPose model (human-pose-estimation-0001) is still available, if you find it more accurate for a particular use case, you may still use it.
- Cross domain transferability of models is a tricky topic. Docs are referring to the metrics obtained on MS COCO val AP for the models trained on the training subset of the same dat

[2021-01-19 04:28] renziver commented on #1944
Thanks @druzhkov-paul , just another question, why is the human-pose-estimation-0001 has lower latency (68ms) despite having 15.435 GFlops which is higher than human-pose-estimation-0004 (385.2ms) 14.3707 Gflops?

[2021-01-19 09:18] druzhkov-paul commented on #1944
@renziver

First, FLOPs are given for networks that are run via OpenVINO and you can estimate the pure inference time using the benchmark app. At the same time, demo application does not only do the forward pass through the network, but also some post-processing and visualization, that affect the overall latency/throughput. Post-processing for the two types of networks has different cost: both out

[2021-01-20 03:45] #1912 closed

[2021-01-20 07:28] dedoogong opened #2004 "How to set multi input meta info for POT json config?"
Hi I want to convert my model which need to be fed 2 kinds  of images (3ch RGB image and 1ch depth image).
mymodel is trained with pytorch and it needs 2 tensors like 'rgb' and 'sparse'( forward(self, rgb, sparse): ... )
I wrote a config file for POT as below;
[code]
I put 300 jpg rgb images and 300 depth png files into "rgb" and "sparse" folder, respectively.

After run pot command, it shows an e

[2021-01-20 08:01] eaidova commented on #2004
Hi @dedoogong,

multiple inputs supported only with identifiers guided by annotation. segmnetation_mask_source or additional_data_source used only in annotation for loading labels and ignored during input data reading.
for solving issue, you need to create annotation converter, which will create you data representation where identifier is list with 2 images (no need in providing gt data, it can be

[2021-01-20 09:51] dedoogong commented on #2004
Hi, according to your help, I modified it little bit as below;

[code]

but this time,  the error is similar but different target(RGB), not (SPARSE).
: Suitable data for filling layer rgb not found

I put all *.jpg and *.png files into the same folder(/home/user/mymodel/rgb) but failed.

Even I tried with the original structure(rgb/sparse folder separately), the result was same.

Also I tried as b

[2021-01-21 02:49] odefiao opened #2007 "The inference time of Super Resolution C++ Demo?"
Hi,  I am trying the Super Resolution C++ Demo, single-image-super-resolution-1033
the openvino version is 2021R01, CORE i78th
but, i got the inference time is : **100 ms**.
It's too slow, can you tell me the inference time during your test?
Thank you and look forward to your reply.
[code]

[2021-01-21 03:36] dedoogong commented on #2004
Hi, I changed further and succeeded in loading rgb but failed in loading depth(sparse).
'''
{
	"model": {
			"model_name": "DnD_DefaultQuantization",
			"model": "/home/lee/DnD/FP32/DnD_ResNet34_480x640_4batch_3ch(rgb)_1ch(sparse).xml",
			"weights": "/home/lee/DnD/FP32/DnD_ResNet34_480x640_4batch_3ch(rgb)_1ch(sparse).bin"
		},
	"engine": {
			"launchers": [
				{
					"framework": "dlsdk",
					"

[2021-01-21 05:30] dedoogong commented on #2004
I found that mask png file is the one of the network inputs for inference, not training. So, depth file is also used as input, not as GT annotation. I saw ***batch_annotation._mask_path*** variable points to the png file correctly

[2021-01-21 06:37] renziver commented on #1944
Thanks @druzhkov-paul, really helpful. Are all the `human-pose-estimation-000x` models trained on the same dataset? COCO Keypoint?

[2021-01-21 06:45] renziver commented on #1944
Thanks @druzhkov-paul, I think that it's really on the 2nd point you mentioned above about cross domain transferability. It seems like it performs poorly on high angle view i.e. cctv, etc. Do you have any plans on releasing the training code for your EfficientHRNet implementation? The OpenVino training extension only supports Lightweight OpenPose as of the moment.

[2021-01-21 09:31] dedoogong commented on #2004
Below is the full log :

lee@ubuntu:~/DnD$ pot -c DnD_INT8_Default_CPU_v3.json --log-level DEBUG --progress-bar
01:20:35 accuracy_checker WARNING: /opt/intel/openvino_2021/deployment_tools/tools/post_training_optimization_toolkit/compression/algorithms/quantization/optimization/algorithm.py:42: UserWarning: Nevergrad package could not be imported. If you are planning to useany hyperparameter optim

[2021-01-21 14:00] vladimir-dudnik commented on #2007
OpenVINO 2021.2.185 internal performance tests show data like 7..8 FPS on Core i7-8700 CPU for single-image-super-resolution-1033 for FP32 IR, 9.6 FPS for FP16 on iGPU and 13..16 FPS for INT8 on the same CPU

[2021-01-22 14:33] druzhkov-paul commented on #1944
@renziver, yes we have plans to release the training code for this kind of models.

[2021-01-23 11:09] xiaoweiChen opened #2015 "ICDAR dataset question"
I want to test the accuracy of text-recognition, text-detection and text-recognition.

And I download the ICARD dataset from [here](https://rrc.cvc.uab.es/?ch=2&com=downloads).

When I run the command:
`accuracy_check -c models/intel/text-recognition-0012/accuracy-check.yml -s /home/g/xiaowei/dataset/ICDAR/Word-Recognition-2013-edition -m intel/text-recognition-0012/FP16 -d tools/accuracy_checker/

[2021-01-26 08:31] alixiu opened #2018 "Does openvino currently support yolov1?"
I cannot find yolov1 model in openvinotoolkit/open_model_zoo/models/public,
so I generate a tensorflow model `yolov1_frozen_graph.pb` with `https://github.com/Robinatp/YOLO_Tensorflow/tree/master/YOLO_V1/YOLOv1-Tensorflow-detect-export`.
Then run `python3 $OPENVINO_HOME/model_optimizer/mo_tf.py
 --input_shape=[448,448,3]
 --input=input
 --transformations_config=$mo_dir/extensions/front/tf/yolo_v1.

[2021-01-26 09:02] eaidova commented on #2018
@alixiu as I can see yolo v1 conversion tested only via darknet -> darkflow path
 please follow MO instruction for getting yolo v1 IR:
https://docs.openvinotoolkit.org/latest/openvino_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_YOLO_From_Tensorflow.html

[2021-01-26 10:06] alixiu commented on #2018
Besides, I successfully convert the Caffe model of yolov1 to openvino IR including .xml, .bin, .mapping. But when I perform inference, the problem `[benchmark_app] ncGraphAllocate:1988 The graph file is bigger than the device memory` arises.

Thanks very much for your reply, I successfuly generate the pb file of youlov1 with `flow --model cfg/v1.1/yolov1.cfg --load darknet/weights/yolov1.weights -

[2021-01-26 10:07] alixiu commented on #2018
Besides, I successfully convert the Caffe model of yolov1 to openvino IR including .xml, .bin, .mapping. But when I perform inference, the problem `[benchmark_app] ncGraphAllocate:1988 The graph file is bigger than the device memory` arises.

[2021-01-26 10:11] eaidova commented on #2018
@lazarevevgeny @andrei-kochin  could you please take a look on issue with yolo v1 tf conversion?

@alixiu Which device do you use for caffe converted model inference? Could you please try CPU?

[2021-01-26 10:24] alixiu commented on #2018
The aboving problem arises when I peform the inference of caffe model on NCS2. I successfuly peform the inference on CPU.

[2021-01-26 11:19] edward9112 commented on #1729
Hi @snosov1

I have collected the dataset, it's around 25GB of video footage with motion in it. Many scenes and camera positions. The average resolution is 640x360px.

Would that be sufficient?

[2021-01-26 11:23] snosov1 commented on #1729
Hey, @edward9112 !

Great news! The spec sounds great - we'll need to execute some experiments to see what we can achieve with it, though!

Please, refer any questions you might have with regards to sharing the data to @yssemaev . Once this is figured out and we can access the data - we'll plan the experiments accordingly.

[2021-01-26 12:13] edward9112 commented on #1729
Awesome!

@yssemaev can I send you the data sharing agreement draft? If so, can you provide your contact/email?

[2021-01-26 12:47] yssemaev commented on #1729
@edward9112, please contact me directly by email: yuri.semaev at intel.com to discuss details

[2021-01-27 15:47] felipesanmartin commented on #1917
Hi @jsn5, sorry for the lateness of my answer. I converted a modified version of yolact, using 1 class and mobilenet-v2 as backbone. Basically, I downloaded the model using the utility from this repo  and modified some files, such as 'data/config.py', 'backbone.py' and 'yolact.py'. Also, I had to modify a yml file and 'model.py'. I don't remember the specific procedure, but it's not so hard. I'm g

[2021-01-28 08:49] dedoogong commented on #2004
I modified openvino code little bit to feed 2 inputs and make openvino recognize it correctly.
Anyway, now I run quantization by python API instaed of pot tool CLI.
it passes the input error now but it takes super long time (over 1 week or maybe endless? ) to run accuracy check step.
Is there a threshold or criteria to stop it early or forcefully?

Thank you!

[2021-01-28 12:33] InzamamAnwar opened #2029 "Horizontal Text Detection on Myriad"
Hi,

I am trying to compile `horizontal-text-detection-0001` for myriad using the below command.
[code]

But I am having the following **warning** and the model is not being converted to blob file. Have anyone encountered this
problem or know solution for this?

[code]

[2021-01-28 13:00] vladimir-dudnik commented on #2029
@InzamamAnwar this model did not work on MyriadX during validation of OpenVINO 2021.1 and 2021.2, So it might be not supported on MyriadX.

[2021-01-28 13:13] InzamamAnwar commented on #2029
@vladimir-dudnik thank you for clarification. Do you have some reasoning behind it for not working with myriad specially? Also is there any pre-trained model available for getting only bounding boxes for text in images. As in case of `text-detection-*` we get linkages and not bounding boxes.

[2021-01-28 14:01] vladimir-dudnik commented on #2029
@InzamamAnwar most probably model does not work on MyriadX because some of layers not implemented. It is better to ask details on OpenVINO github.

OMZ also contain public [ctpn](https://github.com/vladimir-dudnik/open_model_zoo/tree/master/models/public/ctpn) text detection model, we do not have OMZ demo for it yet, but this should work on MyriadX.

[2021-01-28 14:21] InzamamAnwar commented on #2029
Thank you for quick responses.

[2021-01-28 14:21] #2029 closed

[2021-01-29 09:05] dedoogong opened #2036 "Failed to convert COCOSNET Demo!"
Hello,
I want to run cocosnet demo with command like

python3 image_translation_demo.py \\
    -d CPU \\
    -m_trn <path_to_translation_model>/cocosnet.xml \\
    -is <path_to_semantic_mask_of_image>/input_mask.png \\
    -ri <path_to_exemplar_image>/reference_image.jpg \\
    -rs <path_to_exemplar_semantic>/reference_mask.png

As I need the IR files to run it and there's no pre-converted files,

[2021-01-29 10:32] dedoogong commented on #2036
samething happend even when I run the provided way of using converter.py as below;

C:\Program Files (x86)\Intel\openvino_2021.2.185\deployment_tools\tools\model_downloader>python converter.py --name cocosnet
========== Converting cocosnet to ONNX
Conversion to ONNX command: "C:\Program Files\Python36\python.exe" "C:\Program Files (x86)\Intel\openvino_2021.2.185\deployment_tools\tools\model_downlo

[2021-01-29 11:28] eaidova commented on #2036
@dedoogong please carefully look to model converter requirements, it does not include torch 1.7
https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/downloader/requirements-pytorch.in
It is well-know issue that this model can not be successfully converted with pytorch 1.7 usage.
Please downgrade pytorch version

[2021-01-29 13:18] vladimir-dudnik commented on #2036
@dedoogong if there any special reason for you to use MO directly? It is easy to make mistakes in cmd options. We'd recommend to use OMZ converter.py script instead. This will call MO with correct cmd line params using model.yml as a config file. It should be more convenient way to call simple `converter.py --name cocosnet`. It does not free you up from setting correct python environment though.

[2021-01-31 10:14] jomoengineer opened #2040 "Make: Error on or near line 85; exiting with status 1 seen with Raspberry Pi 4 OpenVINO Docker container"
While running through the install of the Model Zoo examples on a Raspberry Pi OpenVINO Docker instance, both make and build_demos.sh script fail:
OpenVINO Toolkit version: 2021.2
CMake version: 3.13.4
GCC Version: 8.3.0
GNU Make version: 4.2.1

Model Zoo was downloaded via git:
  **git clone https://github.com/opencv/open_model_zoo.git**

Error from build_demos.sh:

[code]

Make error:
[code]

[2021-02-01 01:07] jomoengineer commented on #2040
After doing some searchin', I found this to resolve the make errors.
I added the following to the bottom of the CMakeLists.txt for the security_barrier_camera_demo and the text_detection_demo.
[code]
After deleting and recreating the build folder, I ran the cmake command as described in the link and successfully ran make on the demos:

[2021-02-01 05:52] jomoengineer opened #2042 "Can't read "model_file" with object_detection_demo from a Docker image on a Raspberry Pi 4"
I am attempting to run a Open Model Zoo example from a OpenVINO Docker image on a Raspberry Pi 4 but each attempt results in "Can't read" the input file.
I've downloaded the models using the downloader.py script and placed then in a 'models' folder under the default user folder but I can not seem to get the demo to work

This is how I am running the demo and the output.
[code]
Most examples I have

[2021-02-01 06:04] dedoogong commented on #2036
Ok thank you. By the way I've been trying to run accuracy check for cocosnet model but failed with some error;

my command is below; the IR files are saved in a folder named "FP32".

accuracy_check -c accuracy-check.yml -m FP32 -s /workspace/openvino/ADEChallengeData2016/images/training/ -a /workspace/openvino/ADEChallengeData2016/annotations/training/

root@1e24ec94ade6:/workspace/openvino/cocosn

[2021-02-01 06:11] dedoogong commented on #2004
Finally, I sovled this issue by "mofifying openvino c++/python sorce codes, not by just writting config yml/json files" to support multiple inputs. I got the INT8 converted model and successful inference results now.

[2021-02-01 06:11] #2004 closed

[2021-02-01 06:14] eaidova commented on #2036
@dedoogong Accuracy Checker supports this model (otherwise, you would not have config file for it, right?), the error comes from opencv and speaks that something went wrong during data reading, please check your data.
Regarding quantizer, yes, currently, we did not release support for this model from its side, but it does not mean that POT does not support it, you still can create config and use P

[2021-02-01 07:06] dedoogong commented on #2036
yeah right I understand.
Can you give me some info about the data source?
I downloaded ADE dataset and it looks like below;

ADEChallengeData2016/images/training/             ADE_train_00000001 ~ ADE_train_00020210.jpg
ADEChallengeData2016/images/validataion/          ADE_val_00000001  ~   ADE_val_00002000.jpg
ADEChallengeData2016/annotations/training/     ADE_train_00000001 ~ ADE_train_00020210.p

[2021-02-01 07:16] eaidova commented on #2036
@akorobeinikov could you please help to set up dataset for cocosnet accuracy testing?

@dedoogong you said that you need only understand how to recognize multi input, I am not sure that cocosnet  is the best choise for it, because it is not use default AC pipeline natively and use custom pipeline evaluator. Possibly, better to use some different model for it? e.g. single-image-super-resolution mod

[2021-02-01 08:08] dedoogong commented on #2036
@eaidova thank you for your fast/kind reply. Yes SISR model is much simpler.
Can you tell me what converter should I use for my own model? my model is similar as mono depth estimator but it uses sparse depth data to predect dense depth data. So I need to make my own converter.
Do I need to write my own converter? If yes, is there some guide docs? if not, what converter I need to use?

Thank you ve

[2021-02-01 08:16] akorobeinikov commented on #2036
@dedoogong you should specify reference file (file for setting match val - train). You can download from [here](https://drive.google.com/drive/folders/1BKrEtEE2u5eZgAkviBo0TJJNDM4F4wga) (ade20k_ref_test.txt). Also for psnr and ssim metrics you should set classification model (example googlenet-v3). So you should use the next command line: accuracy_check -c <path_to_config> --models <path to cocosn

[2021-02-01 08:51] dedoogong commented on #2036
@eaidova thank you for your fast/kind reply. Yes SISR model is much simpler.
Can you tell me what converter should I use for my own model? my model is similar as mono depth estimator but it uses sparse depth data to predect dense depth data. So I need to make my own converter.

Do I need to write my own converter? If yes, is there some guide docs? if not, what converter I need to use?

Maybe I gue

[2021-02-01 09:35] vladimir-dudnik commented on #2040
@jomoengineer thanks for updating on this. We'll look if we need to update OMZ build scripts.

[2021-02-01 09:39] vladimir-dudnik commented on #2042
@jomoengineer It seems you apply models's .BIN file instead of image or video when using `-i /root/models/intel/person-attributes-recognition-crossroad-0230/FP16/person-attributes-recognition-crossroad-0230.bin` option.

[2021-02-01 09:58] cocokale commented on #2015
Hi. You should mkdir `/home/g/xiaowei/dataset/ICDAR/Word-Recognition-2013-edition/ICDAR13_REC/gt/`  and place `Challenge2_Test_Task3_GT.txt` there and rename Challenge2_Test_Task3_GT.txt to `gt.txt.fixed.alfanumeric`.

[2021-02-01 16:47] jomoengineer commented on #2042
@vladimir-dudnik
Thanks.  I get the same result when I reference a .mp4 file

[code]
Am I doing something wrong here?

I can run the openvino_fd_myriad.py script and it does not fail, so I am assuming the env is okay.
[code]

It would be helpful if there were an examples showing the files used which are available via downloader.py script like there is/was for "object_detection_demo_ssd_async" demo

[2021-02-01 21:47] jomoengineer commented on #2042
I think what might be happening is that I copy and pasted the example from the web page to the console which added unseen characters.  If I remove the "-i" and retype it , it seems to be fine. This was done on a non Docker instance as well.  I had a similar issue with the git '--depth 1' option when cloning the Open Model Zoo example from the "Install OpenVINO™ toolkit for Raspbian* OS" page but t

[2021-02-01 23:45] jomoengineer commented on #2042
Okay, I guess person-attributes-recognition-crossroad model is not supported with the object_detection_demo according to the models.lst. I ran with the face-detection-adas model and it did not fail but still gets the GStreamer warning.
[code]

[2021-02-02 00:48] jomoengineer commented on #2042
I tried the same exercise within the Raspberry Pi Docker image and I still get the " Can't read " error.

[code]
The file appears to be fine.
[code]

[2021-02-03 13:37] xiaoweiChen commented on #2015
@cocokale Thanks for you words, the test is running.

While, I meet following error:
`FileNotFoundError: No such file or directory: /home/g/xiaowei/dataset/ICDAR/Word-Recognition-2013-edition/ICDAR13_REC/Challenge2_Test_Task3_Images/word_1.png,`
Make `/opt/intel/openvino/deployment_tools/open_model_zoo/tools/accuracy_checker/accuracy_checker/data_readers/data_reader.py` 230th line,
`return cv2.imr

[2021-02-04 01:56] cocokale commented on #2015
I think icdar13_recognition.pickle or icdar13_recognition.json may be corrupted. Will you please delete them and try again?

[2021-02-04 02:11] renziver opened #2057 "Validating model output with OpenVino's documentation"

[2021-02-04 02:21] #2057 closed

[2021-02-04 02:38] cocokale commented on #2015
Hi, two things to do:
1. icdar13_recognition.pickle and icdar13_recognition.json may be corrupted, so please delete them.
2. You need to revert the changes you made to data_reader.py
    and change content in Challenge2_Test_Task3_GT.txt:
[code]
to (only one space between file names and annotation, no quotation marks, you could write a script to do this)
[code]

[2021-02-04 04:36] tunght opened #2058 "common-sign-language model"
Hi,

I'm trying to run the gesture detection demo with common-sign-language model.
However when I use the model optimizer to convert the model to IR format I get this error

Model Optimizer version:        2021.2.0-1877-176bdf51370-releases/2021/2
[ ERROR ]  Cannot infer shapes or values for node "Conv_0".
[ ERROR ]  Data after padding has dimension less than window size. Possible reason of error

[2021-02-04 11:00] xiaoweiChen commented on #2015
In your way, I test again. Better than yesterday.

 24.93% is correct accuracy?

[code]

[2021-02-04 11:26] cocokale commented on #2015
Hi. I think this model only supports recognizing numbers and lower case letters.  You could convert the labels e.g. `Tiredness` to lower case letter e.g. `tiredness`.  In this way, you should be able get the correct accuracy.

[2021-02-04 13:14] campos537 opened #2060 "Models face-detection-0205 and face-detection-0206 showing errors"
Hey guys! I'm trying to run the [face-detection-0205](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/face-detection-0205) and the [face-detection-0206](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/face-detection-0206) but i wasn't able to get the proper output result, instead of that i got:

[code]
I'm using OpenCV 4.5.1 with OpenVINO 2021.

[2021-02-04 14:39] vladimir-dudnik commented on #2058
@tunght most probably you miss some parameters or use some wrong parameters for MO. That is why we recommend to use OMZ downloader.py and converter.py scripts to download and convert the model. These scripts use model.yml file to read all necessary parameters and then call MO with correct parameters. These parameters are validated to work for corresponding OpenVINO release. Please read OMZ tools [

[2021-02-04 14:52] vladimir-dudnik commented on #2060
@campos537 we'll look at OpenCV DNN issue, but meantime you may test these models with Open Model Zoo python [object_detection_demo](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/python_demos/object_detection_demo/README.md).
@l-bat could you please take a look at the issue from OpenCV DNN point of view

[2021-02-04 15:15] campos537 commented on #2060
@vladimir-dudnik thanks, i will test here with the object_detection_demo and check the results!

[2021-02-04 15:17] vladimir-dudnik commented on #2042
@jomoengineer not sure what may cause this issue. Open Model Zoo demos use OpenCV to read media files. Could you please try any of OpenCV samples with this video file?

@eizamaliev @Wovchena @fzhar do we hide error messages from underlying OpenCV VideoCapture, so that become difficult to troubleshoot issues with demo input access?

[2021-02-04 15:29] vladimir-dudnik commented on #2040
@terfendail @alalek could you please suggest what conditional we may use in Open Model Zoo demo cmake scripts to detect build on/for RasperryPi and add line below. Is that compiler version or OS version?

@IRDonch @Wovchena we may need to consider to add some conditional to OMZ cmake to support OpenVINO RasperryPi package.

[2021-02-04 15:36] vladimir-dudnik commented on #2036
@dedoogong you may start looking at accuracy checker documentation from [here](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/accuracy_checker/README.md). Then each accuracy checker module also has documentation, located in its subfolder. For example, model [adapters](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/accuracy_checker/accuracy_checker/adapters

[2021-02-04 15:49] vladimir-dudnik commented on #1930
@alfawzaan the solution is to look at [Kinetic-400](https://storage.googleapis.com/deepmind-media/Datasets/kinetics400.tar.gz) dataset and extract list of action from there.

[2021-02-04 16:18] tunght commented on #2058
@vladimir-dudnik Thank you very much.
I'm able to convert the model

[2021-02-04 16:18] #2058 closed

[2021-02-04 16:25] campos537 commented on #2060
@vladimir-dudnik i tested with the latest object_detection_demo using the command line below:
`./object_detection_demo -i 0 -m /media/crystal/main_files/Repositorios/eye_is_looking/face_heavy/deploy.xml -at ssd`
i got this output here:
[code]

[2021-02-04 16:26] IRDonch commented on #2040
`libatomic` is used by GCC when it can't generate lock-free code for atomic fetches/updates. IMO, we should just avoid such situations instead of linking in the library.

In the case of `security_barrier_camera_demo` this is most likely caused by the `std::atomic<uint64_t> frameCounter` variable. I think we can safely downgrade this variable to 32-bit, since it'll still take over two continuous ye

[2021-02-04 18:53] jomoengineer commented on #2042
In the Raspberry Pi Docker container, I built the opencv samples as shown in the opencv samples README,and ran the 'openvino_sample_peopledetect' sample using the same .mp4 file and it produced the error listed below.

ReadMe referenced:
[code]

[code]

Hopefully I did that right.

[2021-02-04 19:13] jomoengineer commented on #2040
@IRDonch The 'text_detection_demo' issue I had seen might have been a result of the other errors I was seeing. I've rebuild it without the change to the CMakeList.txt and it compiles fine.

Changing frameCounter to std::atomic<uint32_t>  in 'demos/security_barrier_camera_demo/main.cpp' seems to correct the issue.
Note: The path on my system to main.cpp is different than what you show. Also, there

[2021-02-04 19:39] vladimir-dudnik commented on #2060
@campos537 yeah, but what the model did you use (/media/crystal/main_files/Repositorios/eye_is_looking/face_heavy/deploy.xml)?

Open Model Zoo demo developed and validated on OMZ models, each demo has [models.lst](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/object_detection_demo/models.lst) file, which you can use as a parameter to model downloader to get models which valid

[2021-02-04 19:52] vladimir-dudnik commented on #2042
@jomoengineer This error message basically says that sample is using OpenCV image reader (imread function), it is not able to open video files. For video files OpenCV has VideoCapture object, I'm not sure if there is relevant sample in OpenCV which comes precompiled with OpenVINO package.

Demo in OMZ determine what type of file used as an input and call appropriate OpenCV objects, like image read

[2021-02-04 19:56] vladimir-dudnik commented on #2040
@jomoengineer as I get form what @IRDonch saying is that using std::atomic<uint64_t> will cause this issue. Ordinary uint64_t variable will not bring that because not declared as atomic.

[2021-02-04 20:19] campos537 commented on #2060
sorry i changed the name but is the face-detection-0206. Hmm let me test with the python variant to check! Thanks @vladimir-dudnik .

[2021-02-04 21:24] fzhar commented on #2042
Hello. Speaking about openvino_sample_peopledetect, you should use this form of command line:
./openvino_sample_peopledetect -v=~/Downloads/person-bicycle-car-detection.mp4
(It's kinda non-standard, true).

Let's stick to open model zoo samples, they are easier to work with.
As I understand from the thread, this execution was completed successfully:
./object_detection_demo -i ~/models/person-bicyc

[2021-02-04 21:37] jomoengineer commented on #2042
@fzhar This is the result of running the openvino_sample_peopledetect as you show. I do not believe this is correct.
[code]
With regards to the "object_detection_demo", this runs on the Raspberry Pi 4 proper but with the GStreamer warnings.
However, in the Docker instance running on a Raspberry Pi 4, it still gets the 'Can't read' error.

I'll try the Yolo example but not sure what the point is.

[2021-02-04 21:44] fzhar commented on #2042
And speaking about docker problem (sorry I missed it in the first message). @jomoengineer, do you have GStreamer or FFMPEG installed in docker image ? Do you use some standard image (please provide a link where you've taken it from, to make sure) or is it custom-built ?

[2021-02-04 21:49] jomoengineer commented on #2042
@fzhar The instructions from this link is what I followed to install the Docker image on the Raspberry Pi 4:
[https://www.intel.com/content/www/us/en/support/articles/000055220/boards-and-kits.html](url)

[2021-02-04 21:50] fzhar commented on #2042
@jomoengineer, I'll add verbose output for video reading utilities to get better logs and will come up with new version to try.

[2021-02-04 21:52] campos537 commented on #2060
Just an update, i tested with python example and worked normally, any reason it don't work with c++ code?

[2021-02-04 22:41] jomoengineer commented on #2042
Just a note, perhaps another topic, on the Raspberry Pi 4 proper, the 'openvino_sample_peopledetect' sample does run and detects people but with the GStreamer warnings as well:
[code]

Also, looking at the help, there is no indication that the use of '-v=" is required to run this, just '-v' or '--video',
[code]

[2021-02-04 23:46] vladimir-dudnik commented on #2060
@campos537 face-detection-0205/0206 have two output layers. We did not modified C++ demo to support this yet.

[2021-02-05 14:05] xiaoweiChen commented on #2015
According to your reminder, I read the description again.

At `Outputs` section：
[code]

These words "0123456789abcdefghijklmnopqrstuvwxyz#" which the model can recognition.

I use one line shell to process labes `sed -i 's/"//g;s/,//g;s/[A-Z]/\l&/g' gt.txt.fixed.alfanumeric`, make
[code]
to
[code]

Test again,
[code]

While, the `[` is not in recognition words in `word_24.png, "[falling"` label.

[2021-02-05 14:22] campos537 commented on #2060
Thanks for the explanation @vladimir-dudnik! I tested the two output layers "labels" and "boxes" but for some reason didn't worked with C++ OpenCV dnn don't know why.

[2021-02-05 22:14] vladimir-dudnik commented on #2060
@campos537 those two a new models, introduced in OpenVINO 2021.2. It might be OpenCV DNN was not updated yet to support them.

[2021-02-07 10:43] guoyejun opened #2068 "what's the data type of face-detection-adas-0001"
https://docs.openvinotoolkit.org/2018_R5/_docs_Transportation_object_detection_face_pruned_mobilenet_reduced_ssd_shared_weights_caffe_desc_face_detection_adas_0001.html

[code]
is the input data type uint8_t with range [0, 255]? or float with range [0.0, 1.0], or float with range [0.0, 255.0]?

[code]
is the output data type float?

[2021-02-07 11:41] eaidova commented on #2068
@guoyejun all provided in OMZ models requires BGR image in [0, 255] (FP32 used in openvino as main input data type by default) if any other details is not provided..
Regarding output format, yes it is float. Output contains normalized detected bounding box coordinates in [0, 1] range.

[2021-02-07 13:23] guoyejun commented on #2068
That's great. I can make the model input/output fixed in FFmpeg DNN module. thanks.

[2021-02-07 13:23] #2068 closed

[2021-02-13 14:51] dedoogong opened #2095 "3D Convolution supported or not?"
Hi, I saw there is no CONV-3D layers in the supported layers by openvino webpage, but I found someone converted 3d Convolution layer of keras(tensorlfow backend) successfully( https://github.com/avbelova/POT_tutorial/tree/master/advanced_materials/3d_unet_demo )

Can anybody tell me what is true?

Thank you!

[2021-02-13 20:25] eaidova commented on #2095
@dedoogong in OMZ you can find several models with 3d convolutions (e.g. [brain-tumor-segmentation-0001](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/brain-tumor-segmentation-0001/brain-tumor-segmentation-0001.md)/[0002](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/brain-tumor-segmentation-0002/brain-tumor-segmentation-0002.md), [I3D-rg

[2021-02-13 20:31] eaidova commented on #2095
Also you can look on [Convolution description](https://docs.openvinotoolkit.org/latest/openvino_docs_ops_convolution_Convolution_1.html) in openvino opset specification.
It mentions 3d convolution case:

[2021-02-14 03:12] #2095 closed

[2021-02-15 11:17] edward9112 commented on #1729
Hi,
@yssemaev @snosov1 it looks like the agreement process is stalled. I never got any replies from your legal team.

[2021-02-15 11:42] yssemaev commented on #1729
Pinged legal team, waiting for response.

[2021-02-15 19:45] vladimir-dudnik commented on #391
@Wovchena what about now? have we unified `no_show` option?

[2021-02-15 19:50] Wovchena commented on #391
Nope

[2021-02-15 20:17] vladimir-dudnik commented on #1407
closing due to inactivity

[2021-02-15 20:17] #1407 closed

[2021-02-15 20:23] vladimir-dudnik commented on #1547
OMZ contain [yolo-v3-tiny-tf model](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/yolo-v3-tiny-tf/yolo-v3-tiny-tf.md), can it serve as an example for you?

[2021-02-15 20:35] vladimir-dudnik commented on #1560
closing as resolved (resnet-50 Caffe removed from OMZ)

[2021-02-15 20:35] #1560 closed

[2021-02-15 20:36] vladimir-dudnik commented on #1561
closing as resolved

[2021-02-15 20:38] vladimir-dudnik commented on #1575
@ClementLeBihan have you a chance to verify OpenVINO fix?

[2021-02-15 20:39] vladimir-dudnik commented on #1589
@AprilCat do you have an additional questions?

[2021-02-15 21:14] vladimir-dudnik commented on #1675
@Shirish-Ranoji class id description added to model documentation. Do you have additional questions?

[2021-02-15 21:16] vladimir-dudnik commented on #1732
@guoyejun do you have additional questions?

[2021-02-15 21:23] vladimir-dudnik commented on #1747
@spectrico do you have additional questions?

[2021-02-15 21:25] vladimir-dudnik commented on #1751
@Eduardo-az do you have additional questions?

[2021-02-15 21:26] vladimir-dudnik commented on #1821
@allenwsh82 do you have additional questions?

[2021-02-15 21:27] vladimir-dudnik commented on #1840
@dxxhjk do you have additional questions?

[2021-02-15 21:58] vladimir-dudnik commented on #1937
@vijayky88 do you have additional questions?

[2021-02-15 22:02] vladimir-dudnik commented on #1950
@laifuchicago do you have additional questions?

[2021-02-15 22:03] vladimir-dudnik commented on #1975
@CVUsers do you have additional questions?

[2021-02-15 22:03] vladimir-dudnik commented on #2007
@odefiao do you have additional questions?

[2021-02-15 22:07] vladimir-dudnik commented on #2040
@jomoengineer seems issue was fixed (fix will be available in the next release). Do you have additional questions?

[2021-02-16 05:03] guoyejun commented on #1732
thanks

[2021-02-16 05:03] #1732 closed

[2021-02-16 18:05] #1747 closed

[2021-02-19 14:43] morkovka1337 commented on #2015
Hi!

Actually, `gt.txt.fixed.alfanumeric` is a subset of icdar13 test dataset. As it was already stated earlier, all words are lowercase and all words which contain **non-alphanumeric** words are deleted. This results in dataset of size **1015** words.
If I understand you correctly, in case of `word_24.png, "[falling"` you have just deleted `[` symbol meanwhile this word and other similar were com

[2021-02-19 15:26] xiaoweiChen commented on #2015
Thanks you reply.
As your words, I know:

This is important for me, and I know the reason why not match  0.8818.

For this line `word_24.png, "[falling` , I remove all words, it become a empty line.
`word_24.png, "[falling` -> ` `
And then, I get 87.94%.

You give me the right answer for this issue, I think this issue should be closed.

Thanks @cocokale  and @morkovka1337  ：）

[2021-02-19 15:26] #2015 closed

[2021-02-22 09:18] #1950 closed

[2021-02-24 15:38] edward9112 commented on #1729
@snosov1 @yssemaev it looks like the legal team's response is going to take forever.
Is there another way to pass the materials to you without putting them in a public data bank permanently?

[2021-02-24 23:26] jomoengineer opened #2135 "Python demos do not run on Raspberry Pi 4 with Raspbian 10"
I'm attempting to run the python_demos from Open Model Zoo on a Raspberry Pi 4 with Raspbian 10, however I am not able to run these.  I have set the environment with 'setupvars.sh' but the Python demos do not seem to find certain dependencies.

Example: object_detection_demo
[code]
Looking at the environment variables, it does seem like there a reference to ngraph.
[code]
It appears there are file

[2021-02-25 19:29] vladimir-dudnik commented on #2135
@jomoengineer thanks for noticing this, you are right, OpenVINO install package for RaspberryPi does not include ngrpah python api, we will review possibility to add this in future OpenVINO releases. Meantime, ngraph python module is only needed for OMZ demo to work with yolo models, it is safe to comment out this import if you not going to work with yolo models

[2021-02-26 15:24] allenwsh82 commented on #1821
Hello Vladimir,

No more questions from my side.

Thanks for the help and advise

[2021-02-26 16:00] yustiks opened #2148 "Dataset Preparation Guide."
Hello!
Thank you for the amazing work done!
I would like to calculate MaP for object detection model and experiencing some problems.
First, I couldn't find the link in the page of accuracy_checker/ReadMe:
"If you want to evaluate models using prepared config files and well-known datasets, you need to organize folders with validation datasets in a certain way. More detailed information about datase

[2021-02-26 16:20] eaidova commented on #2148
@yustiks  thank you for your note. looks like  link on web page was currepted, when we move this file. This issue has beed already fixed in develop branch. and targeted to openvino 2021.3 release..
For now, you can use this link: https://github.com/openvinotoolkit/open_model_zoo/blob/master/datasets.md

[2021-02-27 00:06] kevkid opened #2151 "How to run single_human_pose_estimation_demo.py?"
I am trying to run this demo, I found this https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/python_demos/single_human_pose_estimation_demo

and I am trying to follow the example:
`C:\Program Files (x86)\Intel\openvino_2021\deployment_tools\open_model_zoo\demos\python_demos\single_human_pose_estimation_demo>python single_human_pose_estimation_demo.py --model_od C:\Users\kevin\Dow

[2021-02-27 20:03] vladimir-dudnik commented on #2151
@kevkid single_single_human_pose_estimation_demo designed to work with single-human-pose-estimation-0001 model. For human-pose-estimation-0001 you may use C++ human-pose-estimation demo.

[2021-02-28 16:32] yustiks commented on #2148
Thank you!
Another question is related towards how to prepare data for object detection by PyTorch?
I trained PyTorch model for object detection, and my configuration_file looks like this:
[code]
Then I run accuracy_checker with the following code:
[code]

and I have the next error:
[code]

What could be the problem?

[2021-02-28 16:39] eaidova commented on #2148
@yustiks looks like you have wrong indention in yml file (`launchers` and `datasets` sections should be on the same indention level like `name`).
BTW specify only weight (pth file) is not enough for pytorch model running. You need also provide model class for import.
You can find info how to configure pytorch launcher here: https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/accura

[2021-02-28 18:09] yustiks commented on #2148
Thank you!
I changed parameters now according to your answer, and still have the same errors.
Therefore, I have a question on how to load MaskRCNN model?

[2021-02-28 18:23] eaidova commented on #2148
this error is not from the tool, this error speaks that you have invalid yml file, `line 3, column 14` it is the line and position which wrong. there is [standard rules](https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html) for yaml creating and looks like you do not follow them...
Please carefully look on your file, `mapping values are not allowed here` usually tell that y

[2021-02-28 18:48] yustiks commented on #2148
You are right, thank you for pointing out this problem.
I changed the configuration file, and now I have the following error:
[code]

What could be the problem?

[2021-02-28 18:54] eaidova commented on #2148
As I said before you need to provide module for network architecture loading.
Please read launcher [configuration instruction](https://github.com/openvinotoolkit/open_model_zoo/blob/master/tools/accuracy_checker/accuracy_checker/launcher/pytorch_launcher_readme.md)
It says:
* `module`  pytorch network module for loading.
* `checkpoint` - pre-trained model checkpoint weigts (Optional).
* `python_pa

[2021-02-28 18:56] yustiks commented on #2148
thank you for fast reply!
Yes, it is clear.
Where to find instructions on what module should be for mask-rcnn?
there is example with alexnet, but I couldn't find mask-rcnn.

[2021-02-28 19:12] yustiks commented on #2148
I have found an answer.
thank you!
now the module is as following:
[code]
but I have another error...
[code]

[2021-02-28 19:13] eaidova commented on #2148
Sorry, we provide examples only for Open Model Zoo models, and as I know there is no pytorch mask rcnn, so it is the reason why example is unavailable. I only can suggest to read docs and deeper analyze model code for preparing model configuration., At least, it should be clear how to import any other model.
Provided example is just show how to import model from torchvision.
* `module: torchvision

[2021-02-28 19:15] eaidova commented on #2148
please read the docs, the error message is clear. Documentation contains info about required fields

[2021-02-28 19:25] yustiks commented on #2148
yes, you are right! thank you! I was mistaken, there should be resent50...
and now, I try to configure adapter for it, and the parameters in the link which you sent are as following:
[code]
what should be given as raw_masks_out? and num_detections_out?

[2021-02-28 22:27] yustiks commented on #2148
I managed to run the accuracy_checker, but now, I have another error:
[code]

[2021-02-28 22:49] yustiks commented on #2148
I changed the configuration_file:
[code]

then I run accuracy_checker:
[code]

and I have the next error:

[code]

[2021-03-01 07:56] muyufujianxiaobawang opened #2154 "What kind of neural network structure is this model "semantic-segmentation-adas-0001" based on ？For instance Unet?Pspnet? Looking forward to your answer！！"
I don't know how to get the detail of the model"**semantic-segmentation-adas-0001**" which is used in my study./I'll be very grateful if you can answer it . Thank you! @openvino-pushbot

[2021-03-01 08:38] vladimir-dudnik commented on #2154
@muyufujianxiaobawang please take a look at corresponding model folder in Open Model Zoo. All information we have is there. You may notice that model was implemented in Caffe framework and see [.prototxt](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/semantic-segmentation-adas-0001/semantic-segmentation-adas-0001.prototxt) file.

Why do you wonder model structure? If y

[2021-03-02 03:52] dhruvsheth-ai opened #2161 "xml and bin files"
Hi, I'm trying to locate the xml and bin files corresponding to the model.yml in intel pre-trained models. Is there a specific link to access these files, or do we have to pertain to downloader.py to download models. It would be great if there is "resource" page to find the files

Edit: Figured it out

[2021-03-02 03:56] #2161 closed

[2021-03-02 13:01] vladimir-dudnik commented on #1821
thanks, so I'll close this

[2021-03-02 13:01] #1821 closed

[2021-03-05 13:24] muyufujianxiaobawang commented on #2154
I'm sorry to take so long to reply to your answer. I want to know if this model is original by Intel, or just an implementation of an existing model?

[2021-03-05 13:25] muyufujianxiaobawang commented on #2154
I'm sorry to take so long to reply to your answer. I want to know if this model is original by Intel, or just an implementation of an existing model? @vladimir-dudnik

[2021-03-05 15:21] vladimir-dudnik commented on #2154
@snosov1 could you please comment on semantec-segmentation-adas-0001 model details?

[2021-03-09 08:27] tyoungroy opened #2179 "is the output name of DENSENET-121 correct?"
When i check the prototxt file i can't the name of `prob` which is mentioned as output name of the model [link](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/densenet-121/densenet-121.md)
Event though i ran the model and look into layers name, i can't find the `prob`. there is only `fc6`.

[2021-03-09 10:18] vladimir-dudnik commented on #2179
@eizamaliev please take a look on this question

[2021-03-09 11:07] eizamaliev commented on #2179
@tyoungroy thank you for attention. We are fixing it.

[2021-03-09 11:12] hoangkhoiLE opened #2182 "Request a template python demo for model person-detection-0203"
Hi, thank for your excellent work.
Now I study the model multi_camera_multi_target_tracking by this link
https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/python_demos/multi_camera_multi_target_tracking with your model that names "person-detection-0203".

the commands that i use is:

python3.7 multi_camera_multi_target_tracking.py -i test.mp4 --m_detector person-detection-0203.xm

[2021-03-09 12:07] vladimir-dudnik commented on #2182
@hoangkhoiLE  Models may have different format of output layers and so require different postprocessing to extract detection results. That is why we specify particular models which demo was designed to work with in file [models.lst](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/python_demos/multi_camera_multi_target_tracking/models.lst). Note, you may use this file as a param

[2021-03-09 12:28] eizamaliev commented on #2182
@hoangkhoiLE please specify version of OpenVINO.

[2021-03-09 12:37] hoangkhoiLE commented on #2182
@vladimir-dudnik Thank you for your kind response, I will try with  python object_detection_demo.
@eizamaliev I have already test with the 2021.2, 2021.1, 2020.3 , 2020.4, none of them works

[2021-03-09 14:38] hoangkhoiLE commented on #2182
I have verified the version so that my version 2021.2 work, but the result of model "person-detection-0203" is wrong in comparison with   "person-detection-0202"
 "person-detection-0202"
![image](https://user-images.githubusercontent.com/57557628/110486812-4baa7980-80ed-11eb-941b-130ef2db779d.png)
"person-detection-0203"
![image](https://user-images.githubusercontent.com/57557628/110486887-5ebd498

[2021-03-09 17:02] vladimir-dudnik commented on #2182
you are right, seems there is an issue with postprocessing of this model output in demo, we'll take a look. Thanks for noticing this.

[2021-03-10 05:53] Curry30h opened #2186 "Face Detection network should have only one input？"

[2021-03-10 08:02] #2179 closed

[2021-03-10 08:43] vladimir-dudnik commented on #2186
@Curry30h Are you asking about some particular model or this is question in general? Basically, number of model inputs or outputs not defined by model task, it depends on network implementation.

[2021-03-10 08:48] Curry30h commented on #2186
When I use fast r-cnn perception V2 for inferencing, I will report this error，and the error of face detection network output layer should have 7 as a last dimension will be reported when using other models.

[2021-03-11 13:45] eizamaliev commented on #2182
Hi, @hoangkhoiLE! Please look at linked PR for solution

[2021-03-11 14:14] hoangkhoiLE commented on #2182
@eizamaliev  Hello, thank for your solution and excellent work . It works in my part.

[2021-03-11 14:14] #2182 closed

[2021-03-12 09:18] eaidova commented on #2186
@Curry30h  if I right understand you speak about demo for face detection and try to use it with some trained faster-rcnn perseption v2 model, is it correct?

We provide demo application code only based on Open Model Zoo repo content, so our demo applications has specific model list for supported models (e.g.  https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/interactive_face_dete

[2021-03-12 09:29] Curry30h commented on #2186
I use / opt / Intel / openvino / deployment_ tools/tools/model_ Script download model under downloader path and from https://docs.openvinotoolkit.org/cn/2020.3/_ docs_ MO_ DG_ prepare_ model_ convert_ model_ Convert_ Model_ From_ TensorFlow.html downloaded the model  convert to IR and then deployed to the accelerator  pillar. The above error appears when inferencing.What you mean by omz is omz_ de

[2021-03-12 09:50] eaidova commented on #2186
under OMZ we understand open_model_zoo related entries (/opt/intel/openvino/deployment_tools/open_model_zoo) and this repo including demos and their build script.
/ opt / Intel / openvino / deployment_ tools/tools/model_downloader is also part of open_model_zoo (as you can see there is soft link which lead to open_model_zoo/tools/downloader directory)

Unfortunatly, I do not know what you use for

[2021-03-12 09:55] Curry30h commented on #2186
I ran interactive_ face_ detection_ The demo uses fast r-cnn perception V2, squeezenet1.1 and Google net v2.

[2021-03-12 10:00] eaidova commented on #2186
@Curry30h  then, as I already said this demo is not designed to work with all of these models.
inside the demo you can find model.lst file which describes the models supported by interective_face_detection_demo.

regading faster-rcnn inception v2 it should be infered used object_detection_demo, squeezenet1.1 and googlenet v2 - using classification demo

[2021-03-13 13:59] anujonthemove opened #2202 "Interactive Face Detection Python Demo missing."
In earlier versions of OpenVINO toolkit, there used to be demos showing how to work on multiple/chained models. One such was the Interactive Face Detection Python Demo which is now missing. Will there be any demos showing how to implement chained models with the new OpenVINO 2021 or future releases?

[2021-03-15 09:09] vladimir-dudnik commented on #2202
@anujonthemove you probably mean Python [multi_camera_multi_target_tracking](https://github.com/openvinotoolkit/open_model_zoo/tree/master/demos/python_demos/multi_camera_multi_target_tracking) demo, which still be there? As far as I know, there were no Python interactive_face_detection demo in OMZ.

[2021-03-15 09:56] Curry30h commented on #2186
Thanks！！

[2021-03-15 10:19] eaidova commented on #2186
@Curry30h  do you have any additional questions or we can close this discussion?

[2021-03-15 13:24] anujonthemove commented on #2202
@vladimir-dudnik To be precise, there was a python demo named: face_recognition_demo which included the following models: **Face Detection model**, **Facial Landmarks Regression model**, **Face Reidentification model**, and Face matching algorithms: **Hungarian**, and **Min distance**. There is also a You Tube video on that demo here: https://www.youtube.com/watch?v=zgOoSjwMTLE

[2021-03-15 17:50] vladimir-dudnik commented on #2202
@anujonthemove that's right, there was a face recognition demo, but it was not interactive face detection python demo which was missed.
There are demos which show chained models (if you mean pipeline consisting from several models), [crossroad_camera_demo](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/crossroad_camera_demo/README.md), [gaze_estimation_demo](https://github.com

[2021-03-16 02:30] anujonthemove commented on #2202
@vladimir-dudnik I was curious to know if there are plans to bring back face recognition demo for the newer releases of OpenVINO?

Yes, I have already checked all the demos you have mentioned. They all are in C++. I am specifically looking for a python implementation for at least one of them where

[2021-03-16 03:17] Curry30h commented on #2186
Thanks！！

temporary not，close it，thanks.

[2021-03-16 04:47] #2186 closed

[2021-03-16 07:14] vladimir-dudnik commented on #2202
@anujonthemove yes, we are considering to return back face recognition demo, pending additional license approval. Unfortunately, this will not happen yet in 2021.3 release which is coming soon.

[2021-03-16 09:43] anujonthemove commented on #2202
Okay, that answers my question. Thank you!
I am closing the issue now and hope to see more python demos in future releases.

[2021-03-16 09:43] #2202 closed

[2021-03-19 11:02] edward9112 commented on #1729
@snosov1 @yssemaev the legal team seem to have approved the agreement but then stopped responding.
Is there any way to expedite?

[2021-03-22 04:26] Wovchena commented on #1575
The issue seems to be inactive and https://github.com/openvinotoolkit/openvino/pull/1918 successor is merged. Closing.

[2021-03-22 04:26] #1575 closed

[2021-03-23 16:38] anujonthemove opened #2230 "Object Detection Python* Demo - code comments"
Hello,

This may or may not be the right think to ask but the earlier version (Object Detection SSD Python* Demo) of the code was quite straightfoward and self explanatory. This version no doubt is much more organized but it is not so easy to understand therefore I'd like to know if there could be a code flow diagram or at least steps as to what is happening around. Also, for things like `utilizat

[2021-03-23 20:34] vladimir-dudnik commented on #2230
@anujonthemove thanks for feedback, this is right thing to ask and point if something is not clear in demo code. Actually, our intend was to unify and further simplify OMZ demos with having class hierarchy to express that there are some basic steps which are required for any model to run inference:
-process cmd line params
-set data source
-preprocess data
-run inference
-postprocess the results
-

[2021-03-24 11:25] PhantomzBack opened #2233 "Replace -m and -s with -r for directly comparing results?"
I have an external model, which I have already trained and got the corresponding results. Is it possible to do the accuracy check for the results directly, rather than running the model again on the input images?

So this is what I mean
`accuracy_check -c path/to/configuration_file -m /path/to/models -s /path/to/source/data -a /path/to/annotation`

should be replaced with

`accuracy_check -c path/

[2021-03-24 12:24] vladimir-dudnik commented on #2233
@eaidova could you please comment?

[2021-03-24 12:38] #1589 closed

[2021-03-24 12:38] eaidova commented on #2233
@raviarora1209
I do not think that it is possible in your described way (throw -r) because we do not know format in which your model provide the results and how they should be parsed.

There is 2 options which you can consider:
1. offline evaluation mode - handle raw output exclude inference part only (adapters, postprocessing preserved ). Predictions provided in pickle file using --stored_predict

[2021-03-24 15:07] raviarora1209 commented on #2233
@eaidova what if it were a well known Object Detection format such as COCO, or YOLO? We wish to refrain from executing the model again and again( and also if the model is not supported by OpenVINO but the format is the same as one of the standard ones).

[2021-03-24 15:27] eaidova commented on #2233
@raviarora1209  Currently it is not supported, but we may consider this opportunity in the future. Do you have preference on specific format?
I believe for coco format you can directly use pycocotools without any proxy like AC, right?
I am not familiar with Darknet and not hear about prediction format from it (only about yolo annotation, which is not suitable for working as prediction because it d

[2021-03-25 08:24] eizamaliev commented on #2230
Hi, @anujonthemove

Thanks for feedback! Could you tell us more about your vision of code explanation? What would you prefer, the comments, the description how code work in the `readme.md` file, or something else? Which parts of code are the most complicated?

[2021-03-25 13:41] Carrimel opened #2240 "Multi Camera Multi Target Python* Demo Code - OrientationFeature Class"
Hi,

I see that the OrientationFeature class is defined in `mc_tracker/sct.py` and there are attributes for it in the Track class. However, by default it never ends up being used (default constructors all have None). Could someone explain what the purpose of this class is and if it is meant to be used then what is the correct way to take advantage of it?

[2021-03-25 15:16] FengYen-Chang opened #2242 "How to convert the .scorer LM model to a character base .kenlm?"
Hi All,

Currently, the speech recognition is supporting the vocabulary base `.kenlm` model which is generated by `scorer_to_kenlm.py`. However, the `scorer_to_kenlm.py` seems is only supporting the vocabulary base. So, it means this sample does not support the character output w/ LM if the users cannot convert a character base LM.

For the CTC decoder, I am thinking it is supporting the character

[2021-03-25 15:54] hoangkhoiLE opened #2243 "Model person-reidentification-retail-0277 : Threshold for cosine distance ?"
Hello,
I'm very interesting in the model

https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/intel/person-reidentification-retail-0277/description/person-reidentification-retail-0277.md.

I would like to know which is the threshold for  cosine distance that you use for compare the person to get Market-1501 rank@1 accuracy 96.2%. If possible, can you provide the threshold of other

[2021-03-25 16:32] raviarora1209 commented on #2233
Alright, thanks.... I have not explored much on pycocotools but I will check that out, thanks! If your considering a specific format, maybe consider some of the standard formats, or you could possible create a very simple format, to which anybody can easily translate there results.

Cheers.

[2021-03-25 16:48] anujonthemove commented on #2230
Hello @eizamaliev

Ideally code comments are enough in most cases but here I wanted to understand the code flow as you suggested by giving a clear description of how the code works in the readme file.

Following are the things which I could not comprehend easily:

1. The use of `--utilization_monitors` and at least how to use it?
2. In the beginning of the first `while` loop, what's the need to ch

[2021-03-25 16:51] anujonthemove commented on #2230
Thanks @vladimir-dudnik thanks for outlining the basic steps. I am happy to learn that more development is on it's way!

[2021-03-25 20:24] vladimir-dudnik commented on #2243
@snosov1 could you please comment on this?

[2021-03-26 08:09] vladimir-dudnik commented on #2242
@AlexeyKruglov could you please comment on this?

[2021-03-26 08:14] vladimir-dudnik commented on #2240
@sovrasov could yo please comment on this?

[2021-03-26 08:30] sovrasov commented on #2240
Hi @Carrimel. Originally we tried to build our tracker based on approach described [here](https://arxiv.org/pdf/1906.01357.pdf).
This paper explains the concept of this feature. We tried to avoid usage of a resource consuming pose estimation model and train a small classifier to directly predict orientation (left, righr, front, back). Due to lack of the annotated data we were unable to reach a rea

[2021-03-26 09:31] Carrimel commented on #2240
Thank you for clearing that up, I see perfectly how it would be used if an indicator for orientation was available.

[2021-03-26 09:31] #2240 closed

[2021-03-26 09:52] #2040 closed

[2021-03-26 10:53] snosov1 commented on #2243
@sovrasov Vlad?

[2021-03-26 14:09] sovrasov commented on #2243
Hi. During evaluation on Market-1501 model ranks gallery images by cosine distance to query. Then evaluation protocol uses only this ranking to compute top-N accuracy and mAP without deriving any thresholds.

You can estimate a threshold on your data: to do that just prepare a dataset consisting of positive and negative pairs, estimate normalized histograms of positive and negative pairwise distan

[2021-03-26 14:40] hoangkhoiLE commented on #2243
@sovrasov Thank you for your kind answer ! I know that the threshold would be biased towards the distribution produced on Market-1501. However, in case that we can't collect more data, it would be one of the best value that we could use as default ! So I hope that you could please share the threshold as a good point to reference ! I very appreciate your help !

[2021-03-26 15:25] sovrasov commented on #2243
I haven't carry out any experiments of that kind on Market, so at the moment can't say anything about threshold there. If we're talking about scaled cosine similarity=0.5*(cos(a^b) + 1), in a tracking pipeline I was using threshold = 0.8 once to collect positive samples, but it wasn't always work correctly.

[2021-03-29 09:32] hoangkhoiLE commented on #2243
Thank you for your info !

[2021-03-29 09:32] #2243 closed

[2021-03-29 14:35] AlexeyKruglov commented on #2242
Hi. Thank you for your contribution to OMZ.

Conversion of "character-based" models is currently not supported because it was not tested and not debugged.

[2021-03-29 14:46] AlexeyKruglov commented on #2242
Hi. Thank you for your contribution to OMZ.

Conversion of "character-based" models is currently not supported because it was not tested and debugged. File `parse_trie_v6.py` contains a check that intentionally fails for "character-based" models because of this (find `if is_utf8_mode:` in that file).  ("Character-based" mode is in fact not character-based, but byte-based in UTF-8 encoding, that is

[2021-03-29 15:36] FengYen-Chang commented on #2242
Hi @AlexeyKruglov Thanks for your comment.

Yes, I noticed it in `parse_trie_v6.py` and I am trying to enable `is_utf8_mode` based on the `parse_trie_v6.py` to enable the Chinese support, however, I still study `.kenlm` file and try to convert the `.scorer` to `.kenlm`.
If you have any recommendation on this, please let me know. Thank you.

[2021-03-30 10:15] vladimir-dudnik commented on #1849
@NSVR57 do you have any additional questions?

[2021-03-30 10:38] vladimir-dudnik commented on #2151
@kevkid do you have any additional questions?

[2021-03-30 11:10] kunalgaurav18 opened #2257 "Not able to run human pose estimation demo human_pose_estimation_demo.py"
Hi

I completed the setup of openvino on windows 10.
I am running openvino version 2020.3 and python version 3.6.

I downloaded the python file(human_pose_estimation_demo.py) and model.lst(present in the same folder) file from github.

Now when I run the following command:

`python human_pose_estimation_demo.py -h`

I get following error:

[code]

Cannot figure out what am I missing here.
Could so

[2021-03-30 11:37] vladimir-dudnik commented on #2257
Hi @kunalgaurav18,

it seems you installed some old version of OpenVINO 2020.3. We are glad to inform you that the latest version of OpenVINO 2021.3 was just released a few days ago, would not you mind to try the latest and greatest version?

Regarding the issue you met, the problem is that files you downloaded from Open Model Zoo github are correspond to new version of OpenVINO, while you have in

[2021-03-30 13:22] kunalgaurav18 commented on #2257
Thank you so much @vladimir-dudnik  for the quick help.

I have now installed OpenVINO 2021.3. The issue was really with the version of OpenVINO.
I am now able to run the model on CPU, GPU and MYRIAD.

Thank you.

[2021-03-30 13:22] #2257 closed

[2021-03-30 13:59] AlexeyKruglov commented on #2242
More details. (I will call the "character-based" mode the "UTF8-byte mode" below.)

1. The conversion utility (`scorer_to_kenlm.py`) seems to work in UTF8-byte mode with two changes: 1) removing that check with `if is_utf8_mode:`, and 2) one needs to pass proper `alphabet` argument to `trie_v6_extract_vocabulary()` function from `scorer_to_kenlm.py`. Like this:

[code]

    Currently the converter

[2021-03-31 09:05] wdkwyf opened #2260 "[Suggestion] Improve Pedestrain Trackor C++ Demo"
Hi, OpenVINO guys, I learn a lot from your Pedestrain Trackor demo, however I wonder why some intel model can't be supported in this demo.
Such as person-detection-0203, person-detection-0106. Only person-detection-0201/0202 are supported.

I notice it's because the detection output is a little different, could you please improve the demo to let's try more detection models, because I want to try c

[2021-03-31 09:57] vladimir-dudnik commented on #2260
@wdkwyf Thanks for your interest and feedback, we will review that. Especially it make sense, since we have introduced, so called, Model API, which is a model class hierarchy, intended to simplify and unify use of model different models, solving the same task, in apps

[2021-03-31 10:09] wdkwyf commented on #2260
@vladimir-dudnik , Thank you. The 'model api' you mentioned is public now?

[2021-03-31 15:07] vladimir-dudnik commented on #2260
@wdkwyf yes, you may take, for example, a look at C++ object_detection_demo (Python demo use similar approach) and you will find that a main application loop looks like (of course in simplified way):

std::unique_ptr<ModelBase> model;
model.reset(new ModelYolo3(FLAGS_m, (float)FLAGS_t, FLAGS_auto_resize, FLAGS_yolo_af, (float)FLAGS_iou_t, labels));

InferenceEngine::Core core;
AsyncPipeline pipeli

[2021-04-05 19:47] Daniil-Osokin commented on #2154
Hi! The network structure looks like ICNet described in the "[ICNet for Real-Time Semantic Segmentationon High-Resolution Images](https://arxiv.org/pdf/1704.08545.pdf)".